[2015-08-12 09:44] facchinm opened #27 "I2C behaves inconsistently when scanning bus"
If i2c bus is scanned for devices, reported results are unreliable

Modifying `int TwoWire::endTransmission(uint8_t sendStop)` in this way

[code]

we can get better results.

I believe that some flags (the ones reporting bus errors) are not cleared correctly and `ss_i2c_err(uint32_t dev_id)` callback is triggered more than needed

[2015-09-01 10:21] facchinm opened #32 "Unable to run any sketch after cdc-serial merge"
I think that, starting from commit d85aa9643ac15389004d05217e67d438d689916d, an updated ViperOS fw is needed for the core to work properly, because neither `Blink` executes.
Sharing here and on Basecamp to reach a quick solution :smile:

[2015-09-01 22:34] bbaltz505 opened #33 "Path variables are hard-coded to specific tools version"
Why are the uploader script  paths in platform.txt hard-coded for only version '1.6.4+1.0'?

platform.txt line #84:
tools.eduload.cmd.path.linux="{runtime.tools.sketchUploader-1.6.4+1.0.path}/clupload/cluploadEDU_linux.sh"

The uploader script cannot be found if sketchuploader is any version other than 1.6.4+1.0

[2015-09-22 18:38] #33 closed, assigned to nobody

[2015-10-08 17:54] #32 closed, assigned to nobody

[2015-12-19 20:03] soundanalogous opened #89 "txPin and rxPin are defined as global variables in SoftwareSerial.cpp"
Because the variables `txPin` and `rxPin` are defined as global variables in SoftwareSerial.cpp (`/CurieSoftwareSerial/SoftwareSerial.cpp`) they cannot be used in sketches. This is going to break a lot of existing sketches since they are commonly used variable names in sketches. Please make these variables private or prepend an underscore (`_txPin`) or make them more specific (`curieSwSerialTXPin`

[2015-12-19 20:06] soundanalogous commented on #89
Looks like `txPin` is no longer defined globally but `rxPin` still is: https://github.com/01org/corelibs-arduino101/blob/master/libraries/CurieSoftwareSerial/SoftwareSerial.cpp#L49

[2015-12-19 20:09] soundanalogous commented on #89
Also, I don't see any reason why `rxPin` can't be defined as a private property in SoftwareSerial.h because it is not ever used in the global scope. All use is within methods.

[2015-12-19 22:20] rwaldron commented on #89
I'd go further and require that this implementation must only expose those identifiers that the [SoftwareSerial](https://github.com/arduino/Arduino/tree/master/hardware/arduino/avr/libraries/SoftwareSerial) exposes.

[2016-01-04 00:29] soundanalogous opened #95 "[CurieBle] - Make connection interval configurable"
Currently the connection interval is hard-coded in ble_client.c to a [min value of 80ms and a max value of 150ms](https://github.com/01org/corelibs-arduino101/blob/master/libraries/CurieBle/src/internal/ble_client.c#L60-L61).

I have found by logging (via PacketLogger) and changing the min and max connection values in ble_client.c that the final interval that gets set seems to always match the max

[2016-01-04 01:19] soundanalogous commented on #95
According to the nRF51822 documentation the MIN and MAX connection interval the driver can handle is 7.5ms and 4s respectively: https://devzone.nordicsemi.com/documentation/nrf51/4.1.0/html/group___b_l_e___g_a_p___c_p___l_i_m_i_t_s.html#gac6071964ea94ef548da1beaf23f032da.

[2016-01-05 02:48] don opened #96 "iOS doesn't see changes to Bluetooth services and characteristics between sketches"
iOS doesn't see changes to Bluetooth services and characteristics between sketches

**To duplicate**

1) Run example CurieBle -> LED
2) Use [LightBlue](https://itunes.apple.com/us/app/lightblue-explorer-bluetooth/id557428110?mt=8) from iPhone to connect to LED
3) Run example CurieBle -> ButtonLED
4) Use LightBlue from iPhone to connect to ButtonLED (the old LED name will be show)

**Problem: The o

[2016-01-05 16:45] mwms opened #97 "Functions "*.disconnect()" and "*.end()" doesn't work"
example
ble_peripheral.end()
central.disconnect()

[2016-01-05 16:48] mwms commented on #96
I had the same problem. Turn off and then turn on the bluetooth on iPhone.

[2016-01-26 23:01] monteslu commented on #95
Agree 100%

Please allow this to be configurable.

[2016-01-30 21:49] soundanalogous commented on #95
@sandeepmistry do you have time to take a look at this within the next couple of weeks? If not could you point me to the code you mentioned a while back on gitter for setting the advertising the advertising interval and I'll try to take a pass at it. I think this is something you had implemented in arduino-BlePeripheral and mentioned it could be a good pattern to apply to CureBle for specifying th

[2016-02-01 18:55] francisc0garcia opened #112 "No I2c slave mode support in wire.h"
the callbacks

and

 are missing compare to previous versions. Now it is not possible to setup arduino 101 as slave to enable communications with other devices such as Raspberry or similar

Some overloads for method "begin" are also missing

[2016-02-02 11:00] Dan-Emutex commented on #112
@francisc0garcia Arduino 101 does not support I2C Slave Mode at the hardware level - only Master Mode is supported.  That is why those callbacks are missing.

[2016-02-03 22:16] kitsunami commented on #89
Please review. If not fixed, assign to Sidney.

[2016-02-03 22:42] soundanalogous commented on #89
It was fixed: https://github.com/01org/corelibs-arduino101/pull/101#issuecomment-173016516.

[2016-02-08 15:19] jgithubs commented on #89
Verified as fixed on 2/8/16

[2016-02-09 08:20] francisc0garcia commented on #112
Thank you for explanation!

[2016-02-09 08:20] #112 closed

[2016-02-10 21:07] #89 closed

[2016-02-23 16:53] arfoll opened #123 "Can we get basic instructions?"
It would be nice if the readme could explain how to throw this bunch into the Arduino nightly IDE so I can use the latest stuff.

[2016-02-24 22:35] kitsunami commented on #123
@calvinatintel Please create a Readme

[2016-02-24 22:37] kitsunami commented on #97
To Sidney, to be worked on with JIRA 544.

[2016-02-24 22:40] kitsunami commented on #96
@noelpaz , please work with Sidney on this.

[2016-02-24 22:43] kitsunami commented on #95
@bigdinotech please reach out to @sandeepmistry to see where we are on this.

[2016-02-24 22:50] sandeepmistry commented on #95
@kitsunami @bigdinotech I've submitted #114 to resolved this.

[2016-02-24 22:51] noelpaz commented on #96
This could be a Light Blue issue rather than a Arduino 101 issue. For some reason the Light Blue App cache's the Peripheral address and instead of reading the local name in the Advertising packet it just remembers the old values. This even get's worse if you bond. I would suggest getting the nRF Master Controller App instead of Light Blue. Or as mention kill the app or do a rescan

[2016-02-24 22:58] sandeepmistry commented on #96
@kitsunami @noelpaz I've discussed this @calvinatintel.

I believe it's a caching issue with iOS in general, as @don mentioned if the Service Changed 0x2a05 characteristic is not present in the Generic Attribute Service 0x1801 iOS will cache all attributes even if the sketch changes them.

I suggest we do the following: add the 0x2a05 characteristic to the 0x1801 service by setting the  [services_

[2016-02-29 23:18] #123 closed

[2016-03-01 18:36] soundanalogous commented on #95
This was merged yesterday: https://github.com/01org/corelibs-arduino101/pull/114.

[2016-03-01 18:36] #95 closed

[2016-03-02 17:41] arfoll opened #130 "Error when using latest version from git on linux following the instructions"
I put this in the place of the 1.0.4/ board folder and when I hit 'verify' I get this:

[code]

[2016-03-02 18:34] bbaltz505 commented on #130
The zip actually contains a top-level folder (corelibs-arduino101-master). We should be extracting the contents of that folder into Arduino15\packages\Intel\hardware\arc32\<version>\

[2016-03-02 19:15] arfoll commented on #130
I did use the zip but cloned from git... Directly into that folder (it
didn't create a subfolder)
On 2 Mar 2016 18:34, "Brian Baltz" <notifications@github.com> wrote:

[2016-03-02 19:42] bbaltz505 commented on #130
If you clone the repo without any arguments, it will create a corelibs-arduino101 folder within 1.0.4/. I cloned the repo to "." and the IDE compiled ok.
`cd 1.0.4`
`git clone https://github.com/01org/corelibs-arduino101.git .`
So, as long as the contents (libraries, platform.txt, etc.) of the repo are in the 1.0.4 folder, things should work.

[2016-03-02 20:29] arfoll commented on #130
I added the '.'.. I'll double check tmrw but my guess is there's something
else. Are you using the nightly arduino build or the latest stable?
On 2 Mar 2016 19:42, "Brian Baltz" <notifications@github.com> wrote:

[2016-03-02 20:46] bbaltz505 commented on #130
I'm using the 1.6.7 IDE release

[2016-03-03 08:32] pricopb commented on #130
@arfoll, do you have any other directories, except 1.0.4, in the ".arduino15/packages/Intel-Test/hardware/arc32" directory?
If you do, please delete them and try again.

[2016-03-03 09:47] arfoll commented on #130
Indeed @pricopb I'd kept the old folder as backup named `dudeman` :). I made a PR to improve the instructions

[2016-03-03 16:30] bbaltz505 commented on #130
Thanks Brendan. We'll add the note. Are you using a nightly IDE build? I'm told that this is a known issue but I don't know if it has been fixed yet.

[2016-03-03 16:46] arfoll commented on #130
No this was on the release 1.6.7 one on 64bit linux.

[2016-03-03 16:46] #130 closed

[2016-03-05 01:09] deadprogram commented on #130
Hi, @arfoll & @bbaltz505

I have a similar problem with the 1.6.7 release on 64bit Linux. However, in my case I do not have any extra folders in my `~/.arduino15/packages/Intel/hardware/arc32` directory.

My error message is:

[code]

I followed the same procedure to do the in-place manual install. Able to compile, but not upload.

[2016-03-05 01:11] calvinatintel commented on #130
@deadprogram The latest tools were updated to be incompatible with past releases. I recommend that you update both the corelibs and the tools at the same time.

[2016-03-05 01:14] deadprogram commented on #130
@calvinatintel so I need latest nightly build of Arduino?

[2016-03-05 01:15] calvinatintel commented on #130
@deadprogram Here is the tools: https://github.com/01org/intel-arduino-tools. Replace `~/Library/Arduino15/packages/Inte/tools/arduino101load/<version>`.

[2016-03-05 01:20] deadprogram commented on #130
Thanks, @calvinatintel

Any particular version of Golang needed to compile that utility?

[2016-03-05 01:22] calvinatintel commented on #130
@deadprogram We just used the latest one. The precompiled version should work out of box though. Be sure to copy the correct branch for your OS.

[2016-03-05 01:33] deadprogram commented on #130
Was able to compile, then copied the file to `~/.arduino15/packages/Intel/tools/arduino101load/1.0.4/arduino101load`

but still seems like the `runtime.tools.arduino101load.path` is not set correctly?

[2016-03-05 21:42] soundanalogous commented on #130
Same issue on OS X. Something is missing beyond adding `~/Library/Arduino15/packages/Intel/tools/arduino101load/<version>/arduino101load/arduino101load`

I get this error:
[code]

The path arduino101load director does not exist within tools. I tried adding within the existing `sketchUploader` directory (`sketchUploader/<version>/arduino101load/`) but that does not work either. I suspect there is a

[2016-03-05 21:49] StevenShuoFeng commented on #130
@soundanalogous
These tools are not available when you install the 'Intel Curie Boards' library from Arduino IDE. However, the platform.txt under `Library/Arduino15/packages/Intel/hardware/arc32/1.0.4/` in this repo is using 'arduino101load' in the bottom compile patterns part.

I solved this problem by replacing the platform.txt with the old one at the same location:

1. Delete the Curie library

[2016-03-05 21:52] soundanalogous commented on #130
@StevenShuoFeng works great, thanks!

[2016-03-06 23:12] bbaltz505 commented on #130
@deadprogram, we use Go version go1.5.3. Older versions may have issues. I know I had problems with the default version on Ubuntu 12.04 (go1)

[2016-03-08 18:14] bbaltz505 opened #142 "Klocwork issues in CurieEEPROM"
Klocwork found 2 issues in CurieEEPROM:

- CurieEEPROM.cpp (line 69):
Array 'blockdata' of size 128 may use index value(s) 128..511
[code]
Same issue on:
- CurieEEPROM.cpp (line 127):
- CurieEEPROM.cpp (line 132):

[2016-03-08 18:18] bbaltz505 opened #143 "Klocwork issue in stdlib_noniso.cpp"
In cores/arduino/stdlib_noniso.cpp (line 153):

function 'sprintf' possibly accepts format string that may be influenced by user, causing format string vulnerability. Undefined string lengths can lead to buffer overflows and potential exploitation by attackers. Use a defined value for string lengths.

[code]

[2016-03-08 19:16] bbaltz505 commented on #142
PR #144 fixes these issues

[2016-03-11 20:57] bbaltz505 commented on #142
Latest KW scan of corelibs shows that the EEPROM issues were fixed

[2016-03-11 20:57] #142 closed

[2016-03-11 21:10] bbaltz505 commented on #143
Hi @facchinm can you take a look at this? We do static code analysis of corelibs code with a tool called Klocwork and it flagged this potential issue in stdlib_noniso.cpp. Does this look serious enough to fix or should we ignore it? See [this page](https://developer.klocwork.com/documentation/en/insight/10-1/sv-fmtstr-generic) for info on the defect type.

[2016-03-14 08:23] facchinm commented on #143
Hi Brian,
as defined in AVR libc manual [here] (http://www.atmel.com/webdoc/AVRLibcReferenceManual/group__avr__stdlib_1ga060c998e77fb5fc0d3168b3ce8771d42.html), the user is responsible for providing a char buffer big enough to contain the string, so IMO the vulnerability should not be considered a threat :smile:

[2016-03-14 14:02] bbaltz505 commented on #143
Thanks. I'll ignore future defects of this type.

[2016-03-14 14:02] #143 closed

[2016-03-15 09:20] PaulStoffregen opened #149 "Please support calibrated accel & gyro in CurieIMU's API"
Please consider adding APIs for Arduino users to get properly scaled data, with the conversion factor done inside the CurieIMU library.  There are at least two reasons why I hope you'll do this:

1) The library can "know" which range is in use, to automatically perform the scaling correctly.  In the examples, like **File > Examples > CurieIMU > Accelerometer**, if a novice Arduino user edits [line

[2016-03-22 12:38] PaulStoffregen opened #150 "CurieIMU Doesn't Provide API For Sync To Gyroscope Rate"
CurieIMU allows the gyroscope measurement rate to be controlled with these functions:

https://www.arduino.cc/en/Reference/CurieIMUsetGyroRate
https://www.arduino.cc/en/Reference/CurieIMUgetGyroRate

However, there does not appear to be any API for an Arduino sketch to actually read the data at the proper rate.  Functions like readGyro() return the stored data from hardware registers.  If called r

[2016-03-22 14:11] Dan-Emutex commented on #150
The suggestion to provide an available() function makes sense.

Another option which may help, along with this, would be to extend the API to make better use of the FIFO on the IMU to provide synchronised accel/gyro samples which are timestamped by the IMU.

[2016-03-22 15:33] PaulStoffregen opened #151 "Orientation Visualizer doesn't show pitch & roll properly"
The Processing-based orientation visualizer examples doesn't display properly.  Pitch and roll are only shown independently when yaw is 0 or 180 degrees.  When yaw is 90 degrees, they display the same!

https://www.youtube.com/watch?v=SHJ2n1Kwe58

Here is the page where the orientation visualizer code appears.

https://www.arduino.cc/en/Tutorial/Genuino101CurieIMUOrientationVisualiser

[2016-03-23 15:59] agdl opened #152 "wrong master_reader example in Wire library"
The example must be similar to the one shipped in the standard Arduino core. In particular Serial must be initialized instead of Serial1 and the

```Wire.requestFrom(8, 6,false);    // request 6 bytes from slave device #8```

must not have the additional false parameter

[2016-03-24 14:11] PaulStoffregen commented on #151
I've created a fixed version.

https://github.com/arduino-libraries/MadgwickAHRS/blob/master/extras/Visualizer/Visualizer.pde

[2016-04-01 01:09] mjs513 opened #155 "Zero Motion Detection Example Sketch"
Recommend a example sketch be provided for zero motion detection using the CurieIMU.  Would be advantages to for trying to get odometry implemented.

[2016-04-05 13:07] mjs513 opened #158 "Potential Conflict between c++ vector class and CurieBLE"
I am trying to run a sketch using the c++ lib vector (#include <vector>) but there seems to be a conflict with CurieBLE.  The sketch works fine without the include <vector> .  Any suggestions would be appreciated.

Here is a list of the error messages:

[code]
I posted this on the arduino101 forum but no takers. The sketch can be downloaded from the [forum](Conflict between Include <vector> and Cu

[2016-04-11 20:02] mjs513 commented on #158
Update:  I downloaded the new Arduino-builder that should have fixed the issue per faccihm however it still threw the same error.  I also used the new builder with an old sketch that worked fine (no vector or strange calls) and it balked at the following:

In main sketch I do a call like so:
`
uint8_t count = serial_busy_wait();`

It states that serial_busy_wait() is not defined in this context or

[2016-04-11 21:33] mmcpheeters opened #162 "CurieIMU not using stored calibration values correctly (as expected) after reset"
Hi,

I am following the CurieIMU examples for calibration on power up, and comments saying
call setAccelerationOffset() and setGyroOffset() instead.

The values I write to the Curie's EEPROM as the result of the last calibration are not being
used after master reset (a new startup, which could occur after the device has been calibrated
once initially).  I load them from the EEPROM, verify that the

[2016-04-13 00:04] mmcpheeters commented on #162
doh..I take most of this back!

I just discovered that I don't even have the current CurieIMU.cpp source with the most recent fixes (changing int offset to float, etc.)

offending methods still look like this:

void CurieIMUClass::setAccelerometerOffset(int axis, int offset)
{
    if (axis == X_AXIS) {
        setXAccelOffset(axis);
    } else if (axis == Y_AXIS) {
        setYAccelOffset(axis);

[2016-04-13 00:26] mmcpheeters commented on #162
So sorry :(...can be closed.

Not a bug, just lagging source library.

Already fixed here (I duplicated changes and now I get low calibrated values even after master reset).

So, just apparently not yet available for update to CurieIMU in the Arduino IDE.

[2016-04-14 18:09] mjs513 opened #166 "Need a setClock function in Wire Library"
To effectively use the i2c bus users need a way to programmatically change the I2C bus speed.  Currently this is implemented for most of the Arduino boards like the mega as well as the teesnsy.  Many sensors that would be connected to the bus would benefit from this ability.

[2016-04-16 03:05] dgdosen opened #168 "Can't upgrade my Aruduino 101 board version on Arduino 1.6.8"
I just picked up an Arduino 101 and tried to run a sketch a bit more complicated than blink...

First off - I get an error trying to load Board Support via the Arduino Board Manager to 1.0.5 because of this error:

[code]

That's pointing to this repo.... and to a file that does not exist.  Any ideas on how to fix this?

[2016-04-16 20:37] bbaltz505 commented on #168
Hi.
Is this still an issue for you? I had another report of the download not working. GitHub may have been down briefly.
Brian

[2016-04-19 05:30] dgdosen commented on #168
Seems to be resolved, but I don't think it was caused by github being down.  I think it was caused by the link not working...

[2016-04-19 05:30] #168 closed

[2016-04-19 19:36] Harikrishnan-Selvaraj opened #169 "Unable to broadcast message using BLE"
Am using Arduino-101 and I'm trying to broadcast my messages through BLE. Is there any possible way to broadcast the message without pairing or connecting to central device, so that all available devices can receive my message?

[2016-04-20 21:57] bigdinotech commented on #166
Hi, I added the functionality to change the I2C clock speed. The PR is under review.

Meanwhile, you can try it out here:
https://github.com/bigdinotech/corelibs-arduino101/tree/i2cclock

[2016-04-21 01:37] mjs513 commented on #166
Hi bigdinotech
I downloaded the updates per the instructions.  I decided to run the test on the new Teensy Prop Shield that has two I2C sensors from NXP (FXAS21002C and the FXOS8700CQ).  Running 1024 sensor reads using both sensors here is what I got (average of 1024 reads);

slow = 69 milliseconds
fast = 68 milliseconds

Not much of a difference the bus speed change.   Do you have a test case I c

[2016-04-21 06:30] mjs513 commented on #166
Hi.  Hooked up a MPU-6050 sensor to the mega and 101 here are the results:
                 100hz          400hz
Mega         0.426           0.178 milliseconds
101            4.28             3.29   milliseconds.

all I can say is something does not make sense with the 101 and the I2C implementation
Hope this info helps
Mike.

[2016-04-21 17:00] bigdinotech commented on #166
@mjs513 can you give a link to the library you are using?
I have hunch that Wire.begin() is being called inside that library and thus overriding the speed back to 100Khz

[2016-04-21 17:28] mjs513 commented on #166
@bigdinotech I did too so I looked at all libs used and deleted the wire.begin's in the [FXOS8700CQ ](https://github.com/mlwarner/fxos8700cq-arduino.git)and the  [FXAS21002C ](https://github.com/sabas1080/FXAS21002C_Arduino_Library.git)libraries.  There are calls to wire.begintransmission(addr) etc. I also looked at the [I2Cdev lib and the MPU60xx ](https://github.com/mjs513/FreeIMU-Updates/tree/m

[2016-04-21 20:26] bigdinotech commented on #166
@mjs513 I just tried the example sketch from the FXAS21002C library.
I have a scoped attached to SCL and I can see the clock getting faster as expected.
Do you have access to a scope? What clock speed are you getting on the SCL pin?

[2016-04-22 00:41] mjs513 commented on #166
@bigdinotech I have access to a usb scope but now can't get a nice clean signal but from what I am seeing at I2CSLOW the freq varies from 0.058 kHz to 0.086 kHz using a 20ms time div. At I2CFast I get a pretty steady reading of 0.058 kHz using the same settings.  Go figure.  I am attaching the screenshots so you can interpret for me - I really have no idea what I am doing with the scope yet.
Thank

[2016-04-22 17:59] bigdinotech commented on #166
@mjs513 I think if you zoom in more into the signal you would see that the clock speed is correct.

[2016-04-22 19:22] mjs513 commented on #166
@bigdinotech  I believe you.  Like I said I am not very good with a scope.  Anyway so if the clock speed has increased (I am assuming slow is 100 and Fast is 400) why such a difference in the sensor read timing tests between the mega and the Curie?  Why no change in the timings between slow and fast on the curie? Is this a separate issue or am I doing something wrong?

Thanks for your help
Mike

[2016-04-25 03:48] mjs513 commented on #166
@bigdinotech Would it be possible to add a function that does the same thing called Wire.setClock(xxxxxxx); - this would make it similar to existing calls to setClock in the Arduino wire library.  The function would just do a wire.begin(I2C_SPEED_FAST) or wire.begin(I2C_SPEED_SLOW) if xxxxxx is 4000000 or 4000000L.  It would avoid the user having to change existing code if they are moving a sketch

[2016-04-25 17:04] bigdinotech commented on #166
@mjs513. I'll take a look at it

[2016-04-25 18:47] mjs513 commented on #166
@bigdinotech Thank you.  I hate keep testing for the board in the code, there are getting to be too many.  I think something simple like in wire.cpp:

[code]
I still do not understand the differences in the read speeds between the curie and the mega.

[2016-05-03 22:21] eriknyquist commented on #169
Hi @Harikrishnan-Selvaraj , if you have question about how to use the API please direct them to the forum https://forum.arduino.cc/index.php?board=103. If you have found a bug, or you believe that a new feature is needed, please provide specific details about the bug or the feature so that we can help you more effectively.

[2016-05-06 14:03] Halfloafwhr opened #175 "Cannot pull versions 1.0.5 or 1.0.4 from the Arduino Boards Manager"
Hello! I received my first Arduino101 in the mail yesterday, and when trying to add the board via the Boards Manager, I see the error "Error downloading https://github.com/01org/corelibs-arduino101/archive/1.6.4+1.68.zip".

Is this an error with how the code is structured here at Github, or is it an error with the information stored in the boards manager?

Thank you!

[2016-05-06 14:04] Halfloafwhr commented on #175
Well, I just clicked the link in my comment above, and received a .zip file.  The installation still will not function, though.  How do I manually associate this with the board in the Arduino IDE?

[2016-05-06 14:08] apiascik opened #176 "CurieIMU scoping of methods makes sub-classing difficult."
I need more functionality from the BMI160 than the Curie board library makes available. I also prefer /require access to several methods from the BMI160 class that the CurieIMU class now wraps/hides.

I am requesting that the following functions be made protected to allow for CurieIMU subclassing:
[code]

In addition, I am requesting that any BMI160 class functions the CurieIMU class wraps/hides b

[2016-05-06 21:00] eriknyquist commented on #175
Hi @Halfloafwhr, could you give details about your operating system please?

[2016-05-06 23:12] twobones opened #177 "_value buffer allocation error in CurieBLE BLECharacteristic.cpp"
On line 40 of BLECharacteristic.cpp, the code in the constructor is "malloc(_value_length)".  However _value_length was initialized to 0.  I believe the code should read "malloc(_value_size)" which was just calculated.  Testing indicates that malloc(0) seems to round up to 16 bytes of allocation, because any BLE message of 16 bytes or less works fine.  Messages longer than this overflow the buffer

[2016-05-06 23:17] SidLeung commented on #177
This is a bug.  A JIRA ticket has been created.  Will be corrected on the next Core Library (JSON) release.  Also, please note that there is a #define limit on the buffer size.  You can increase that limition to less than or equal to 200 bytes, if needed.

[2016-05-09 20:07] calvinatintel commented on #175
Have you tried following the guide on Readme? https://github.com/01org/corelibs-arduino101/blob/master/README.md

[2016-05-09 20:16] bbaltz505 commented on #175
Another user (issue #168) reported a link failure during a Board Manager install.He retried shortly later and it worked. Links to releases seem to fail at times it seems (both on Fridays in this case).

The easiest solution would be to uninstall the Curie package (if it is listed in Board Manager) and reinstall.

[2016-05-11 13:32] Halfloafwhr commented on #175
Hi!  My operating system is Windows 7, 64-bit.  I have tried the guide on the ReadMe, but after copying the files over to the proper directory, I cannot select the Arduino101 on the list of installed boards.

[2016-05-11 18:19] apiascik opened #181 "CurieIMU get/set FreefallDetectionThreshold() implementations don't match datasheet"
According to the [BMI160 datasheet](https://ae-bst.resource.bosch.com/media/_tech/media/datasheets/BST-BMI160-DS000-07.pdf):

Based on that, a value of 1 would make the threshold 7.81. Plugging in the default value (0x30), we get 374.88.

The implementation of getFreefallDetectionThreshold() and setFreefallDetectionThreshold(), however,  returns Val(int_low_th<7:0>) \* 7.81 mg **\+ 3.91** for Val(

[2016-05-11 21:06] Halfloafwhr commented on #175
Ah! It looks like it was an issue with my company's firewall.  It has been resolved.  For some reason, I couldn't download the drivers for Intel chips, while I could for the other arduino boards that I'm using.

Thank you for the time and attention!

[2016-05-11 21:06] #175 closed

[2016-05-15 12:30] dadez87 opened #183 "setGyroOffset bug"
I found a bug in "setGyroOffset" function.

`void CurieIMUClass::setGyroOffset(int axis, int offset)
{
    if (axis == X_AXIS) {
        setXGyroOffset(axis);
    } else if (axis == Y_AXIS) {
        setYGyroOffset(axis);
    } else if (axis == Z_AXIS) {
        setZGyroOffset(axis);
    }

    setGyroOffsetEnabled(true);
}`

Instead of "axis", "offset" should be written. Otherwise, the offset is

[2016-05-15 18:18] eriknyquist commented on #183
Hi @dadez87, if you look in https://github.com/01org/corelibs-arduino101/blob/master/libraries/CurieIMU/src/CurieIMU.cpp you'll see that these functions are using the 'offset' value. Perhaps you are looking at an old version?

[2016-05-15 18:28] eriknyquist commented on #183
@dadez87 looking at the history I can see this was fixed in February
https://github.com/01org/corelibs-arduino101/commit/e8b8a5db546696735d5de38e58253b75cb411e7a

If you take the latest version from Github then you won't have this issue.

[2016-05-16 07:52] facchinm opened #184 "Arduino 101 - McAffee reports trojan in arduino101load.exe"
Issue opened by @VisualMicro in  https://github.com/arduino/Arduino/issues/4952

_Running windows and 1.6.9._
_I just installed the 1.0.5 Intel core. The previous 1.0.4 was ok._
_McAffee report attached._

![image](https://cloud.githubusercontent.com/assets/8843437/15283590/f0f10204-1b4b-11e6-8c14-9ead16303501.png)

[2016-05-16 16:14] bbaltz505 commented on #184
I pulled the source for the 1.6.4+1.19-windows tag and built it. Initially, there were significant differences between the rebuilt binary and the one in GitHub but then I noticed many of them were a build path. Once I renamed the source folder to match the original build folder name then the rebuilt and released binaries match exactly.
This is built on an Ubuntu 12.04 LTS 64-bit with:
* go version

[2016-05-16 16:19] facchinm commented on #184
It's obviously a false positive, sorry for not reporting it earlier :smile:
The build from sources matches with the binary

[2016-05-16 16:30] VisualMicro commented on #184
Good news. Thanks for investigating so promptly. I will report it to McAffee.

[2016-05-16 16:34] calvinatintel commented on #184
The `.go` scripts in the [same directory](https://github.com/01org/intel-arduino-tools/tree/9282cb2ff5bb50f819bcd7f4af6adcb1f69e05b9/arduino101load) are the source for the `arduino101load.exe` for those who want to compile their own copy.

[VirusTotal scan](https://www.virustotal.com/en/file/4a0b2a35f6c7e1db393cc39d9be7c32c6b6c130c032c5ad470e1d15bef7316bf/analysis/1463415618/) detects 8 out of 56

[2016-05-16 16:37] #184 closed

[2016-05-16 18:04] dantler opened #185 "Arduino101-specific #defines?"
I tried to port a library to Arduino101. This library was written for AVR and depended upon `<avr/interrupt.h>`, but I wanted to see if I could use `#ifdef` to swap in Arduino101-specific replacement routines.  I looked around but could not figure out which `#ifdef` to use!  I tried to export the cross-compiler's built-in #defines to see if I could detect the ARC architecture, but the export faile

[2016-05-16 18:08] intel-larry commented on #185
Try:

#if defined(__ARDUINO_ARC__)

From: David Antler <notifications@github.com<mailto:notifications@github.com>>
Reply-To: 01org/corelibs-arduino101 <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Monday, May 16, 2016 at 11:04 AM
To: 01org/corelibs-arduino101 <corelibs-arduino101@noreply.github.com<mailto:corelibs-arduino101@noreply.github.com>>
Subject: [01org/corelibs-arduino101]

[2016-05-17 01:50] dantler commented on #185
Thanks!  This works.

In case anyone else looks at this, I found out that I could limit the scope of my Arduino library inside a [properties file](https://github.com/arduino/Arduino/wiki/Arduino-IDE-1.5:-Library-specification).  Arduino101 seems to use `arc32` as its architecture.

[2016-05-17 01:50] #185 closed

[2016-05-17 05:31] Damieneti opened #186 "Scan Response capabilities missing"
It would be a great feature to add the BLE 4.0 Scan Response capabilities as described there: [http://www.argenox.com/bluetooth-low-energy-ble-v4-0-development/library/a-ble-advertising-primer/](url)

[2016-05-23 17:59] vshymanskyy opened #190 "millis() returns broken value if CurieIMU is accessed from interrupt context."
https://forum.arduino.cc/index.php?topic=391836.0

Having same issue but  with extensive CurieBLE usage...

[2016-05-23 18:03] vshymanskyy opened #191 "BLECharacteristic.setValue(buff, len) blocks for 60-90 ms."
Is such a big blocking time expected?

[2016-05-23 19:44] SidLeung commented on #190
Please provide Sketch output and the expected output.  Thanks.

[2016-05-24 16:03] gianzalone77 opened #192 "Error in member class CurieIMUClass::setDetectionDuration(int feature, float value) in CurieIMU.cpp"
Hello,
I'm using the CURIE_IMU_ZERO_MOTION and I think there is an error at line 769 in CurieIMU.cpp file. Please see the case CURIE_IMU_ZERO_MOTION in the following code.
Regards,
Giuseppe

[code]

[2016-05-26 12:46] gianzalone77 commented on #192
@jgithubs  I've found the same error also in member function:
CurieIMUClass::getDetectionDuration(int feature, float value)

[2016-05-26 22:52] vshymanskyy commented on #190
For example, millis() sometimes returns value which is less then previous calls, and then returns to normal on the next call.
This looks like interrupt locking problem, and is reproducible not only with ```millis()```.
This happens regularly when IMU or BLE is used frequently.

[2016-05-26 23:40] SidLeung commented on #191
The time taken for setValue to complete depends on the operation.  For instance, the BLE data transfer is done by notification.  A host is connected (subscribed) to your board and it is driving the connection interval at 60 msec.  When your application (Sketch) calls setValue(), the BLE stack can only transfer the data to the host on the next connection which is 60+ msec away.  If you average the

[2016-05-27 00:04] SidLeung commented on #97
Please note that the current Arduino platform can only be a Peripheral, no Central features are available.  If you are trying to finding out if your board is still connected to the host, you can use the method, BLECentral::connected().

[2016-05-27 13:24] sandeepmistry commented on #97
@SidLeung I looked into this a few months ago, the issue is ```central.disconnect()``` does not trigger a disconnection of the connected central. From what I remember the handle book keeping in `CurieBLE` looked ok, I suspect there is something wrong on the nRF51 f/w side or incorrect messaging format.

[2016-05-27 15:30] SidLeung commented on #97
@sandeepmistry Thanks for the info.  Will track that down,

[2016-05-27 22:19] kitsunami commented on #183
@eriknyquist, can you close this if it is fixed in current JSON releases?

[2016-05-31 13:19] apiascik opened #201 "DFU USB descriptor length doesn't match string"
Not sure if this is the correct place to report this but...

In the file arduino101_firmware_source-v1/arduino101_firmware/bsp/bootable/bootloader/chip/intel/quark_se/defu_desc.c, lines 211-216:

[code]

`.bLength` is based of the string `"QRK_SE-Dev1.0"`, whereas`bString` is set to `"ATP-Dev1.0"`.

[2016-05-31 23:26] calvinatintel commented on #201
@bigdinotech @SidLeung @eriknyquist Please review

[2016-06-01 10:51] vyuke opened #205 "The PWM do not work when gyro is working"
hi, when i use an arduino101 to controlling LED by PWM via the internal IMU . i find PWM is not work,i could not figure it out ,could you help me?

[2016-06-01 17:16] SidLeung commented on #155
New IMU example Sketches for Free Fall, Zero Motion are provided in the Bellatrix release.

[2016-06-01 17:19] SidLeung commented on #177
This issue is corrected in the Bellatrix release.

[2016-06-01 17:20] SidLeung commented on #192
This issue is corrected in Bellatrix release.

[2016-06-01 17:34] SidLeung commented on #205
Would you please provide the following info:

1. Are you using the software PWM (CurireTime1PWM) or the hardware PWM.
2. How do the two modules, IMU and PWM, interact with each other.
3. How do the modules work together for the goal of your project.

Thanks.

[2016-06-01 18:06] mjs513 commented on #186
This may resolve a problem I am having with getting BLE to work with Processing3 using a BLED112 - not 100% that is the problem since it seems to work fine in Python itself.

[2016-06-01 18:10] mjs513 commented on #155
Thank you.  I will give a try as soon as I get some time.  Was having a devil of a time getting it to work properly

[2016-06-01 19:54] eriknyquist commented on #205
@vyuke can you also provide the sketch, and give details about expected output vs. actual output, please.

[2016-06-01 22:18] gianzalone77 commented on #192
It seems that the latest version still has the issue.

[2016-06-02 01:36] calvinatintel commented on #192
Hi @gianzalone77, by "latest version", do you mean the latest tip of the repo, or the latest release? A new release with the fix hasn't been published yet.

[2016-06-02 02:17] mjs513 commented on #155
Ok.  Just tried to compile the ZeroMotionDetect and  MotionDetect sketches and received the following error messages on compile:

arc-elf32-g++: error: unrecognized argument in option '-mcpu=quarkse_em'

arc-elf32-g++: note: valid arguments to '-mcpu=' are: ARC600 ARC601 ARC700 ARCv2EM ARCv2HS arc600 arc601 arc700 arcem archs

[2016-06-02 02:26] bbaltz505 commented on #155
Ah, the latest corelibs requires a newer toolchain:
https://downloadmirror.intel.com/25470/eng/arc-toolchain-windows-arcem-1.0.1.zip (Windows)
https://downloadmirror.intel.com/25470/eng/arc-toolchain-osx-arcem-1.0.1.tar.bz2 (OSX)
https://downloadmirror.intel.com/25470/eng/arc-toolchain-linux64-arcem-1.0.1.tar.bz2 (Linux64)

Extract one of these to replace your toolchain (compiler) files in .arduin

[2016-06-02 02:47] mjs513 commented on #155
Will give it a try.  Just to double check the toolchain is 1.6.2+1.0 replacing 1.6.4+1.0: going backwards in the numbering?????

[2016-06-02 03:11] mjs513 commented on #155
hi @bbaltz505.  Just gave it a try and seems to work.  There does seem to be a lag between moving the board and when the interrupt is tripped.  It gets better as I reduce values.

Mike

[2016-06-02 07:53] gianzalone77 commented on #192
A.. ok! Thank you @calvinatintel, I meant the latest available on the repo.

[2016-06-13 21:57] #27 closed

[2016-06-14 12:20] bootchk commented on #191
Possibly the original question is: SHOULD the call block?  For example, in a different library, the Android BLE library, the documentation says their version of setValue() "sets the local value", and apparently it doesn't block.  And that library has another function, writeCharacteristic(), that also notifies any connected central client.  I could be wrong, I haven't used either library.

Another

[2016-06-14 17:37] SidLeung commented on #191
The setValue() routine is a blocking call.  The routine will not return until it has completed its task successfully or unsuccessfully.  setValue() first store the data for any Central to "read".  If there is subscription and "notification" is set, it will make use of the next BLE connection interval to send a frame of data to the Central.  Please note that notification is limited to 20 byte of da

[2016-06-15 01:19] Mos-Fett opened #212 "Linker using DCCM instead of SRAM"
In testing how much memory I could use on the Arduino 101 I found that I was limited to ~8KB instead of the 24KB of SRAM advertised. I opened a post on the Arduino forums explaining the details of my findings (linked here: http://forum.arduino.cc/index.php?topic=406411.0), but I was referred to the Intel Github after being told that it could be an issue with the linker using DCCM instead of SRAM.

[2016-06-15 18:52] eriknyquist commented on #212
@Mos-Fett at first glance it looks like SRAM is indeed being used, in fact it doesn't look like DCCM is being used at all. You'll notice in that linker script that a start address for DCCM is define but it is never used. It may also be the case that SRAM is just full; a lot of it is used by core libraries to make your sketch work. I will investigate further and reply later today.

[2016-06-15 22:39] eriknyquist commented on #212
Short answer; no, this isn't a bug in the linker script, and there is indeed 24k of SRAM available. It's just full!

Longer answer; a lot of the SRAM is in use is in use to make your sketches work.
If we look at the linker script in variants/arduino_101/linker_scripts/flash.ld, you will notice that this 24k of SRAM contains; the stack, the heap, .bss section and .data sections.

I analysed the .ma

[2016-06-16 01:01] Mos-Fett commented on #212
Interesting. Thanks @eriknyquist for the help, that is some really good information to have and certainly explains my question.

[2016-06-16 03:18] idone-wangqiang opened #213 "how to modify value of Characteristic"
I want to modify the BLEWrite's value  from  0x02 to 0xFEC9

the wechat airsync protocol require the ble device  provide  Write & Indicate Characteristic,the Write Characteristic 's value must be 0xFEC9,and Indicate Characteristic's value must be 0xFEC7.

I have modify the BLECharacteristic.h file like this :
`enum BLEProperty {
    // broadcast (0x01) not supported

    BLERead						 = 0xFEC9,

[2016-06-16 12:10] LeAlesk opened #215 "CurieBLE support for attribute length up to 512 bytes"
The current length limitation may be blocking when trying to implement some Bluetooth services including utf8 formatted strings characteristics.

in BLECommon.h:

[code]

[2016-06-16 18:15] q89123003 opened #216 "CurieBLE: advertise while connected to another device"
In BLE protocal, it is possible for a BLE peripheral to advertise data while connected to another central device.
Is it possible to modify the CurieBLE to allow BLE peripheral to at least keep advertise device name while connected to another central device?
As I trace  BLEPeripheral.cpp, I found that the private function _startAdvertising will return in the beginning if the _state != BLE_PERIPH_ST

[2016-06-16 18:23] SidLeung commented on #216
The reason for the Peripheral to stop advertising after a successful connection to a Central is to limit the connection to one Central at a time.  Not sure if, " allow[ing] BLE peripheral advertise while connected " is desirable.

[2016-06-16 21:49] SidLeung commented on #215
Please note that BLE Notification is limited to 1 BLE frame that can only hold 20 byte of user data and, thus, BLE_MAX_ATTR_DATA_LEN, is set to 20.  The #define can be changed to a higher limit (please keep it below 128) and send in all the data via the setValue() call.  There are two possible outcomes:
1.  The Central (host) read (poll for) the data out of the board (Peripheral), it can get all d

[2016-06-18 07:12] q89123003 commented on #216
Thanks for your reply.
I understand the reason. But I mean in BLE peripheral should be able to advertise unconnectable data while connected to central. However, CurieBLE seems not yet implemented the function of advertising data, therefore I say "at least" advertise device name.

[2016-06-20 07:17] 327 commented on #213
modify the uuid of Characteristic?

[2016-06-20 10:17] mjs513 commented on #215
There are some cases where you may want to send an attribute where the length is greater than 20.  I typically have string lengths that would to around 60. It would be nice to have a function call to change the attribute length without having to edit the API.  Avoids having custom mods to the corelibs.

Mike

[2016-06-20 16:32] SidLeung commented on #215
This feature is under development for the next release.  Stay tuned.

[2016-06-20 17:25] SidLeung commented on #216
Please note that the Peripheral acts as if it has disappeared from the sense (going dark) once it is connected to a Central by stop advertising.  This will prevent other Centrals to discover it and attempt to connect.

[2016-06-20 21:43] #177 closed

[2016-06-20 21:44] bbaltz505 commented on #155
hi @mjs513 . Have you tried this issue with the latest release (1.0.6)?

[2016-06-20 21:45] #183 closed

[2016-06-20 21:50] #212 closed

[2016-06-20 22:04] #169 closed

[2016-06-20 22:04] #162 closed

[2016-06-20 23:04] eriknyquist commented on #213
Hi @idone-wangqiang, you say "I want to modify the BLEWrite's value from 0x02 to 0xFEC9", but then in the code you show, you have set BLEWrite to 0xFEC7. As a result I'm not really sure what your question/problem is. Can you please do three things for me, so that I can help you;

1. Clearly state your intention, and show the code that you plan to use to achieve your intention.
2. State the expecte

[2016-06-20 23:39] eriknyquist commented on #190
@vshymanskyy the millis function reads a counter that requires a regular interrupt to be updated.
In the sample code shown at the link above, CurieIMU.readMotionSensor is being called from interrupt context; This function, like most CurieIMU functions, involves communicating with the BMI160 via SPI, so it takes up a lot of time. So much time that you apparently miss a bunch of timer interrupts, wh

[2016-06-21 05:31] idone-wangqiang commented on #213
Thank you very much for your reply.
My question is : How to modify the uuid of Characteristic in curieBLE library?

I don't know the default uuid  of Characteristic,but in arduino 101,

I want to set BLEWrtie's uuid to 0xFEC9,where can modify the uuid in curieBLE library ?

[airsync debugger](http://iot.weixin.qq.com/wiki/doc/blue/AirSyncDebugger2.3.0.apk)
This Android app can test the result.

[2016-06-21 17:57] eriknyquist commented on #213
@SidLeung do you know what the intention is here? Perhaps you can advise, in case I'm missing something.

@idone-wangqiang , If you would like to report a bug please follow the 3 steps I posted in my previous comment. If you have questions about how to use the BLE library then please direct them to the forum: https://forum.arduino.cc/index.php?board=103

[2016-06-21 17:58] eriknyquist commented on #205
@vyuke ping. Any updates?

[2016-06-21 17:59] eriknyquist commented on #201
Yep, that's a mistake alright, but we're not doing any firmware updates right?

[2016-06-22 23:33] jimdgit opened #220 "How do I set the option to use c99 on Arduino 101?"
I have extensive code that is in c99.
I have look thru the boards.txt file and can not find a way to turn on c99.
Note that no version of c++ can do what c99 does, so I really need to turn on c99 for this board.
Thanks, Jim

[2016-06-23 01:22] PaulStoffregen commented on #220
duplicate https://github.com/arduino/Arduino/issues/5063

[2016-06-23 03:13] jimdgit commented on #220
Paul, I was advised to post the issue here by facchinm, and he closed the issue so I would post it here.
So I don't really understand why you are marking it duplicate.
As for the example:
In  a file called test.c:
void f()
{
  for( int i = 0 ; i < 10 ;++i )
    ;
}
And the error from verify is:

'for' loop initial declarations are only allowed in C99 mode

Which is why I asked "how do I set c99 mo

[2016-06-23 17:16] eriknyquist commented on #220
@jmidgit can you post the code that requires C99 to compile, and show the compile error? is it in a .cpp or .c file?

[2016-06-23 17:16] oqibidipo commented on #220
`Arduino15/packages/Intel/hardware/arc32/<version>/platform.txt`
`Arduino15` is where `preferences.txt` is, you can its location in the Preferences dialog.

[2016-06-23 17:21] eriknyquist commented on #220
OK, I backtracked over the issue on Arduino's github, saw your C file.
Open the file that @oqibidipo mentioned and add **-std=gnu99** to **compiler.c.flags**. See if that works for you.

[2016-06-23 17:27] eriknyquist commented on #176
@SidLeung, can you see any issues with the above reg_* function delclarations being moved into "public" so users can access them?

[2016-06-23 18:21] SidLeung commented on #176
Understood the request for the accessing the BMI internals.  Please be aware, from our POV, the arrangement/decision of wrapping and hiding the BMI class/info behind the CurieIMU class.  In a future event, if it ever occurred, that the BMI160 is replaced, the significant changes would be limited within the boundary of the CurieIMU class.  The existing Sketches that utilize the CurieIMU would not b

[2016-06-23 18:48] jimdgit commented on #220
First thank you all for this information!
Arduino15/packages/Intel/hardware/arc32/<version>/platform.txt
On windows this is "hidden" in:
C:\Users\<your user name>\AppData\Local\
unlike the default ones that are in the install directory (that's why AI could not seem to locate these files)
I will try this tonight and post results.

[2016-06-23 19:11] jimdgit commented on #220
Ok, I can confirm that adding -std=gnu99 to compiler.c.flags. in Arduino15/packages/Intel/hardware/arc32//platform.txt solves all my issues.
Thanks again to @eriknyquist and @oqibidipo for taking time to help me out.

[2016-06-23 23:55] piroozn commented on #166
I don’t have the sensor you are using but I can test this using I2C RGB display board from my Grove kit plus. I will do that next week and let you know.
I think if you zoom in with scope and look at the clock frequency for the Atmel mega, you will find that it is running slower then 400khz and that may be the reason it is running faster. Slower communication without error can result in faster comm

[2016-06-24 00:33] mjs513 commented on #215
Thanks Sid.  Appreciate the info.

[2016-06-24 00:37] mjs513 commented on #155
Hi @bbaltz505 haven't tried it with the official release as of yet.  Been busy with my rover project and family issues.  Will give it another try.  Think the real problem is with the algorithm itself which is not an arduino 101 issue.  If I move the board slowly does not really register motion at least with the initial tests I made..  I have another method that implements a Zara/Zupt algorithm tha

[2016-06-24 01:20] mjs513 commented on #166
Hi @piroozn.  To answer some of your questions I am measuring the signal at the board pins while the sensors while the program is running.  The 6050 board is a GY-521.  It looks like the board has 4.7k pullups on the board already (attached), same for the propshield which is 3.3v powered while the 521 is powered from the 5v line.  On the 521 this is LDO to convert from 5v to 3.3v. I am attaching t

[2016-06-24 01:22] mjs513 commented on #158
Just out of curiosity is there any status on this and what the issue is?

[2016-06-24 01:45] eriknyquist commented on #158
Hi @mjs513, the link you posted is actually this: https://github.com/01org/corelibs-arduino101/issues/Conflict%20between%20Include%20%3Cvector%3E%20and%20CurieBLE.h

Can you post a link to the forum post you talked about?

[2016-06-24 02:08] mjs513 commented on #158
Believe this is the correct link.

https://forum.arduino.cc/index.php?topic=391375.0

Mike
On Jun 23, 2016 9:45 PM, "Erik Nyquist" <notifications@github.com> wrote:

[2016-06-24 02:11] mjs513 commented on #166
I just came across this on the forum that might be of interest.

https://forum.arduino.cc/index.php?topic=406458.0
On Jun 23, 2016 7:55 PM, "Pirooz Najafi" <notifications@github.com> wrote:

[2016-06-24 05:16] eriknyquist commented on #158
@mjs513 I downloaded your sketch and compiled it, and I still see those errors with `#include<vector>` in or not, not really sure why that made the errors go away for you.

So, about the errors; in C++, a function has to be defined or declared before it can be called. You're calling a bunch of functions in `setup()` that haven't been declared or defined yet. The first thing to do is make sure all

[2016-06-24 06:45] matthijskooijman commented on #220
Can we please fix this in the core itself? The compilation options should match those of the AVR and SAMD cores (which means using gnu11 and gnu++11 standards IIRC).

[2016-06-24 08:16] mjs513 commented on #158
@eriknyquist I am using IDE 1.6.7 for reference but I just installed 1.6.9 to keep things on the same footing.  So before rewriting the program I posted I decided to do a simple test.  I copied an example script on using vectors in c++ and it ran fine in both 1.6.7 and 1.6.9.  Next I used the EXAMPLE BatterMonitor sketch and merged the two to see what would happen since the example sketch is a rel

[2016-06-24 15:33] eriknyquist commented on #158
You are calling **`updateBatteryLevel();`** but there is no definition for it. Again, in C++, a function has to be defined or declared before you can use it.

[2016-06-24 17:04] mjs513 commented on #158
This is your example directly from the 101 examples provided with corelib.
The is no updatebatterylevel function in the example.
On Jun 24, 2016 11:33 AM, "Erik Nyquist" <notifications@github.com> wrote:

[2016-06-24 17:05] eriknyquist commented on #220
@matthijskooijman yes, there is `-std=gnu11` in the `compiler.c.flags` here:
https://github.com/arduino/Arduino/blob/master/hardware/arduino/avr/platform.txt
So we should match that I guess. I'll look into it.

[2016-06-24 17:06] #220 closed

[2016-06-24 17:07] eriknyquist opened #221 "platform.txt compiler.c.flags should contain -std=gnu11 to align with AVR core"
This issue was brought to light by the following question;
https://github.com/01org/corelibs-arduino101/issues/220

[2016-06-24 17:17] SidLeung commented on #221
Not sure if there is a requirement to make the Arduino 101 platform to align with the AVR core.  This may be a question for BaseCamp.

[2016-06-24 17:25] intel-larry commented on #221
Yes it should behave the same.

Sent from my iPhone

On Jun 24, 2016, at 10:18 AM, SidLeung <notifications@github.com<mailto:notifications@github.com>> wrote:

Not sure if there is a requirement to make the Arduino 101 platform to align with the AVR core. This may be a question for BaseCamp.

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it

[2016-06-24 17:42] jimdgit commented on #221
The whole idea is that code can move from one board to another with little or no change, so I would think it should be the same. (then boards like the MRK1000 move the led from 13 to 6)

[2016-06-24 17:42] eriknyquist commented on #158
@mjs513 there is indeed a definition for the updateBetteryLevel function, both in the latest version on github and on the released version that you download through the IDE boards manager. Perhaps you removed it and saved it by accident?

However, I see that that function is actually called before it is defined, and it compiles fine. If I add the <vector> include, then I get the "not declared in s

[2016-06-24 17:48] mjs513 commented on #158
I will double check the function call. Typically i put all my functions
after the loop or in another tab. They always compile without a problem.
This is even with the 101. The issue seems to be when i add the include for
vector.

Thanks for checking.
On Jun 24, 2016 1:42 PM, "Erik Nyquist" <notifications@github.com> wrote:

@mjs513 <https://github.com/mjs513> there is indeed a definition for the
u

[2016-06-24 18:19] eriknyquist commented on #158
OK so it turns out that while C++ does require functions to be defined/declared before being called, the Arduino builder gets around this by doing a first pass over your sketch and writing your function declarations for you. So, I was wrong about that-- you don't need to move your function definitions.

So the question now is, why does adding `#include <vector>` break that? Stay tuned to find out.

[2016-06-24 22:09] bigdinotech commented on #166
@mjs513
Can you try out:
https://github.com/bigdinotech/corelibs-arduino101/tree/i2cdelay
It includes the reduced delays for i2c and the ability to change to clock speed.
It based on Arduino101 corelibs 1.06 so you may have to update your core first.

[2016-06-24 23:21] piroozn commented on #166
Hi @mjs513

-        The 4.7k pullup for 6050 and 2.2k pullup for the AXIS boards are ok.

-        The interface board is using 3.3v for its VCC and Arduino 101 needs 5V logic

-        For internal pullup, look at the following link. pinMode(2,INPUT_PULLUP); https://www.arduino.cc/en/Tutorial/DigitalPins

-        On the Arduino 101, We have level shifter. Take a look at the data sheet for it an

[2016-06-25 01:30] intel-larry commented on #166
Hi Pirooz,

Actually the Arduino 101 is a 3.3v level board. The level shifters are used as protection devices, rather than level shifters. The board only produces 3.3v output. The buffers are used to protect the Curie from accidental exposure to 5 volts.

It only needs (and only produces) 3.3v signals, but 5v signals are perfectly save with it.

Larry Barras
I make stuff go.

From: Pirooz Najafi <

[2016-06-25 01:41] PaulStoffregen commented on #166
Both of these motion sensor chips are 3.3V devices.  They can't handle 5V either.

[2016-06-25 02:23] mjs513 commented on #166
I actually have the FRDM-STBC-AGM01 Sensor Shield from freescale that uses the same chipset as the propshield and seeing the same issues. Interesting that you are saying there is a level shifter. It was my understanding from the board description and a forum question was that the pins are 3.3v but 5v tolerant?

So for the propshield I would need a level shifter on sda/scl to get it up to 5v? Belie

[2016-06-25 02:39] intel-larry commented on #166
Yes, the Arduino 101 uses a particular type of level buffer that is automatic bi-directional and it uses it in a way that protects the Curie from over-voltage damage when exposed to 5v levels on its inputs.

The pins on the Arduino 101 will only produce a maximum logic level of 3.3 volts in output mode. It will not produce 5 volt output though. This is generally compatible with practically all 3.3

[2016-06-25 05:53] mjs513 commented on #166
Thanks for the info Larry - I2C has been driving me crazy as well.  Sorry I missed your previous post on the level shifters -- just read my emails and saw it and came back here to update..  I also just read the post from bigdinotech  on the update to the i2c lib for reducing the delays in the I2C lib. Will give that a try first to see what I get but probably won't happen until sometime this weeken

[2016-06-25 05:58] mjs513 commented on #166
Ok. I couldn't sleep so I decided to go ahead and test the timing changes for the 6050:

I2C_SPEED_FAST: 0.77 ms
I2C_SPEED_SLOW: 0.87 ms

It is definitely better. I will check the mega again tomorrow.

[2016-06-25 18:31] piroozn commented on #166
Thanks Larry,

Pirooz

From: intel-larry [mailto:notifications@github.com]
Sent: Friday, June 24, 2016 8:30 PM
To: 01org/corelibs-arduino101 <corelibs-arduino101@noreply.github.com>
Cc: Najafi, PiroozX <piroozx.najafi@intel.com>; Mention <mention@noreply.github.com>
Subject: Re: [01org/corelibs-arduino101] Need a setClock function in Wire Library (#166)

Hi Pirooz,

Actually the Arduino 101 is a 3

[2016-06-25 23:22] mjs513 commented on #166
@PaulStoffregen I agree with you 100% on performance.  I have been using and constantly updating Fabio Varesano FreeIMU code for the last couple of years and came across the I2C issues while I was testing both the FreeIMU library and adding a Magnetometer to the CurieIMU (bmi160).  The performance was very poor on the Arduino101 I started investigating the read and performance speeds using Fabio's

[2016-06-25 23:54] mjs513 commented on #166
Would still recommend  the following change to the wire.cpp file to add the following function to make a similar call to a wire.setClock function:

[code]
Your call.

[2016-06-26 00:19] mjs513 commented on #155
@bbaltz505 I got around to trying the examples for both zero motion and motion detect.  I think that should close this issue.  I have not checked if issue 181 would affect the performance but that is another issue.  Just as a note setting the right thresholds and durations can be a pain.

 I really like the performance of the Motion Detect Example better than Zero Motion.  Thanks for incorporating

[2016-06-26 00:19] #155 closed

[2016-06-26 00:21] mjs513 commented on #158
That is the million dollar question.  I have been staying tuned since I posted this issue back in April.  I believed that this maybe related to the question you asked me on the forum page.

[2016-06-26 14:06] mjs513 commented on #166
ALCON.  I ran another test of the 6050 on the Mega and 101 boards using the FreeIMU library and rerunning the I2C speed test again. Here are the results:

FreeIMU Performance Tests:

 Mega 2560:

Arduino 101 (i2cFast):

A little surprised so I reran the i2C speed test for sensor reads on the Arduino 101:

So I am not sure now what is really going on with timing results unless I was seeing hallucin

[2016-06-26 15:38] piroozn commented on #166
Hi @mjs513
Looks like I was looking at the voltage translator wrong. You don’t even need the internal pullup.
If you want to measure the timing using another method then you can toggle a pin and measure it with scope. Before and after the operation to measure.
Can you change your start and stop micros() in you code to measure the wire.write statement to measure the I2C write or read and measure wi

[2016-06-26 16:04] mjs513 commented on #166
Hi @piroozn I would say it is a code issue but the same code is used on the mega and 101, only difference is the libraries and board code.  Yes I can do timing but I will have to get modify the library to do the measuring.  I can try something else but it will take a little time to get the modifications done.

[2016-06-26 21:51] piroozn commented on #166
Hi @mjs513
The following is the test result comparing Arduino 101 with Uno board using RGB-Display Sketch.
Looks like some one has added a delay after every display function. I remoed these delays and now you can see the delta in timing when you change clock speed. You can also see that Arduino 101 is faster than Uno board. Removing these delays did not create any issue as fasr as displaying goes.

[2016-06-26 22:02] piroozn commented on #166
Test 2

/*
 * Example for Shield Arduino FRDM STBC AGM01 of Freescale
 * Author: Andres Sabas
 * 17 Agust 2015
 *
 *
 */
//#include <Wire.h>
#include "Wire.h"

//#include <rgb_lcd.h>
#include "rgb_lcd.h"

rgb_lcd lcd;

extern unsigned long start, stop, speed;

const int colorR = 50;
const int colorG = 0;
const int colorB = 0;

void setup() {
  // put your setup code here, to run once:
  Serial.beg

[2016-06-26 22:03] piroozn commented on #166
@mjs513
Test 1 displays lots of lines
Test2 display 1 line and time passed in second so I can see if the display is correct or not.

[2016-06-27 01:18] mjs513 commented on #166
@piroozn So basically you had to modify library to remove the delays. Ok I went the code in I2Cdev lib and the mpu6050 lib just to make sure I did not have an issue with WIre.begin and no wire.begin's were found in the libs.  In the MPU6050 lib the single function that gets called is getMotion6:
[code]
the only function in I2Cdevlib that gets called from the sketch is as follows:

[code]
As you ca

[2016-06-27 03:32] mjs513 commented on #166
Test 1 - timing loop on wire.read as follows:
[code]
This yields a value of 1 or 2 microseconds per read for both fast or slow i2c setting.

Test 2 timing:
[code]
This yield approximately 118 microseconds (14 byte read) vs 1 byte reads in test1 for both fast and slow.

TEST 3
[code]
16890 micros for fast and 18056 micros in slow mode

I will repeat these same tests on the mega2560 when I get a cha

[2016-06-27 10:46] mjs513 commented on #166
Ok.  I repeated test 3 with the Mega, here are the results
----------------------------------------------------------------------------------
100khz: 1088 micros.  There are spikes to 17000 periodically.
400khz: 175 micros

Test 2:
400khz: 5 micros.
100khz: 5 micros
---------------------------------------------------------------------------
So the driver is to I2C timing for me is in that one func

[2016-06-27 13:48] piroozn commented on #166
@mjs513
When I was testing the RGB-Display, notices timing was different when using the wire.cpp and wire.h from the main library. I copied the source in my local directory and repeated the test and it worked ok. The library file .a may not be up to date with the new changes and that may be the reason for your test result. Do you have wire.cpp in your local directory?
I think you also need to copy

[2016-06-27 16:56] bigdinotech commented on #166
@mjs513 did your latest tests include the fixes from
https://github.com/bigdinotech/corelibs-arduino101/tree/i2cdelay

Also if that is still too slow you can try reducing the delays in i2c.c
JUst make sure the total timeout value remains the same

I will add in your recommended changes after I test it out on our side.

[2016-06-27 17:12] eriknyquist commented on #221
OK, I'll make this change today, and after I make sure all the examples still compile
OK I'll make a pull request and link it here.

[2016-06-27 17:18] eriknyquist commented on #176
I agree with @SidLeung.

[2016-06-27 17:18] #176 closed

[2016-06-27 17:22] mjs513 commented on #166
@piroozn All my tests were done using a GY-521 MPU6050 breakout board.  The libraries used were one for the MPU6050 and a version of the I2Cdev lib by jeff rowberg.  Both libraries I have checked a few times and no wire.begin calls in either library.  the I2Cdev lib uses the standard wire library calls.  I have no wire.cpp files in my local directory.  I use the standard libs associated with the b

[2016-06-27 17:26] bigdinotech commented on #166
static int wait_tx_or_err(bool no_stop){
	uint64_t timeout = TIMEOUT_MS * 20;
	while(timeout--) {
		if (i2c_err_detect) {
			return I2C_ERROR;
		}
		if (!no_stop) {
			if (i2c_tx_complete) {
			return I2C_OK;
			}
		}
		delayMicroseconds(50);
	}
	if (!no_stop)
		return I2C_TIMEOUT;
	else
		return I2C_OK;
}

the delayMicroseconds(50) is inside a while loop.
so if you decrease the delay you will hav

[2016-06-27 17:30] eriknyquist commented on #190
@vshymanskyy can you show us some code please? without it, I will assume that you are doing the same thing that hsuenaga is doing on the forum link you provided (calling long-running / blocking IMU/BLE methods in interrupt context).

If this is the case, then a common solution is to modify your callback function so that all it does is set a global flag. Then in each iteration of `loop()`, you chec

[2016-06-27 17:30] mjs513 commented on #166
@bigdinotech Thanks. Will play around with it in the next few days and let you know what I find out.

[2016-06-27 23:29] PaulStoffregen commented on #176
How meaningful is CurieIMU's abstraction, really?  Last time I looked, you're exposing quite a lot of BMI specific implementation, like the raw integers where you leave scaling to the end user, and you require the end user to know the specific ranges the BMI sensor implements.

Look, I don't want to be too negative and cynical here.  But if you really in your heart believe some measure of hardware

[2016-06-27 23:30] piroozn commented on #166
@bigdinotech
Do you know why we are using these delay after every I2C access. The I2C controller has all sort of status capability and we should not be needing any delay. We should only use time out and that will only trigger if an error occur and it should be only once in a while if any.
Any new I2C write or read should check status and if FIFO is full or empty then an action may be needed depend

[2016-06-28 00:31] mjs513 commented on #166
@bigdinotech Ok I played around with delays and it seemed to make no  difference between my previous results if I follow your instructions.  If I follow what the user on the forum suggested and just set uint64_t timeout = TIMEOUT_MS; the numbers are 1.588 millis (slow) and 1.411millis (fast) almost no difference between fast and slow but big diff in the timingins for the reads.

[2016-06-28 00:46] piroozn commented on #166
@mjs513
Did you copy the wire.cpp to your local directory? I know that is not norm but Dino just made this change and it may not be part of the .a file. I think it did not work for me either until I copies the code in my working directory.
The fact that timeout is effecting your timing may be that you have so much delay that timeout is kicking in every time to make any differences. Time out is sup

[2016-06-28 02:13] mjs513 commented on #166
Ok.
The wire.cpp and wire.h source had to be copied to the working directory : copied
The wire.cpp and wire.h source had to be copied to the working directory and include filed in the RGB driver have to be changed to point to it “wire.cpp” instead of : done - only library that uses wire is for the MPU6050 library.  Assumed working directory is the sketch directory.

Here are the errors it threw:

[2016-06-28 11:06] mjs513 commented on #166
Hi @piroozn
Ok - changed the sketch that I am using completely to avoid using any external libraries.  Thanks to Kris Winer's 6050 code (on GitHub) I put timing statements around readAccel data and readGyro data which as well as around the actual wire.read statements. I also put the wire.h and wire.cpp in the sketch folder.  Here are the results:

Not much difference between speeds.  Second as a n

[2016-06-28 12:15] apiascik commented on #176
I'm not publishing an API. In my case, knowing the details of the hardware (BMI160) was critical to/preferable for the application. I was simply suggesting that it wouldn't take much effort to allow someone to bypass the HAL, especially if the intent was to play around with the Arduino101 they have in hand (like me). At the time I was working on this, the BMI160 datasheet was the best source of in

[2016-06-28 18:50] bigdinotech commented on #166
Ok. I did some more changes. And all so ran some tests on my side.

I ran a test on using an I2C FRAM breakout board.
My test simply runs a tight loop of a write followed by a read.

![i2cspeed](https://cloud.githubusercontent.com/assets/993106/16428312/25d6bf3a-3d26-11e6-9b96-8141b1661636.png)

As you can see in the attached image the max delay I am getting between read and write operations is ab

[2016-06-28 19:30] piroozn commented on #166
@bigdinotech
Looks like the 25us gap is for other interrupt or tasks and they are not all the same. The data transmission sizes are all different also. If you zoom in then we can see the delay between each read or write access. These gaps are not the delay and is most likely interrupts or other tasks taking over.
What is the test code looks like

[2016-06-28 20:04] mjs513 commented on #166
@bigdinotech
I see the changes you made to the delays,  No sure what other changes you made.  But I just ran the sketch with the changes and they got significantly worse:

[code]

[2016-06-28 22:55] mjs513 commented on #166
@bigdinotech
Ok I did some further testing with the versions of the sketches that I have used for the 6050.  Here are the results.  Interesting that the original sketch improved a lot:

The one question i have is why is keeping timeout x delay has to be set to 1000?

[2016-06-29 18:26] mjs513 commented on #166
@bigdinotech Ok Dino. I broke down and bought a real oscilloscope - should be here next week.  Anyway I came across a couple of things: https://communities.intel.com/thread/56148 and something from intel on interfacing i2c and the smbus: http://www.intel.com/content/www/us/en/embedded/technology/connectivity/smbus-controller-i2c-devices-paper.html.  Haven't gone through it yet but it looks interes

[2016-06-29 18:56] vshymanskyy commented on #190
@eriknyquist , yes I think I have a bit different case.
I'll try to make a minimal sketch showing the problem -> but it will take some time. I think a week or so. Thanks!

[2016-06-29 22:15] eriknyquist commented on #221
PR #225 currently under review to address this.

[2016-06-30 18:40] eriknyquist commented on #149
Hi @PaulStoffregen, so currently raw accelerometer data (for example) is grabbed with
`void CurieIMUClass::readAccelerometer(int& x, int& y, int& z)`. If we added another function like this
`void CurieIMUClass::readAccelerometer(int& x, int& y, int& z, int range)`, where 'range' is the same value passed to `setAccelerometerRange` and the resulting values are scaled accordingly.
Is this what you me

[2016-06-30 18:45] eriknyquist commented on #190
@vshymanskyy I'll be here!

[2016-06-30 18:48] eriknyquist commented on #205
@kitsunami recommend to close this in a week if still no response.

[2016-07-01 03:49] PaulStoffregen commented on #166
Does the Arduino 101 hardware have the capability to run at 1 MHz I2C clock rate?

I just ordered some MB85RC256 FRAM chips for testing.  This chip supports 100 kHz, 400 kHz and 1 MHz rates, and can run from 2.7V to 5.5V range, so it ought to cover testing all the various Arduino boards nicely.

In the meantime, I'll try to do some initial tests with EEPROM chips I have on hand, but which only wor

[2016-07-01 04:02] mjs513 commented on #166
HI Paul

Where did you order the eeprom from?
On Jun 30, 2016 11:49 PM, "Paul Stoffregen" <notifications@github.com>
wrote:

[2016-07-01 04:33] PaulStoffregen commented on #166
I'm testing right now with a 24C01A EEPROM which is an old part I just happen to have laying around.

![eepromtest](https://cloud.githubusercontent.com/assets/965463/16511865/0b051310-3f0a-11e6-8914-435f244d5f7e.jpg)

The FRAM chip I ordered just now from Digikey.

http://www.digikey.com/product-detail/en/fujitsu-electronics-america-inc/MB85RC256VPNF-G-JNERE1/865-1261-1-ND

[2016-07-01 04:36] PaulStoffregen commented on #166
Ok, I've run the test on 5 different boards.  I tested Arduino 101 twice, with the 1.0.6 core and with bigdinotech's i2cdelay branch.  Here's the time in microseconds required to read 12 bytes.

    Board Tested                100 kHz         400 kHz
    ------------                -------         -------
    Arduino Uno                 1540            512
    Arduino Due                 1404

[2016-07-01 04:46] PaulStoffregen commented on #166
Here's some oscilloscope captures for the 400 kHz test with bigdinotech i2cdelay branch.

First, here you can see the whole 34625 time.  Arduino 101 seems to be working, but there's some sort of terrible bug which just stalls for a very long time in the middle of the transfer.

![file1](https://cloud.githubusercontent.com/assets/965463/16512006/6f026696-3f0b-11e6-95da-9dc20434956d.png)

Here's a z

[2016-07-01 04:47] mjs513 commented on #166
Just ordered one from adafruit. Thanks for testing and code as well. At least I know i am not going crazy.

[2016-07-01 04:49] PaulStoffregen commented on #166
Yup, you're definitely not going crazy.  There's clearly a very bad bug in Arduino 101's Wire library.

[2016-07-01 04:51] mjs513 commented on #166
Looks you were right with your first comment on the i2c is only as good as the wire library. Thank you.

[2016-07-01 04:57] PaulStoffregen commented on #166
I you want to try this test yourself on a 24C01A chip, here's the code I used to write initial data.

    #include <Wire.h>

    void setup() {
      Serial.begin(9600);
      while (!Serial) ; // wait for serial monitor
      Serial.println("EEPROM Write Test");
      Wire.begin();
      Wire.setClock(100000L);
      delay(100);
      Wire.beginTransmission(0x50);
      Wire.write(0); // address

[2016-07-01 05:05] mjs513 commented on #166
I will definitely try it. Will probably get the Breakout board and the new osciliscope about the same time. So now I will have a couple new toys.

[2016-07-01 05:53] PaulStoffregen commented on #166
Congrats on the scope purchase!  When you use it, be sure to set the trigger mode to Normal (not Auto) and for this project, make sure you set the trigger Holdoff to at least 50 ms.

The Holdoff setting is critically important as you zoom in the faster time scales.  Without it, your scope will trigger again on more parts of the data stream.  You'll end up seeing only tree without any sense of wher

[2016-07-01 08:57] mjs513 commented on #166
Thanks for the advice Paul. Last time I used a real scope was at least 40 yrs ago.  Haven't had a need until I stumpled on this issue. Will let you know how it goes.

[2016-07-01 16:18] tantra21 opened #226 "How to expand SRAM?"
I am using the 101 to drive Neopixel LED array. Each LED requires 3 bytes of RAM, and there are overall 20000 LEDs that I am working with. I am using the Adafruit Neopixel library to drive these Neopixel LEDs.  I am able to allocate memory for 1024 LEDs at a time and the Arduino 101 then runs out of memory.
To solve this problem, I connected 1024 LEDs per GPIO pin on the Arduino 101 and I am alloc

[2016-07-01 16:51] rei-vilo commented on #112
Any plan to implement a software-based slave I²C on Arduino / Genuino 101?

[2016-07-01 17:21] claudiaAl opened #227 "ARC_CTRL register inconsistent values"
Hello!  I am experimenting with reading the contents of various registers and came across something weird.  I am not sure if it is just a simple programming issue that I overlooked... I hope so!  I am trying to read the contents of the ARC_CTRL register and get back two different values depending on if I am inside of a new function, or inside of my setup function.

[code]
And these are the values

[2016-07-01 17:27] eriknyquist commented on #226
hi @tantra21, it sounds like you need about 60k of RAM. Unfortunately there is only 24k out of 80k available to Arduino sketches (see details of the memory layout here https://github.com/01org/corelibs-arduino101/blob/master/variants/arduino_101/linker_scripts/flash.ld), and then even a large part of the 24k is in use to make your sketches work (see the discussion here https://github.com/01org/cor

[2016-07-01 17:34] intel-larry commented on #226
Hi,

There are limitations of course, with the Neopixel library. In particular, it uses the strategy of allocating all the LED memory on a per-led basis. The only way to use NeoPixel with larger strands than you have memory for is to spread them on multiple pins. This works, but you can run into problems of latency.

20,0000 LED’s on a single strand is quite a lot. There are various alternate stra

[2016-07-01 17:42] eriknyquist commented on #227
Hi @claudiaAl, this is difficult to answer since we can't see most of the reads/writes you're doing to ADC_CTRL. There are 5 lines of output, but I can only see one of those lines in your code. Can you please post a complete, verifiable example? i.e. an example that I can copy/paste into my own IDE and run myself.

[2016-07-01 17:48] claudiaAl commented on #227
Absolutely! My apologies :-)

[code]

I don't think my logic in disableADC() is correct yet, but I'm really looking at the difference in the register going from the adc_normal_wo_calib_REFERENCE() function back to setup()

Thanks in advance!

[2016-07-01 17:48] eriknyquist commented on #151
Thanks @Paul, I'll look at integrating your corrected version.

[2016-07-01 17:52] SidLeung commented on #112
We have examined the means to implement a software I2C.  However, it was determined that a follow on product with an actual hardware I2C interface made a lot more sense.

[2016-07-01 18:00] piroozn commented on #166
@PaulStoffregen
No Paul, Arduino 101 does not support 1 Mhz speed for the I2c. The Curie module has more I2C that is not connected to the pins on this board that supports 1 Mhz operation.

[2016-07-01 18:01] eriknyquist commented on #227
ADC_CTRL is a #define for the memory address of the ADC_CTRL register.

    #define ADC_CTRL                   (0x80015003)

So when you do this;

    Serial.print(ADC_CTRL, BIN);

You're not actually printing out the **value** stored at that address, you're printing the address itself. It's the same as doing this:

    Serial.print(0x80015003, BIN);

[2016-07-01 18:10] claudiaAl commented on #227
Arg dumb mistake! Thank you sir :-)

[2016-07-01 18:17] eriknyquist commented on #227
No problem.

[2016-07-01 18:17] #227 closed

[2016-07-01 20:25] piroozn commented on #166
@PaulStoffregen
The bug you are talking about can not be in the wire.cpp or .h because I tested and reported RGB-Display shield that uses the same wire.cpp and it was much faster than Uno board. Take a look at my report earlier. The bug or delay was in the RGB-Display library and not wire.cpp

[2016-07-01 21:02] bigdinotech commented on #166
@PaulStoffregen I tried out your example and I am able to reproduce the long stall.
Looking at the length of the stall it matches with the timeout value x 2 = 32ms
If we change i2c.c
#define TIMEOUT_MS 16
to something like
#define TIMEOUT_MS 1

The stall decreases as expected.
Now the question is why is it timing out. I'll try to investigate more.

I ran the test using a MB85RC256V I2C FRAM breako

[2016-07-01 21:07] bigdinotech commented on #166
@PaulStoffregen @mjs513
The corelibs version I am using is the current master branch.
https://github.com/01org/corelibs-arduino101/

[2016-07-01 21:11] bigdinotech commented on #166
@mjs513 I ordered an MPU-6050 breakout board so I will try to reproduce your results next week after the long weekend.

[2016-07-01 21:15] piroozn commented on #166
@ bigdinotech
Something does not make sense here. Timeout is usually for waiting after any error. IT should not be waiting. I think what the problem is that FIFO threshold for the I2C interface is set for more than one entry and we don’t get the interrupt for every entry causing us to hit the timeout every time. Please check the I2C configuration for the FIFO and I2C in the Curie module.

[2016-07-01 21:20] mjs513 commented on #166
@bigdinotech @PaulStoffregen

Think that goes along with one of the changes I tested where I set uint64_t timeout = TIMEOUT_MS which gave better results in this case think the timeout would = 16 when I ran the test.  It followed what someone suggested on the forum.  All the detailed tests I performed were using the i2cdelay branch.  @bigdinotech thanks for ordering the MPU-6050 but I have a feelin

[2016-07-02 09:22] PaulStoffregen commented on #166
Perhaps the problem is related to use of I2C's repeated start feature?

Maybe previous testing which showed good results only checked Wire.endTransmission(true) or Wire.endTransmission(), but not Wire.endTransmission(false) ?

[2016-07-02 16:11] mjs513 commented on #166
@PaulStoffregen In one of my earlier posts I looked at lcd grove lib from seedstudio and it appears that it is only doing writes to the display.  This should be confirmed by @piroozn. Just for info.

[2016-07-02 17:43] piroozn commented on #166
@ mjs513
Yes, it is only doing writes. Since we were talking about verifying the I2C clock speed changes and its effect to the performance and not having the same hardware available to you. I thought it would be just fine testing it on the RGB display board. I saw the timing issue you reported originally and after removing the application delays, I could see much better performance on Arduino 101

[2016-07-02 19:27] PaulStoffregen commented on #166
If you'd like a couple of those 24C01A EEPROM chips, just send me a private email with your address and I'll be happy to send you a few by postal mail.  I have plenty.

However, I'd recommend buying the FRAM chip.  It supports all 3 standard speeds and works on either 5V or 3.3V, which is very useful for testing across all Arduino boards.

https://www.adafruit.com/products/1895
http://www.digikey.

[2016-07-03 01:00] mjs513 commented on #166
@piroozn I actually saw that out testing yours, mine and Paul's as complimentary allowing you, since I am not one of the developers, to isolate where the problem might lie.  So far what I have gleamed from the testing that we all performed to date is as follows:

1. Writing does seem to be an issue so far.
2. Reading data seems to be the issue.  @PaulStoffregen hinted at the following:

-  use of

[2016-07-03 18:39] piroozn commented on #166
@mjs513
Thanks for your summery. It will help since we all have done lots of different test. Since the speed of I2C has been resolved, it would help is we start new discussion and focus only on what we are trying to fix or figure out. This should help the community to find the information easier in the future.
I have some deadline next few days and may not be able to spend some time to test and de

[2016-07-03 21:56] PaulStoffregen commented on #166
The purpose of Arduino is to enable people without *any* background, in hardware *or* software, to achieve successful projects.

[2016-07-03 21:57] mjs513 commented on #166
@piroozn While the Arduino101 has a BMI160 accelerometer/gyroscope onboard the api calls are very similar to those use for other IMU, believe I know.  The only difference are the I2C calls which all pretty much use the basic calls in the wire library.  But that aside when you get into Attitude Heading Refrence System (AHRS) you are often using 9 DoF (Accelerometer/Gyroscope/Magnetometer) or 10 dof

[2016-07-03 22:07] PaulStoffregen commented on #166
Look, I've tried to help here.  I spent a little time wiring up an I2C memory chip and running 2 tests on 6 different boards/cores.  I spent more time to fully document (hopefully) reproducible results, and even more to dig into the timing problem for you with detailed oscilloscope capture.

I hope this has helped.  I really do.  But I can't seem to shake the feeling there's more denial here than

[2016-07-03 22:21] mjs513 commented on #166
@PaulStoffregen I agree I spent alot of time getting into the innards of the 101, more than anyother board. Its interesting and i will play with my new scope as a learning but... I get the feeling we are going around in circles.  I put the galileo on the shelf because of I2C issues guess I will put this there too until it gets more mature.  There are alternatives. Let me know if you do the blog on

[2016-07-04 06:46] bluetooth-mdw opened #229 "Using Bluetooth and the Adafruit neomatrix library together causes execution to cease"
If I use CurieBLE to implement a Bluetooth profile _and_ use the Adafruit neomatrix library in the same sketch I find that after my first interaction with the connected neomatrix panel, I no longer receive callbacks to functions from the BLE API and calls to loop() no longer take place. In short execution seems to have halted.

Is this an ISR related issue?

I've attached two sketches. One use the

[2016-07-04 06:51] SidLeung commented on #229
Did the value matter between the 1st write and the 2nd write?  Or just 2 write's hung the system.  Thanks.

[2016-07-04 06:56] bluetooth-mdw commented on #229
No, the value didn't seem to matter. You could also use 0x06FF0000 or 0x09 or 0x0A.

Basically I think any use of the neomatrix library causes this problem.

If you look at the code you'll see a function called flashCorners(). It's been turned into an empty stub but the old code is still there. I used to call this function at various points and it too caused the problem so I commented it out in an

[2016-07-04 06:58] SidLeung commented on #229
Thank you for the info.

[2016-07-04 10:15] bluetooth-mdw commented on #229
Using the non-callback pattern with the CurieBLE API I do not experience this problem. Sample code attached.
[neomatrixdemo_loop.zip](https://github.com/01org/corelibs-arduino101/files/346088/neomatrixdemo_loop.zip)

[2016-07-04 16:29] piroozn commented on #166
@mjs513 and @PaulStoffregen
You guys are contributing a lot on this and we all appreciate it. I will try to help some.
Yes you are correct. Arduino is made easy for people without engineering background. Except the people that design the shields and write libraries for them really need to understand both the Ardunio 101 and the device that are used in the shield.
I have been in design for more tha

[2016-07-05 00:40] mjs513 commented on #158
Just tested nightly build for 1.6.10 and the conflict between vector and ble seems to be resolved.  Going to go ahead and close this issue unless further issues arise.  Thanks for fixing the problem.

Mike

[2016-07-05 00:40] #158 closed

[2016-07-05 01:56] eriknyquist commented on #158
Thanks @mjs513, but we didn't actually do anything, the Arduino guys just got that fix into their nightly builds by the sounds of it. Glad it's all working now, anyway!

[2016-07-07 14:03] bluetooth-mdw opened #231 "Bluetooth advertising does not start sometimes"
I'm testing implementing and testing various standard Bluetooth profiles on the Genuino 101. I'm proceeding in alphabetical order.... naturally. Alert Notification was OK. But... Automation IO revealed a problem which seemed to relate to descriptors. Basically the device does not start advertising. I stripped my code right down and isolated the problem to a degree.

@sandeepmistry went somewhat fu

[2016-07-07 18:04] claudiaAl opened #232 "Register Address confusion"
Hello!  I am going through trying to disable the SPI bus and am diving into the SPI control and enable registers.  I am using the SPIClass.end() function as my reference for what I need to do to accomplish this.  I am trying to understand what bits are being changed and have confused myself... can anyone clarify this for me?  Thanks in advance!

[code]

SPIClass.h only touches SPI1 so I am assumin

[2016-07-07 18:20] eriknyquist commented on #232
Hi @claudiaAl,

`#define PERIPH_CLK_GATE_CTRL            (SCSS_REGISTER_BASE + 0x018)`

This is actually a memory location, rather than a bitmask (it's the address of the PERIPH_CLK_GATE_CTRL register).

so, when we look at this line;

`MMIO_REG_VAL(PERIPH_CLK_GATE_CTRL) &= DISABLE_SPI_MASTER_1;`

it's saying "access the memory location PERIPH_CLK_GATE_CTRL, and apply the bitmask DISABLE_SPI_MASTE

[2016-07-07 18:22] eriknyquist commented on #232
But-- an unrelated question-- is there any particular reason you need to re-implement `SPI.end()`? why can't you just call the existing method to disable the SPI bus?

[2016-07-07 18:26] claudiaAl commented on #232
Good question.  I can.  That's actually where I started, but I didn't see any change in my current readings, so in an effort to be as thorough as possible, I wanted to go in and read the registers and understand what was really happening.  If this all eventually goes into a library, I am assuming I would just use my end() function rather than duplicating the code...?

[2016-07-07 18:29] eriknyquist commented on #232
like I said, I think SPI will be disabled by default anyway until you call `*.begin()`. So calling `SPI.end()` without first calling `SPI.begin()` is effectively changing nothing.

[2016-07-07 18:32] claudiaAl commented on #232
got it!  thank you!

[2016-07-07 18:33] kitsunami commented on #201
Not yet, but I'll set this on the next FW Update backlog.

[2016-07-07 21:48] mjs513 commented on #166
@PaulStoffregen and @bigdinotech  I received my Adafruit Fram today and ran Paul's code and was able to duplicate his results.  One for never leaving well enough alone I decided to try a library out for the way I would use it in real life.  The library is located at: [https://github.com/sosandroid/FRAM_MB85RC_I2C.git] and got very different results.  I am using a nightly build of 1.6.10 because I

[2016-07-07 23:01] claudiaAl commented on #232
ok, so I have played with calling begin and end in order to see what's happening in the register.  It's just for my own learning and to prove to myself that I can see the changes.  I'm not sure that I am reading the registers correctly though.  I think I am specifically interested in bit 0 (SPIEN) of the SPI enable register because from what I understand, that will enable/disable all SPI master op

[2016-07-08 00:03] eriknyquist commented on #232
Do you have the latest version? I do, and I can't see `SPI1_M_REG_VAL`, only `SPI_M_REG_VAL`.
Maybe you have an old version?

You have the right idea, though; if you are using the latest, then you can read it like this;

    creg = SPI_M_REG_VAL(SOC_MST_SPI1_REGISTER_BASE, SPIEN);

But, there is a sneaky twist here; SPI (i.e. `SPI.begin()`) actually uses the **hardware** SPI1 (i.e. SOC_MST_SPI1_RE

[2016-07-08 00:10] eriknyquist commented on #232
I just edited my last post- I had mistakenly used `SOC_MST_SPI1_REGISTER_BASE` in the final example. It's correct now :)

[2016-07-08 00:17] eriknyquist commented on #232
And, I was answering the original question I saw in the email notification-- I didn't notice you had removed the question. Did you figure it out?

[2016-07-08 15:45] claudiaAl opened #234 "Change in platform.txt won't allow compilation"
Hello!  I am working on another issue, and decided to update my version.  I was on 1.0.3 and I just realized y'all are on 1.0.6.  I followed the directions on the git page and tried to compile my sketch, as well as the example Blink sketch.  In both cases I get this error:

It looks like the issue may be in the platform.txt file, but I really don't know... is this a known problem?

Thanks!

[2016-07-08 15:56] claudiaAl commented on #232
I think I am close... I ended up using this after referencing SPI_registers.h
     `creg = SPI1_M_REG_VAL(CTRL0);`

I just compared the two versions and it looks like the definition changed from

[code]
to
[code]
But I think that they do the same thing...

[2016-07-08 16:24] bbaltz505 commented on #234
Hi.
The new platform.txt has been updated to use a new ARC toolchain. Replace your current one with one of these:
* https://downloadmirror.intel.com/25470/eng/arc-toolchain-windows-arcem-1.0.1.zip
* https://downloadmirror.intel.com/25470/eng/arc-toolchain-osx-arcem-1.0.1.tar.bz2
* https://downloadmirror.intel.com/25470/eng/arc-toolchain-linux32-arcem-1.0.1.tar.bz2
* https://downloadmirror.intel.co

[2016-07-08 16:38] claudiaAl commented on #234
Thank you @bbaltz505 !  I took the contents of the arc32 folder from the link that you provided, and replaced the contents of my existing **Arduino15 > packages > Intel > tools > arc-elf32  > 1.6.4+1.0** folder.  I'm not sure if the version number mismatch might cause a problem in the future, but I am able to successfully compile my Blink example.  Thanks again!

[2016-07-08 17:00] eriknyquist commented on #234
@claudiaAl, you can get 1.0.6 from the IDE boards manager. Everything should just work if you do it that way.

[2016-07-08 17:05] mjs513 commented on #166
@bigdinotech and @PaulStoffregen
I just loaded Pauls test sketch and got the about 365us at 400kHz.  Here are the results:

`EEPROM Write Test
Wrote first 8 bytes
Wrote the rest

Read 12 bytes in 375 us
Data as integers:   0 0 0 0 0 0 0 0 0 0 0 0
Data as characters:

Read 12 bytes in 368 us
Data as integers:   0 0 0 0 0 0 0 0 0 0 0 0
Data as characters:

Read 12 bytes in 365 us
Data as integers:

[2016-07-08 17:11] eriknyquist commented on #232
CurieIMU class uses SOC_MST_SPI1_REGISTER_BASE (i.e. `SPI.begin()`), but this SPI controller is only initialised by `CurieIMUClass::begin()`

Honestly, I don't  think there's any point in re-implemnting the `SPI.end()` method for your low power lib. Simply not calling `SPI.begin()` is already enough to ensure that the SPI controller is disabled.

[2016-07-08 17:14] claudiaAl commented on #234
I went ahead and reverted to 1.6.10, and then updated back to 1.6.11.  It shows it being installed, however the version number of the directory (1.6.4+1.0) did not change.  Everything seems to be working just fine though. Thanks you guys!

[2016-07-08 18:23] claudiaAl commented on #232
Can we look at a quick use case?  Let's say we have a sketch running that initializes the CurieIMU class because we want to be collecting information from the sensors... let's say we are focusing on the motion and temperature sensors to determine if a device is being worn.  If we determine that the device is not being worn, I would like to disable the SPI bus (assuming that we can verify that disa

[2016-07-08 20:02] eriknyquist commented on #232
For sanity's sake, let's just talk about SPI and SPI1 (i.e. Arduino's `SPI.begin()` and `SPI1.begin()`) from now on, even though we know now it's really SPI1 and SPI0 behind the scenes.

So for your use case, it sounds like you basically need some kind of `CurieIMUClass::end()` method, which doesn't exist right now. Maybe instead of messing with SPI, we should be thinking about adding an `end()` m

[2016-07-08 23:11] claudiaAl commented on #232
It doesn't look like `CurieIMU.begin()` writes anything to the SPI Master 0 register.  When I call `SPI.begin()` and `SPI.end()` I can see changes made in the SPI1 Register (SPIEN, CTRL0, etc.).  When I call `SPI1.begin()` and `SPI1.end()` I see changes in the SPI0 Register as expected.  The `CurieIMU.begin()` method calls the `ss_spi_init()` function which sets the peripheral to inactive so the c

[2016-07-09 01:38] mjs513 commented on #166
ALCON.

Satisfied that setclock works fine.  So I am closing this issue. Dino if you want to reopen a d continue working read speeds that's ok with me.  Something is not right. If you want me to open a new issue let me know.

[2016-07-09 01:41] #166 closed

[2016-07-11 16:42] bigdinotech commented on #166
@mjs513 thanks.
If you think something is not quite right with the read speeds then please open an issue.
I got my MPU-6050 so I will try to reproduce and hopefully fix the issue when I get the chance

[2016-07-11 17:02] eriknyquist commented on #150
the BMI160 has a SENSORTIME register, a 24-bit counter that increments with all "sensor events" (updates to data registers). I propose using this to implement a simple `IMU.available()` function with no buffering, i.e. if `IMU.available()` returns 3 then you can only actually get the current sample. The next step will be to use the IMU's internal 1024 byte FIFO as @Dan-Emutex  suggests.

[2016-07-11 17:46] eriknyquist commented on #232
@claudiaAl I was wrong, there are actually 3 SPI controllers in use. 1 goes to pins 10-13 (`SPI.begin()`), one goes to the onboard SPI flash (`SPI1.begin()`), and the third is used only for the BMI160 and is initialised with `ss_spi_init()`. So, you want to look at the implementation of `ss_spi_init()`, I guess.

I'm also going to implement a `CurieIMU.end()` method, to disable the 3rd SPI control

[2016-07-11 18:30] eriknyquist commented on #232
Try this change @claudiaAl  https://github.com/01org/corelibs-arduino101/pull/235

[2016-07-11 20:03] bbaltz505 commented on #234
@claudiaAl, glad to hear things are working. It might be cleaner to start with a clean IDE folder. If you want, you can delete the Curie package folder in the IDE:
%localappdata%\Arduino15\packages\Intel    (in Windows)

This will wipe out all installed Galileo, Edison and Arduino101 packages bu the you can install a clean build.

If everything is fine, you can close the issue.
Thanks!

[2016-07-11 21:36] #192 closed

[2016-07-11 23:05] mjs513 commented on #166
@bigdinotech before I open another issue checkout the 6050.  Let me know the results.  However, since you duplicated @PaulStoffregen results and had to play with the timeout it seems that there is an issue.

[2016-07-11 23:38] PaulStoffregen commented on #166
@bigdinotech - I believe I've done all I can here.  However, my earlier offer still stands.  In fact, I'll send you my hand-soldered shield with the EEPROM chip (the one in the photo above), so you can just plug it into your Arduino 101 without any extra work to solder or otherwise connect any wires.  Then you can put the code I posted above, just copy and paste into Arduino and upload to get exac

[2016-07-11 23:42] bigdinotech commented on #166
@PaulStoffregen no need to send me the EEPROM part.
I can reproduce the long pause that you saw so I should be able to track it down.
Thanks though.

[2016-07-12 17:17] eriknyquist commented on #150
On further investigation, it looks like you can't really get useful information from the SENSORTIME register unless you're also using the BMI's internal FIFO to buffer samples. So I think that any worthwhile implementation of an `available()` function for the IMU class will need to make use of this FIFO; the simpler design I described above will be mostly useless. I'll need to keep reading the dat

[2016-07-12 20:47] eriknyquist commented on #151
@PaulStoffregen sorry about the delay on this, I finally got round to trying this out today. You're right, the Processing sketch given produces wrong movement for me too. However, when I tried your Processing sketch, I got no movement at all.

Since we've had a release since your original posting, would you mind trying this again with the latest corelibs, IDE and processing?

[2016-07-14 17:09] extrapixel opened #238 "I2C / Wire not reliable"
after the other Wire/i2c issues have been closed ( #166 etc), and the speed got better, some I2C devices started working with the 101.

However, it's still far from _really_ working. Basically, in practice I2C is not usable on the 101 - it's slow, unreliable. Code / hardware that works with _all_ other Arduinos, does not work with the 101.

I have multiple I2C devices here which work on _all_ offi

[2016-07-14 18:18] claudiaAl commented on #234
Hello again!  In attempt to start from a clean slate, I removed everything... and then installed the latest version of the IDE (1.6.9 for MacOS).  I tried to install the Curie package, but as soon as I opened up the Board Manager, I received an error stating

If I ignore that message and attempt to download the Curie package anyway, I am only allowed to install versions 1.0.4 and 1.0.5, and I get

[2016-07-14 18:36] bbaltz505 commented on #234
@claudiaAl, that JSON link is the default package list from Arduino so I'm not sure why it failed to load. Is it a valid URL using your web browser? Since that list did not update, the newer version will not be available in Board Manager. Are you behind a firewall or proxy perhaps?

Also, when you say you "removed everything", did that include the "/Users/<username>/Library/Arduino15" folder?

[2016-07-14 18:39] intel-larry commented on #234
Hi Claudia - is there any chance you're working on some kind of corporate network?  We've found that the failure of the Boards Manager to download the file is often due to problems with proxy servers on corporate, university and some other managed networks.  For instance, inside of Intel, due to the high security on our network, we have to manually enter the proxy server in the IDE preferences pan

[2016-07-14 18:44] intel-larry commented on #238
Hi Patrick, I'm sorry to hear we're having issues interfacing with your devices. Of course, we do want everything to work seemlessly. I've personally tested a lot of I2C devices, ranging from various sensors to RTC boards and LCD displays and generally, they've been working. I looked on your website for example code and it looks mostly like plain-jane stuff that I'd think should work.

In 30 years

[2016-07-14 19:06] claudiaAl commented on #234
@bbaltz505 and @intel-larry, it was the Intel network.  I manually entered the proxy server and all is well.  Thank you!!

[2016-07-14 19:06] #234 closed

[2016-07-14 19:11] bbaltz505 commented on #234
Ah, good. If you wiped out your preferences, any previous proxy setting would have been lost.

[2016-07-15 12:25] PaulStoffregen commented on #151
Sorry, I put all that motion sensor stuff away a couple months ago, to focus on another really important project.  I will look at this again, but probably not until after summer.

[2016-07-15 14:29] extrapixel commented on #238
@intel-larry thanks for looking into this, greatly appreciated! Could you use the contact form here https://www.whiteboxes.ch/contact/ to send me your shipping address?

[2016-07-15 17:20] eriknyquist commented on #238
@extrapixel done!

[2016-07-15 17:31] eriknyquist commented on #151
OK, no worries I'll take a look at it.

[2016-07-15 21:08] celskeggs opened #241 "UARTClass.begin -> UARTClass.end -> pinMode fails to change MUX mode back"
I'm running the UART (Serial1) port for a length of time, then turning it off and trying to use it as an output, but this fails silently. I expect to be able to set the mode to OUTPUT and write values to it after `Serial1.end()` has been called.

The reason that this fails is that `UARTClass::init` includes this code:

    SET_PIN_MODE(17, UART_MUX_MODE); // Rdx SOC PIN (Arduino header pin 0)

[2016-07-15 21:46] eriknyquist commented on #241
Hi @celskeggs, thanks for bringing this to our attention. I'll take a look at this and notify you as soon as it's fixed.

[2016-07-16 14:56] bontempos commented on #151
Hello, thanks guys for taking a look at it..
just to make sure I am not alone:
Madgwick library available from arduino's official link is different from [this](https://github.com/arduino-libraries/MadgwickAHRS/tree/master/src), right?

Also, this new (4 month ago) library version will not compile, right?

[2016-07-18 19:13] eriknyquist commented on #151
@bontempos, I am not sure about Paul's version of the library; I only tried "official" one from the Arduino tutorial. But, I'll try Paul's one and let you know what I get.

[2016-07-18 21:35] #152 closed

[2016-07-21 16:52] claudiaAl opened #246 "I2C Control Question"
Morning!

I am looking into what it takes to disable the I2C bus and am referencing the function `DRIVER_API_RC ss_i2c_clock_disable(I2C_CONTROLLER controller_id)` in `ss_i2c_iface.c`.  The function looks like this, and I am interested in what the two `WRITE_ARC_REG` functions are doing.

[code]
The first looks like it is writing to the CREG control register, in order to disable the clock.  It tak

[2016-07-21 17:01] claudiaAl commented on #232
Thank you Erik!  I was able to successfully test the running and disabling of all three SPI buses.  Interestingly enough, SPI and SPI1 behave as expected... running begin() and not doing anything consumes more energy than having it disabled.  However, the CurieIMU.end() method causes more power consumption than its begin() method due to the setting of some pins.

[2016-07-21 17:01] #232 closed

[2016-07-21 17:11] bigdinotech commented on #246
Hi @claudiaAl

Can you share some code I can try it out on my side?

Also,
Are you modifying those files directly inside the drivers folder inside your corelibs then compiling using the IDE?

If so you may have an extra step. You will need to generate a libarc32drv_arduino101.a which resides inside variants/arduino101.

To do so you will have to run the make file inside system/libarc32_arduino101

[2016-07-21 17:30] claudiaAl commented on #246
Hi @bigdinotech , thanks for the response.  I am actually writing everything from the Arduino IDE and testing that way.  Here is a bit of code, please excuse its ugliness..

[code]
The `WRITE_ARC_REG` function that is commented out is what I took from the driver thinking that I could reuse the code from the driver disabling a device.  I call `gateAllClocks()` first so that I can make sure to see t

[2016-07-21 18:27] claudiaAl commented on #246
I'm going through my code and I'm not convinced of what I am doing... I'm still wondering about the driver code, but I'm reviewing what I have posted and am doing a few more tests to make sure my logic is right.  I'll repost later today, thanks!

[2016-07-21 21:09] claudiaAl commented on #246
Ok, so I have gone through and double checked my Arduino sketch to make sure that I was actually reading the values in my registers.  Now that I know how to access what I need, I am still confused as to whether I need to be setting bits 29 and 30 of the CREG master register to a '1' or to a '0' when disabling the I2C0 and I2C1 clocks respectively. If it is indeed a '1' as the documentation states,

[2016-07-22 00:56] eriknyquist commented on #232
"However, the CurieIMU.end() method causes more power consumption than its begin() method due to the setting of some pins"

Yes, that's why an Arduino101 board is really not the best option for testing your power savings library, since there are a lot of power-hungry components on the board that you can't turn off. Even if you take the whole Curie chip off, I'm sure there will still be a significa

[2016-07-22 08:49] #213 closed

[2016-07-25 17:35] eriknyquist commented on #246
HI @claudiaAl , can you please post some code we can try which demonstrates your question?

[2016-07-25 18:22] #221 closed

[2016-07-25 18:24] #241 closed

[2016-07-25 18:25] eriknyquist commented on #190
@vshymanskyy any updates on this?

[2016-07-25 18:35] claudiaAl commented on #246
Hey Erik!  So here is a sketch that initially does exactly what the `initADC()` method does in `variant.cpp` so that I can see the entire register with a few bits set.  I then want to go in and disable I2C0.  But I am not sure if setting it to a '1' is actually disabling it or if I should be setting it to '0'.  I think I am misunderstanding the documentation...

[code]

Output:

[2016-07-25 20:18] eriknyquist commented on #246
Thanks @claudiaAl, we'll take a look

[2016-07-25 20:25] #149 closed

[2016-07-25 21:31] #226 closed

[2016-07-25 21:40] PaulStoffregen commented on #226
This may be a little off-topic, but you might look at a library I wrote called OctoWS2811.  It's meant for controlling very large numbers of NeoPixel / WS2812 LEDs.  It needs different hardware (the off-topic part...) but the hardware is only a tiny fraction of the cost of so many LEDs.  Even then, 20000 LEDs is a huge number.  You'll probably need 4 or 5 boards working in parallel to control that

[2016-07-25 22:51] kitsunami commented on #181
Submitted this issue to the MIG documentation team, to review any datasheet updates needed.

[2016-07-25 22:53] #205 closed

[2016-07-26 16:14] claudiaAl opened #249 "I2S Clock Gate Control"
Morning!  I am working on disabling/enabling the I2S Interface and am not sure if what I am doing is sufficient.  Below is a very simple sketch that simply initializes the bus with a sample rate and bit resolution, prints out the contents of the CLK_GATE_CTL register, disables the bus, and prints out the register contents again.

I am not seeing the CLK_GATE_CTL register in documentation (I have t

[2016-07-26 17:08] eriknyquist commented on #238
Hi @extrapixel, I received your I2C devices (and a lovely handwritten note!) this morning. Do you have a sketch that you could share with us, which demonstrates the performance difference between an Arduino 101 and an Arduino Uno?

[2016-07-26 18:19] eriknyquist commented on #246
@claudiaAl I'm still not really sure what you are asking. I can run the code, but it is unclear to me what the issue is. Can you explain why your output is not what you expected? what did you expect to see?

[2016-07-26 19:32] PaulStoffregen commented on #238
@eriknyquist - Did you see this?  https://github.com/01org/corelibs-arduino101/issues/166#issuecomment-229851730   (if this link doesn't take you right to my posts, scroll around looking for a photo of stack of various Arduino boards... it's the only actual photograph on that mammoth-length conversation which isn't a screenshot or diagram)

In the simple test I ran, Arduino Uno and other boards to

[2016-07-26 20:25] eriknyquist commented on #238
Absolutely @PaulStoffregen, send us that shield, extra testing hardware is always appreciated! I'll send you an email with a postal address.

In this particular case, @extrapixel has also sent us some specific hardware, and it would help me greatly if he could provide a sketch for his hardware that demonstrates the slowness.

[2016-07-26 20:36] claudiaAl commented on #246
@eriknyquist I'm confused about what to set the the bit to that disables/gates the I2C0 and I2C1 clocks.  For reference I looked at the ss_i2s_iface driver code.  This is the function there used to disable the clock.

[code]

If you look at the first `WRITE_ARC_REG` function that disables the clock to the peripheral, the bit that is written to the `dev->creg_i2c_clk_ctrl` bit in the CREG master co

[2016-07-26 20:45] extrapixel commented on #238
@eriknyquist yes, we've got some code. It's not made especially for testing/comparing, but it should demonstrate the issue clearly. There's the "Tentacle setup sketch" to interactively talk to the stamps (https://github.com/whitebox-labs/tentacle/tree/master/examples/tentacle-setup/tentacle_setup). That code is probably a bit convoluted due to the auto-detection routines, compatibility with UART d

[2016-07-26 20:56] PaulStoffregen commented on #238
@eriknyquist - It's going in the mail today.  You should have it by the weekend.  You can find the simple self-contained test program on https://github.com/01org/corelibs-arduino101/issues/166#issuecomment-229852016

[2016-07-26 21:08] eriknyquist commented on #238
Brilliant, thanks @extrapixel and @PaulStoffregen

[2016-07-26 21:15] eriknyquist commented on #246
I'm not sure, to be honest. If the documentation + code is ambiguous, then I guess the easiest way to find out would be to just test it.

1. Shift some bytes out of I2C0
2. Verify the bytes on the wire with a scope / logic analyser
3. Set the control bit to 0
4. Try to shift more bytes out on I2C0
5. If nothing comes out, then you know I2C0 is disabled

[2016-07-26 21:22] mjs513 commented on #238
I believe @bigdinotech already has a Mpu6050 chip accrording to tje last post on. isssue 166.  If you need the libs and sketch let me know and I can post them. If you want the 6050 the me know. I think I have an extra one laying around. Pretty much gave up on getting the i2c issue fixed.

Mike

[2016-07-28 18:43] noelpaz commented on #166
Hi. Dino asked me to verify the fix for this issue and I am pasting the following screenshots.
The SHA for the fix is 083c0b5aaea00ce192289bea7463e4ad14650f2d
Please rebuild libarc32drv_arduino101.a  and stick it in variants/arduino_101
I used a Salae Pro-16 logic analyzer.

The images are captures of the write to FRAM IC2 chip.

Before the fix. 32 - 34 ms of delay:

![image](https://cloud.githubu

[2016-07-28 19:06] claudiaAl commented on #246
I brought out the scope and I discovered an issue with my code.  Setting my I2C clock bit only works if the CREG Master is not empty.  I have posted my issue on stack overflow and have tried all of the suggestions but nothing seems to work.  I'm not sure what I am missing though...
http://stackoverflow.com/questions/38643407/bit-setting-logic-in-c

[2016-07-28 21:21] claudiaAl commented on #246
I'm working through some issues in my code to get this up and running and I am not convinced that I am reading a register correctly.  I am wanting to look at the I2C0 and I2C1 Control registers to make sure that they are disabled.  However, I am not seeing a change at all regardless of setting or clearing the bit.
[code]
When the I2C is enabled the bit should be set to a 1.  In both cases (enablin

[2016-07-29 00:40] mjs513 commented on #166
@noelpaz. I will give it a test run tomorrow with the 6050. Looks like you made a bunch of changes to fix the issue.  Can I just download the shall branch?  If not how do I rebuild the libarc32_dev... never did it before

Mike

[2016-07-29 01:11] noelpaz commented on #166
You need a Linux box to rebuild it ... I have never done it on Windows.
Download the zip (or use git to cherry pick this commit.
CD to {corelibs_SHANumber}/1.0.6/system/libarc32_arduino101
export PATH=$PATH:~/.arduino15/packages/Intel/tools/arc-elf32/1.6.9+1.0.1/bin
make
you will have this file created libarc32drv_arduino101.a
You can use Dino's branch and copy the corelib files into Arduino15  (v

[2016-07-29 01:15] PaulStoffregen commented on #238
@eriknyquist - Did the EEPROM test shield arrive safely?

[2016-07-29 10:12] bluetooth-mdw opened #254 "GATT Client API needed"
It would be great if there was a class which provides a GATT client API. Some profiles have the GAP Peripheral as the GATT Client (e.g. the HTTP Proxy Service) so that once a connection has been accepted by the peripheral it then acts as GATT client and sends ATT PDUs over the connection to the GATT server at the other end which was previously the GAP Central device.

Without this, it's not possib

[2016-07-29 15:35] claudiaAl commented on #249
I was able to confirm with the EAS documentation that bit 9 should be enabling and disabling the clock, so it looks like I'm good here.

Thank you @bigdinotech !

[2016-07-29 15:35] #249 closed

[2016-07-29 17:45] claudiaAl commented on #246
I am reading it correctly.  My writes are not working as intended but I think that we can call this closed.  Thank you!!

[2016-07-29 17:45] #246 closed

[2016-07-30 00:44] eriknyquist commented on #238
yes, literally just this morning! Thanks again.

[2016-08-01 17:58] eriknyquist commented on #254
@SidLeung can you review? not sure if  this is related to https://github.com/01org/corelibs-arduino101/pull/255

[2016-08-01 22:17] claudiaAl opened #256 "I2C Disable Command Flow"
Hello!  I am working on a low power library and am currently working on disabling the I2C0 and I2C1 interfaces. I have two issues that I am trying to tackle.

#1)  I have been able to verify that I can read and manipulate the registers that I need to in order to accomplish this.  I am a little confused on the flow of what needs to happen though.  I referenced the i2c interface driver code, but am

[2016-08-02 17:44] noelpaz opened #258 "New BLE Central Preview Code -- BLE Peripheral is not advertising"
I am using this JSON http://mkfs.ndg.intel.com/precommit/json/package_0.0.41_index.json and this flashpack http://mkfs.ndg.intel.com/calvin/flashpack_ble_v3.tbz2  (note to non-Intel members you will not have access at this time). @calvinatintel can comment on the correct commit SHA for reference.

I have seen 2 major issues so far as a user doing some preliminary tests.

PIN 13 LED is disabled mea

[2016-08-02 18:09] eriknyquist commented on #256
1) I'm not sure what you mean by "does this need to happen", in reference to disabling I2C clocking. If you are wondering whether disabling the I2C clocking will result in less power consumption, well probably yes. Test it and see.

2) What do you mean by "loading en empty sketch initialises the clock"? Do you see a consistent, repeating, clock signal? or is it just some noise on the line? Does it

[2016-08-02 22:35] eriknyquist commented on #258
@noelpaz I tried the Blink sketch, the Scanning (central) sketch and the BatteryMonitor (peripheral) sketch, using the latest V3 Nordic firmware, and they all worked fine. I am using the Nordic Android app, called "NRF connect".

[2016-08-03 13:24] mjs513 commented on #166
@noelpaz Sorry for not getting back to you sooner - was tied up with another project.  Yes your instructions were very helpful but I think I will just wait for one of the nightly builds that will incorporate your fix.  By the way - is there anyway to know when it is incorporated?

[2016-08-03 16:48] noelpaz commented on #258
That is also what I used. But I used the LEDCallback as that exercise reading and writing characteristics. Let me see if BatteryMonitor works

[2016-08-03 17:23] noelpaz commented on #258
@eriknyquist

I tried that. I made sure I used V3

![image](https://cloud.githubusercontent.com/assets/9592868/17374243/f1f8e828-5968-11e6-9948-175dfbe3d788.png)

Then I made sure it is the correct corelibs  0.0.41  -- heres an output during compilation
"C:\Users\nfpaz\AppData\Local\Arduino15\packages\Intel-Test\tools\arc-elf32\1.6.4+1.0/bin/arc-elf32-g++" .... IC:\Users\nfpaz\AppData\Local\Arduin

[2016-08-03 17:43] noelpaz commented on #166
@mjs513 -- @calvinatintel packages the precompiled .a files and other binaries. I do not know what the release cycle is here on github. IF you really have to try I do not know if there is a mechanism to share the binary separately. It is only 700KB

[2016-08-03 17:44] eriknyquist commented on #258
Yes, the CallbackLED example does not work for me either

[2016-08-03 17:48] noelpaz commented on #258
I assigned the internal JIRA to Liang. I cannot find the member name here.

[2016-08-03 18:17] noelpaz commented on #258
I found the issue. The UUID on the ledService in the example is too long. It cannot be more than 128 bits or 31 characters + NULL. I looked at BLEPeripheral.h and the corresponding .cpp file

In the sketch CallbackLED.ino

BLEService ledService("19B10000-E8F2-537E-4F6C-D104768A1214");
If you used this you should be good
BLEService ledService(("19B10000-537E-4F6C-D104768A1214")

In the past it supp

[2016-08-03 18:20] eriknyquist commented on #258
nice one @noelpaz ... can you provide a fixed example sketch that I could test?

[2016-08-03 18:20] eriknyquist commented on #258
Oops sorry.... you already provided a shorter UUID that works. OK cool I'll try it.

[2016-08-03 18:27] noelpaz commented on #258
However the central's BT address is incorrect and defaulting to 00:00:00:00:00:00. Something is probably up with the poll() method. In the Battery monitor it returns the centrals address.

[2016-08-03 18:43] eriknyquist commented on #258
I tried using the shorter UUID, and it still didn't work-- I can't see the bluetooth device advertising

[2016-08-04 00:38] sgbihu commented on #258
I have found the root cause. The reason is I disable some debug trace. The UART have a high load when register the profile. The BLE Lib set the ADV data after register the profile. It will makes UART overload. And the ADV packet data is lost. And the sniffer can capture the device's ADV. But no ADV data.
In the release version all debug trace will be disabled. I test with the debug version. I also

[2016-08-04 00:46] sgbihu commented on #258
I have tested the latest version on my branch. And it work without debug trace. So you can test it now.

If you find the basic function doesn't works, you can report bug and enable the debug trace on Serial1 (The steps can be found in the README.md). And told me the issue's state.

[2016-08-04 22:03] claudiaAl commented on #256
1) I was wondering if there is a best practice for disabling devices.  A coworker suggested I first make sure all (if any) processing is finished, disable the clock, then disable the device.  He said this would gracefully disable the device in the event that it is in use.

2) I'm still fighting with the I2C code-- I'll update as soon as I have something more substantial.

[2016-08-05 18:49] eriknyquist commented on #256
Well, there's really no best practice because every peripheral device is different. So,  I guess you could say the best practice would be to "read the hardware spec (which you now have) and do what it tells you".

Additionally, I would add that I don't think it's the responsibility of your library to check if something is in use before disabling it; your library should do exactly what it says on t

[2016-08-08 17:29] eriknyquist commented on #190
@vshymanskyy closing the issue due to a lack of response. Feel free to re-open if you ever return to it.

[2016-08-08 17:29] #190 closed

[2016-08-08 17:41] eriknyquist commented on #151
This example totally useless out-of-box, I think it's gotten even worse since @PaulStoffregen reported the original issue. Seems like the sketch was written to depend on the default ranges on the Gyro and Accel (setGyroRange() and setAccelerometerRange() are not used), and these defaults must have changed at some point since just moving the board a hair causes the model to spin violently on the sc

[2016-08-08 22:24] claudiaAl opened #261 "SPIClass.begin() and end() giving unexpected values in registers"
Hello!  I am trying to understand what changes the SPIClass.begin() and SPIClass.end() methods do to all of the registers.  Here is some pseudo code from what I understand.

begin()

end()

Here is a simple sketch that will print out my addresses, and the contents of the relevant registers.  The PERIPH_CLK_GATE_CTRL is changing as expected.  I am confused about the contents of the SPI Control Regi

[2016-08-09 04:35] PaulStoffregen commented on #151
When I worked on this IMU stuff, back in March (2016), I created alternate Arduino & Processing sketches for the visualization.  You can find them here:

https://github.com/arduino-libraries/MadgwickAHRS/blob/master/examples/Visualize101/Visualize101.ino

https://github.com/arduino-libraries/MadgwickAHRS/blob/master/extras/Visualizer/Visualizer.pde

Maybe these could be useful as a starting point

[2016-08-09 08:26] PaulStoffregen commented on #151
One more quick thing... these filter algorithms depend on the gyroscope data *rate* as well as its range.  Even if the range is correct, if you alter the rate of data, you'll skew the results.

I know there is a tremendous desire to keep examples simple, both for the sake of the end user and also on the part of the authors writing them.  But distributing examples to the Arduino world where the dat

[2016-08-09 16:57] eriknyquist commented on #151
Yes, you're right. Really I want to make use of the BMI160s internal FIFOs to provide an IMU.available() function, as discussed in issue #150, I just haven't had time to do it yet.
Appreciate the extra material, I'll check it out.

[2016-08-09 18:16] eriknyquist commented on #258
@noelpaz can this issue be closed?

[2016-08-09 21:52] noelpaz commented on #258
Hi It got fixed but when they made a change on Tuesday with this SHA 6d81321

This issue resurfaced again

[2016-08-09 22:28] noelpaz commented on #258
It looks like the issue is related to the BLEDescriptor. the user has to specify a size for the descriptor value so ignore the comment below. Please see internal JIRA for details

[2016-08-09 22:47] noelpaz commented on #258
I think we can close this issue.

[2016-08-09 22:47] #258 closed

[2016-08-10 01:45] echamberlain opened #263 "Is there 6LoWPAN support?"
Hello,

Does the Arduino 101 support 6LoWPAN?

The [Zephyr Kernel 1.0.0 Release Notes](https://www.zephyrproject.org/content/zephyr-kernel-v100-release-notes) indicate that it possible with the hardware.

[2016-08-10 02:26] eriknyquist commented on #263
Hi @echamberlain, Zephyr does support it, but there is no 6loWPAN hardware to drive on the Arduino 101 board; Zephyr is an independent project that support a variety of hardware.

[2016-08-10 17:39] #263 closed

[2016-08-11 07:30] epic11 opened #265 "Constant values to atan2 dont result in constant output"
I need to use the built in atan2 function, but even with constant input it sometimes gives me completely wrong values. Example from my Serial Monitor output:
1.51
1.51
1.51
1.51
1.51
1.51
86050.79
1.51
1.51
1.51
1.51
1.51
1.51
1.51

By printing:
Serial.println(atan2(454.00, 17206.00) * RAD_TO_DEG);

[2016-08-11 08:30] PaulStoffregen commented on #265
Can you give us more info?  Think "reproducible", everything someone would need to recreate this problem.  Right now, we don't even know which board you're using, not to mention having a complete program to copy & paste into Arduino and upload to that board.

[2016-08-11 20:30] SidLeung commented on #254
Will investigate where our BLE library diverged from Sandeep.

[2016-08-12 16:01] epic11 commented on #265
Sorry, for leaving such a short issue. I realized that this bug has something to do with handling interrupts in another part of my code, when I disable it atan works again, so it has probably something to do with my own code, I was just really confused by such a simple function not working.

[2016-08-12 17:57] claudiaAl commented on #256
So I have been able to confirm that the Curie EDS documentation is incorrect for how some bits get set in the CREG Master register.  Specifically, when disabling the I2C interfaces, the clock gate bit in CREG Master needs to be cleared.  Documentation states that it needs to be set to a '1'.

We ran a vey simple test that had a digital temperature sensor sending data over the I2C bus.  We went int

[2016-08-12 23:50] claudiaAl opened #267 "Function behavior differs based on caller"
Hello!

I have acquired a bench power supply and have started to play with measuring my current to identify power savings.  I have my multimeter in series at the Curie's VSYS.  I am really confused by the behavior of something though.

In variant.cpp, three clocks are enabled when a sketch is first loaded (GPIO, PWM, and ADC).  If I comment out the `variantGpioInit()` and `variantPwmInit()` functi

[2016-08-14 13:30] mjs513 commented on #166
@noelpaz  Just had a chance to get back to this issue - working on another project that I needed to get finished.  It appears that the fix was incorporated into the GITHUB corelib, just checked a few of the changes you made against the corelib.   I downloaded and replaced everything into 1.0.6 and received the following errors:

[code]

Not sure if this is related to the libarc32drv_arduino101.a c

[2016-08-14 13:32] mjs513 commented on #238
@eriknyquist - @PaulStoffregen - @extrapixel   - you may want to check the changes that @noelpaz made in a JIRA - discussion seems to still be continuing under issue #166.

[2016-08-15 18:30] ccoulton opened #268 "Public interface for Device's MAC address"
I'm working with the Arduino 101 board to create a project, and would like to access the ble_addr_t or _local_bda, to generate an EUI64 for the device. https://standards.ieee.org/develop/regauth/tut/eui64.pdf

This Global identifier requires the MAC address of the device, with a 0xff or 0xfe byte inserted in the middle of the 48 bit address of the MAC, Being able to do this programmatically so eac

[2016-08-16 16:58] ccoulton commented on #268
I was able to do this by getting a ble_addr_t from the ble_client_get_factory_config method, but something forward facing would be nice

[2016-08-16 23:01] ccoulton commented on #97
Related Question, is there a way to start advertising with an interrupt? end seems to work when not connected to a central, but restarting the perhipheral seems impossiable.

[2016-08-19 11:25] mjs513 commented on #150
@eriknyquist In going over the schematic for the Arduino 101 I didn't see the BMI160 sensor connections.  Reason I ask is that if a magnetometer is attached to the secondary interface of the sensor (either SPI or I2C you could read the mag data into the FIFO as well.  Not sure if this is possible.  As Paul can tell you mag data is used in the 9dof version of the AHRS algorithms and is intended to

[2016-08-22 13:22] GregorioW opened #270 "[DOC] Reference/CurieIMUreadTemperature Wrong formula"
I’m aware that the following is not a crucial issue, but I hope it’s not a big deal to correct it (and that it’s the right place to report it).

In the [CurieIMU.readTemperature() reference](https://www.arduino.cc/en/Reference/CurieIMUreadTemperature) the conversion example is wrong.
Instead of
Celsius=(raw/32767.0)+23
it should be
`tempCelsius = rawTemperature / 512.0 + 23.0;`
(see [BMI60.cpp:227

[2016-08-23 18:34] SidLeung commented on #150
For the Arduino 101 board, it does not have the provision to attach a magnetometer.  However, the new product, tinyTILE, that was announced at the IDF event has that capability.

[2016-08-23 20:04] claudiaAl opened #271 "Writing to register causes crash"
Hello!  I am working on a very simple sketch that puts the Quark, and the ARC into low power mode, and uses a push button as an interrupt to wake them back up.  I am finding that when I set a bit in a register, my program just stops running.  The setting of this bit should not really do anything until the next call... I am not able to step into the function because I am using the Arduino IDE so I

[2016-08-23 21:03] claudiaAl opened #272 "Wrong register bits referenced in doc (EAS and EDS)"
The CREG Master 0 Control Register has 5 bits (bits 27-31) that control the clock gating of peripherals (i.e. ADC, SPI0, SPI1, I2C0, I2C1) .  The EAS doc (pg 71) and the EDS doc (pg 228) both list these incorrectly as bits 24-28.

[2016-08-23 22:18] mjs513 commented on #150
Hi @SidLeung  thanks for the heads up.  Did a quick search and found some limited info.  Looks nice.  However, the only thing I saw was that there are test points that supposed expose all the connections - I think.  I have attached a HMC5883L through the I2C connections and works without a problem.  Only issue is the syncing that was why I was asking if it would be possible to use the fifo to link

[2016-08-23 22:44] SidLeung commented on #150
You are fast, Mike.  As you may notice that there are many Curie signals being brought out for external access in tinyTILE.  The back side of the board is the only suitable space to accommodate them all.  You may also notice that these connection points are intentionally made larger than standard test points for the purpose of soldering.

[2016-08-24 00:33] eriknyquist commented on #271
CCU_C2_LP_EN: if this is bit 1 of the "System Low Power Clock Control" register, then setting it gates the clock to the host (x86) processor. `Serial` needs a USB driver running on that processor, so `Serial.print` won't work after you do that.

If the ARC is still running then `Serial1` should still work after CCU_C2_LP_EN, since that uses a UART driver running on the ARC core.

[2016-08-24 13:17] mjs513 commented on #150
Hi Sid.  Been working with IMUs and AHRS for quite awhile so this is of particular interest to me.  Couldn't tell from the photos how big the connections were from the couple of photos I found on line.  I did notice that the info available said it would be programmable from the Arduino IDE.  So the question would then be would the corelib for the Arduino 101 be the same as for the tinyTile.  I kno

[2016-08-24 13:42] mjs513 commented on #238
@eriknyquist - @PaulStoffregen - @extrapixel - @noelpaz

I just tested the latest GITHUB changes that incorporated the @noelpaz updates associated with issue #166.  Again using the MPU6050 there was significant improvements to the timings: 1.51ms with setClock(100000L) and 0,5 ms using setClock(400000L).  This is compared to my original results:

haven't done any timing tests with the Fram but may

[2016-08-24 14:19] PaulStoffregen commented on #238
I send my eeprom shield to Erik.  Working on a new Teensy board for release in October, so can't do much until after that's completed.

[2016-08-24 15:07] mjs513 commented on #238
Can't wait for the new teensy. Can you share any specifics or is it on the
forum

On Aug 24, 2016 10:19 AM, "Paul Stoffregen" <notifications@github.com>
wrote:

[2016-08-29 18:05] russmcinnis commented on #151
The sketches Paul linked are not showing the issues from before so I think the demo is nice. I will run it past some others since I don't have much time with IMU. The image is fairly stable and I don't see the issues with the heading settings causing the pitch and roll to both control the pitch or something like that. I think we should use this.

[2016-08-30 01:58] descampsa commented on #150
Implementing a available-like function for gyroscope/accelerometer data does not seem too complex, see https://github.com/descampsa/corelibs-arduino101/commit/773a80085bdd2800180d9eae19d7461e03124ece. I have not tested it much yet, but on the Orientation Visualizer example, it seems to work as expected.
A proper FIFO implementation would be better, of course.

[2016-09-02 20:10] khanning opened #280 "digitalWrite and analogWrite do not work in combination"
If you call analogWrite on a PWM capable pin with any value other than 0 and 255, any subsequent  calls to digitalWrite on the same pin are ignored until one of the following events occurs:
1. `pinMode(PIN, OUTPUT)` is called on the pin again
2. You call `analogWrite(PIN, 0)` or `analogWrite(PIN, 255)`

This behavior does not occur on the Arduino UNO.

Here is a simple sketch that illustrates the

[2016-09-06 17:02] eriknyquist commented on #150
Thanks @descampsa, I'll try it out.

[2016-09-06 22:03] piroozn commented on #181
The description for this problem shows that value matches the calculated value from the data sheet. To me the data sheet is showing the correct information and it is matching what the register value.
It is a bit confusing because they have to add the acceleration value to the initial acceleration value of 3.91 mg @ value=0. The data sheet is showing the value of 375 mg but is explaining that needs

[2016-09-09 17:21] #271 closed

[2016-09-09 17:23] #261 closed

[2016-09-09 17:26] eriknyquist commented on #267
@claudiaAl don't really understand the question. Are you asking if your sketch and the code in variant.cpp are executed by different processors? (if so, the answer is no- they are both executed by the ARC core).

[2016-09-09 17:33] eriknyquist commented on #238
Yes, I2C performance has improved dramatically. From using Paul's EEPROM shield, and just looking at the signals on a scope, things look much tighter now. Would appreciate if @extrapixel specifically could confirm that his I2C situation has improved (note this fix is not with Arduino yet-- you will have to grab the latest from here).

[2016-09-09 17:50] extrapixel commented on #238
@eriknyquist alright, will test some time next week. Did you have a chance to hook up the hardware I sent you?

[2016-09-12 11:07] zeptochain opened #291 "EEPROM not updating correctly"
Seems only the first and last byte written "take". During the update, EEPROM[location], does return the expected number, but seems to "forget" it when you later dump out the EEPROM contents.

Also, EEPROM.length appears to return 512 rather than the expected 1024.

Here's a sketch showing the issues:

https://gist.github.com/zeptochain/54c20ee93624025550259eec45ae6cfc

The output from my board loo

[2016-09-14 21:30] claudiaAl commented on #267
Yes, that was the question.  I'm not really sure why there was a difference, thank you for the clarification.

[2016-09-14 21:30] #267 closed

[2016-09-15 00:21] zeptochain commented on #291
Looks like Castor will fix this - I have used https://github.com/01org/corelibs-arduino101/pull/281 from Martino and it works nicely under a number of different tests that I have made.

[2016-09-15 00:21] #291 closed

[2016-09-20 22:46] kitsunami commented on #272
Tracking fix via /CURIE-60

[2016-09-27 08:48] bluetooth-mdw commented on #229
Update: I think I do experience this problem with the non-callback pattern. It just happens less frequently.

[2016-09-27 14:09] facchinm opened #300 "[Core 1.0.7] Print floats regression"
This commit https://github.com/01org/corelibs-arduino101/commit/3168ede2cbd3df99121944d46a5b24e9557d2b4b causes some floats to print incorrectly. Reverting is not a chance so it should be investigated.

The original report is here http://forum.arduino.cc/index.php?topic=426292.0, example sketch attached
[code]

[2016-09-27 21:57] eriknyquist commented on #300
Thanks for the heads up @facchinm, I'll look into it.

[2016-09-28 00:15] eriknyquist commented on #300
It was a faulty implementation-- I missed a corner case. @facchinm please test https://github.com/01org/corelibs-arduino101/pull/302

[2016-09-29 02:24] eriknyquist commented on #280
@bigdinotech can you look into this please?

[2016-09-29 02:26] eriknyquist commented on #97
@SidLeung any idea if this has been fixed in the recent BLE merge?

[2016-09-29 16:53] SidLeung commented on #229
Checking this issue with the BLE library under construction to ensure this will not happen in the up coming release.

[2016-09-29 21:39] sandeepmistry opened #307 "[I2S] Curie_I2S Sample Rates are not tied to bit rate"
In [libraries/CurieI2S/src/CurieI2S.h](https://github.com/01org/corelibs-arduino101/blob/master/libraries/CurieI2S/src/CurieI2S.h), the 44.1 kHz sample rate constant is fixed for a 24-bit.

[code]

When using 16-bit, for example, `0x00160016` should be used.

[2016-09-29 23:11] eriknyquist commented on #300
Merged https://github.com/01org/corelibs-arduino101/commit/2e56b81a264c8760f095a12f650381b8ea8de831

[2016-09-29 23:11] #300 closed

[2016-09-30 06:18] bluetooth-mdw commented on #229
@SidLeung Great, thank you. So you're saying there's a new Bluetooth low energy library coming? Do you have an ETA for this?

[2016-09-30 19:18] SidLeung commented on #229
Hello, there.  I have good news and some suggestions for you.  Our team member was able to generate the issue with the info you provided.  Allow me to bring up the subject of foreground and background processing in a computing environment.  Foreground processing refers to the code execution within an interrupt context.  The callback routine invoked by an event is a kind of foreground processing.

[2016-09-30 20:23] ralphxyz opened #309 "Arduino 101 Core 1.0.7 cannot compile!!"
Windows 10 x64 Arduino 101

the error:
[code]
The compiler user cannot run "cmd" only administrator can run cmd!!

Version 1.0.7 and Version 1.0.6 both fail!!

Version 1.0.5 compiles successfully!!

Version 1.0.5 does not select a "programmer" from Tools.

[2016-09-30 21:32] eriknyquist commented on #309
Thanks for letting us know @ralphxyz, we'll try to reproduce these errors and get back to you soon.

[2016-10-01 06:29] smartyw commented on #229
@SidLeung Glad you recreated the problem.

I mentioned ISR (Interrupt Service Routines) in my initial report if you check.... I had a feeling this was concerned with interrupt servicing and priorities.

I have no control over callbacks from the Bluetooth stack and what context they're executed in however. @sandeepmistry may have some comments on this though.

Furthermore, if you check my more rece

[2016-10-01 07:23] SidLeung commented on #229
Ok.  Fair enough.  It is true that I would not like to, and not authorized to, take on the responsibility of debugging 3rd party library without prior approval from my superiors.  However, I can try to duplicate the problem with the non-call back sketch you provided in the zip file.  Upon successful duplication, I can work request for priority to the issue.
I am not all surprised to learn that the

[2016-10-01 07:40] smartyw commented on #229
@SidLeung  Good point on the dedicated processor with my Arduino Uno. Yep, makes sense.

It may be the 101 just isn't suitable for my purposes.

Cheers

Martin

[2016-10-01 09:45] darkwave opened #312 "CurieBLE LED example error"
LED example uses wrong class [BLECentralHelper instead of BLECentral](https://github.com/01org/corelibs-arduino101/blob/master/libraries/CurieBLE/examples/LED/LED.ino#L53)

[2016-10-01 16:28] ralphxyz commented on #309
A workaround solution for this problem would be to run the "Programmer" as Administrator,
might have to ask permission.

A User cannot run the cmd command only a Administrator can run cmd!!

This is possible/probable not a bug in Version 1.0.7 but a configuration
of my Windows x64 computer.

It might be Windows or even my Norton Security protecting me from my self.

Version 1.0.7a would run the Pr

[2016-10-03 08:02] facchinm commented on #309
For reference, there is [this](http://forum.arduino.cc/index.php?topic=425387.msg2942374#msg2942374) post on the forum reporting the same problem.
@eriknyquist until not needed by the end user, I would comment out those lines on the released core in order to avoid this kind of problems

[2016-10-03 21:37] #216 closed

[2016-10-03 21:37] kitsunami commented on #216
Closing per Sidney's comment above.

[2016-10-03 21:46] noelpaz commented on #215
Updates on this:  On a library level we have fix the ability to write up to 512 bytes. However found out that the BLE stack which is maintained by the thunder dome team , has issues when we a central is reading. There is a forced disconnect and the transaction never completes.

I filed a Thunderdome jira: FIRE-6872
And the ATL jira is 588

 as per @sgbihu

Summary [ of what the Nordic FW currently

[2016-10-04 01:40] noelpaz commented on #229
Hi. Sidney asked me to look into this.

First off my setup  IDE = 1.6.9  Arduino 101 1.0.7 NeoPixel at 1.0.6 and Neo Matrix at 1.1.2.  I also made sure I had the correct capacitor plus my power supply is 5VDC and 10amp. If you skimp on your power supply you can crash the program.

What I did is I did not use the poll function but rather use the LED example that checks if there is a connection to c

[2016-10-04 03:27] bluetooth-mdw commented on #229
Hi @noelpaz

thanks for looking at this. In fact I'm already doing something very similar:

[code]

What I've found is that execution is significantly more reliable with this approach but I still encounter 'the problem' about one time in 6 or something like that. I guess it's not deterministic and timing is a factor so refactoring the application code is probably never going to solve this fully, j

[2016-10-04 20:31] noelpaz commented on #309
Hi. I am a colleague of @eriknyquist  and tried to replicate this problem today. After reading what is here I think we are dealing with problems compiling and uploading (let us bundle this as one operation) and running the command burn bootloader.  The other issue also seems to be that the user has non administrative privileges.

Here is my setup Windows 10 professional 64 bit, Arduino IDE 1.6.12

[2016-10-04 20:42] ralphxyz commented on #309
I am an Administrator.

The problem is that the programmer runs as a user not an Administrator.

I do not use Windows Defender, I use Norton Security, I am not sure there
is a override option in Norton.

facchinm <https://github.com/facchinm>'s work around eliminated the cmd
problem.

Now I am getting a different error.

On Tue, Oct 4, 2016 at 4:32 PM, noelpaz <notifications@github.com> wrote:

--

[2016-10-04 21:03] noelpaz commented on #309
![image](https://cloud.githubusercontent.com/assets/9592868/19092220/9864808a-8a3a-11e6-8ac4-b25267de67f4.png)

This is a screenshot of the dialog from gpedit (global policy editor) . These are the settings which replicates the problem for the non-admin user. Reversing this would eliminate the problem.

Assigning this to @calvinatintel  so that he and @facchinm can discuss the [workaround in the A

[2016-10-04 21:28] noelpaz commented on #309
@ralphxyz -- Yes I can confirm that with the policy setting set so that Command prompt is disabled and command script processing also disabled, even as an administrator you cannot compile or upload for Arduino 101 board but can with other Arduino boards.

The thing is that even though you are administrator, you are running most programs as a regular user. That is why if you create a folder in Prog

[2016-10-04 22:06] calvinatintel commented on #309
Hello @ralphxyz,

Did you try this? http://stackoverflow.com/questions/32035577/cmd-is-not-recognized-as-an-internal-or-external-command-operable-program-or

[2016-10-04 22:34] noelpaz commented on #309
It was pointed out to me by @calvinatintel that the original error message could be a symptom that cmd is not in the user's path.  To replicate:

1. I created an admin user
2. I opened a command line and then I type set path. I copied my path in a notepad and removed C:\Windows\System32  where usually cmd.exe is located
[code]
3. Then I star Arduino from within this command line ..  cd to my insta

[2016-10-05 07:38] facchinm commented on #309
Removing completely those line in "production" is the way to go in my opinion. They are unused and the IDE is still lacking an integrated debugger to take care of this. The problem here is that `strip` command runs with only one parameter, so the original file with debugging symbol gets overridden. Once the IDE acquires the debugger capability, we'll surely handle this case since we need the unstr

[2016-10-05 21:19] bigdinotech commented on #280
That is actually the expected behavior.
when using analogWrite() the pins are muxed into pwm mode
when using pinMode() the pins are muzxed into gpio mode
We are not muxing during digitalWrite() for performance reasons.
analogWrite(pin, 0) and analogWrite(pin, 255) works because we are actually switching to gpio modes for those values

[2016-10-06 00:27] calvinatintel commented on #309
@facchinm Replacing `cmd /c copy ...` with `%COMSPEC% /c copy ...` failed as you thought because IDE couldn't expand the environment variable.
[code]
I wanted to run `set PATH=%COMSPEC%;%PATH%` before running the `cmd /c copy ...`, but that wasn't possible because `set` is a subcommand of `cmd`. I can't think of a way to modify that line to make it work for someone who has removed `c:\windows\syst

[2016-10-06 07:49] facchinm commented on #309
It sounds great! Commenting it is surely the way to go, so advanced user can easily get it working without searching over the web for the correct lines

[2016-10-06 13:25] ralphxyz commented on #309
First thing I have Windows32 in my  Path!! It was not there but that was
one of the first things I checked, it was not there so i added it and still
got the error!!

facchinm <https://github.com/facchinm>'s work around worked but then I got
a new error.

That has not been addressed.

Ralph

On Thu, Oct 6, 2016 at 3:49 AM, Martino Facchin <notifications@github.com>
wrote:

--
I am not old, I am jus

[2016-10-06 17:17] calvinatintel commented on #309
Hi @ralphxyz what is the new error?

[2016-10-06 18:57] ralphxyz commented on #309
oops I meant System32, that's the problem with doing things on the fly

On Thu, Oct 6, 2016 at 9:24 AM, Ralph Hulslander <rhulslander@gmail.com>
wrote:

--
I am not old, I am just aged like a fine wine or a prime piece of meat and
a tasty whiskey.

Me

[2016-10-06 19:09] ralphxyz commented on #309
Here is the [new error:](https://forum.arduino.cc/index.php?action=dlattach;topic=425387.0;attach=182624)

[2016-10-06 19:59] calvinatintel commented on #309
That looks like a compile error in using `NewliquidCrystal` library. Are you able to compile a blank sketch?

[2016-10-06 20:22] calvinatintel commented on #309
Fix in PR https://github.com/01org/corelibs-arduino101/pull/314

[2016-10-06 20:28] ralphxyz commented on #309
I get a error when compiling a blank sketch.

Strange NewliquidCrystal is the current recommended LCD library.

I only installed the library didn't touch anything.

Here is the latest blank sketch error:

Arduino: 1.6.11 (Windows 10), Board: "Arduino/Genuino 101"

C:\Program Files (x86)\Arduino\arduino-builder -dump-prefs -logger=machine -hardware C:\Program Files (x86)\Arduino\hardware -hardware

[2016-10-06 20:31] ralphxyz commented on #309
I have System32 in my path!!

[2016-10-06 20:39] ralphxyz commented on #309
Sorry Calvin I do not understand the "fix" I have System32 in my path.

On Thu, Oct 6, 2016 at 4:22 PM, Calvin Park <notifications@github.com>
wrote:

--
I am not old, I am just aged like a fine wine or a prime piece of meat and
a tasty whiskey.

Me

[2016-10-06 20:57] calvinatintel commented on #309
PR https://github.com/01org/corelibs-arduino101/pull/314 removes the copy line which was causing problems.

It looks like you're compiling `HelloWorld_i2c.ino`. Can you try `BareMinimum` sketch that you can find in `File > Examples > 01.Basics > BareMinimum`?

[2016-10-07 16:43] eriknyquist commented on #309
**C:\Users\Ralph\AppData\Local\Arduino15\packages\Intel\hardware\arc32\1.0.7\cores\arduino/main.cpp:43: undefined reference to `setup'

C:\Users\Ralph\AppData\Local\Arduino15\packages\Intel\hardware\arc32\1.0.7\cores\arduino/main.cpp:47: undefined reference to `loop'**

When you say you can't compile a 'blank' sketch, it looks like your file is totally empty. You can't compile an empty file; you n

[2016-10-07 17:52] noelpaz commented on #312
The latest official release 1.0.7 still has the old class BLECentral. In the current tip of the master we implemented BLE Central functionality and now it is called BLECentralHelper. It is not a bug or error. The reason we had to do this is we wanted backward compatibility. The original CurieBLE implemented peripheral mode only but confusingly called the top class BLE Central.

The library is till

[2016-10-07 19:20] #312 closed

[2016-10-07 19:31] ralphxyz commented on #309
Show you what I know.

Calvin had asked if i can compile a blank sketch, so that is what I tried.

I can compile BareMinimum!!

[2016-10-07 19:52] calvinatintel commented on #309
PR https://github.com/01org/corelibs-arduino101/pull/314 merged

[2016-10-07 19:52] #309 closed

[2016-10-07 23:19] SidLeung commented on #307
Corrected in the re-factored version of CurieI2S library.

[2016-10-07 23:19] #307 closed

[2016-10-10 20:14] eriknyquist commented on #186
@SidLeung has this issue been addressed by central add + peripheral re-factor?

[2016-10-10 20:15] eriknyquist commented on #191
Are we waiting for a response to move forward here? or can this be closed?

[2016-10-10 20:16] eriknyquist commented on #96
@noelpaz @sandeepmistry can you guys re-test on the latest master?

[2016-10-10 20:19] eriknyquist commented on #231
@bluetooth-mdw, since you posted this issie, the BLE central feature has been added, and the peripheral code has also been re-factored. Are you still seeing this issue?

[2016-10-10 20:20] eriknyquist commented on #254
@SidLeung any updates on this?

[2016-10-10 20:21] eriknyquist commented on #268
@SidLeung can you comment? is it possible to provide a public interface for retrieving the MAC address?

[2016-10-11 01:40] noelpaz commented on #97
I verified that disconnect and end works from a peripheral using the API disconnect and end for the current CurieBLE implemented by @sgbihu  (Liang's team) . I am closing this.

Thanks

[2016-10-11 01:40] #97 closed

[2016-10-11 01:51] noelpaz commented on #186
This was not implemented. Also the preview BLE from Arduino did not implement this. I asked @sgbihu and @SidLeung about this and I think the BLE stack does not currently support it as well.

Also note that Nordic does not really encourage this capability. We probably should close this and revisit it when we decide too and can do it (meaning we have to change the BLE stack).

[2016-10-11 02:03] noelpaz commented on #96
This is still not implemented and probably will not. Any nrf FW change for us is not trivial because we do not own it.

This is a caching issue with the different BLE tools that are central devices. You get different behavior on each and I have tried many. Some cache , some don't, some allow you to store connection profiles. If you are using BlueZ central which does not cache and you see the Local

[2016-10-11 02:07] noelpaz commented on #191
We need to close this as Sidney has given the correct explanation. The connection interval can be tuned. Please bear in mind also the 20 byte limitation and you may have to go lower than 20 bytes if you have an aggressive connect interval

[2016-10-11 02:09] noelpaz commented on #254
No updates on this. Not sure how far along are we are on the refactor.

[2016-10-11 02:45] noelpaz commented on #268
If you look at the current CurieBLE and look at Scanning example we are displaying the Mac Address of the BLE peripherals being scanned. The peripheral can also get the central's mac and also any central app had access to the peripheral's MAC address.

But you want to know the mac address without the help of a central or another peripheral. Basically a self-discovery, correct

I looked at the incl

[2016-10-11 06:25] bluetooth-mdw commented on #231
@eriknyquist Hi, I suspect I'm running exactly the same library version I was when I first bought the Arduino 101. What library version is the latest? I'll see if I can update and re-test. Thanks for the info.

[2016-10-11 09:50] demetrix76 opened #316 "[CurieBLE] BLEDescriptor data corrupt"
I believe I should have raised an issue here instead of posting on Arduino forum, hence the report.

Example Arduino code:
[code]

When I connect to the device, the descriptor values are incorrect (the result is consistent across different apps: gatttool/Linux, LightBlue/iOS, NRF Scanner/Android):
Descriptor 1: (0x) 10-3C-BA-BB-AB-D8-21-08
Descriptor 2: (0x) 02-08-29-21-22-23-24-25

Actually, the

[2016-10-11 10:35] #191 closed

[2016-10-11 10:36] vshymanskyy commented on #191
Thank you!

[2016-10-11 12:46] sandeepmistry commented on #191
For clarification, is the Nordic stack blocking for 60 - 90 ms or is there something in the 101's nRF51822 firmware doing this?

[2016-10-11 12:48] sandeepmistry commented on #268
The new API we've been discussing will have a `BLE.address()` API that returns a String for the local BT address.

[2016-10-11 12:51] sandeepmistry commented on #96
To me this is a trivial change in the nRF51822 firmware (maybe 2 or 3 lines). If it's not possible to fix in the next release, I think this issue should remain open. It would make a much better experience for iOS users who are prototyping or learning BLE using the 101.

[2016-10-11 12:58] sandeepmistry commented on #186
It would be great to get this in the next release. It would allow users to uses the full 31 bytes in the advertising data, then the scan response can be used for the local name.

Do you have a link related to this?

[2016-10-11 13:26] demetrix76 commented on #316
Update: this seems to have already been fixed in 2.0.0 prerelease.

[2016-10-11 17:51] eriknyquist commented on #150
https://github.com/01org/corelibs-arduino101/pull/317
https://github.com/arduino-libraries/MadgwickAHRS/pull/16

[2016-10-11 18:03] #316 closed

[2016-10-12 20:58] Tstek opened #318 "Bluetooth doesn't start unless device is reset"
We've had a problem recently where the Arduino 101's BLE will never start advertising (and maybe the rest of the code won't work, it's very hard to tell) until the reset switch is pressed (either, I think, but we usually used the regular (not master) reset).  This seemed to only occur when powering the device by the barrel jack alone, it would always work if it was powered by only USB or when both

[2016-10-12 21:02] bigdinotech commented on #318
@Tstek are you running one of the examples? If so which one?
Are you able to share the code that was working and the code that was not working for you?

[2016-10-12 21:31] Tstek commented on #318
@bigdinotech uh, I guess nevermind, thanks for asking though, I just went through and reverted all the changes, to make sure I could give you the minimal amount of code necessary....and I couldn't get it to fail anymore. It was more or less the BLE LED Callback example, but with a bunch of stuff added on top. Maybe some board update fixed our problem while I wasn't looking, and I just re-loaded th

[2016-10-12 21:31] #318 closed

[2016-10-13 10:55] Prof62 commented on #96
This definitely needs fixing and, in the interim, a big red warning message in the official docs. I wasted half a day trying to work out what was wrong with my sketch and then trying to "un-corrupt" my 101 before I discovered that it was actually a bug.

Luckily for me the failure was glaringly obvious but it has the potential to manifest in very subtle ways.

This may not be an simple fix but it'

[2016-10-13 11:12] Prof62 opened #320 "Bluetooth Advertising does not stop when BLEPeripheral.end() called."
When calling BLEPeripheral.end() advertising should stop but it does not.

Looking at the source the behaviour of end() app it appears that either the current central will be disconnected or advertising will stop, but not both and it always seems to choose disconnect, even when already disconnected.

As a workaround I have modified my local copy of the V1.0.7 CurieBLE  library to add a basic wrapp

[2016-10-13 13:27] sandeepmistry commented on #96
@SidLeung @sgbihu @noelpaz I wonder if we can workaround this at the ARC level. We can try to automatically add a [Generic Attribute service](https://www.bluetooth.com/specifications/gatt/viewer?attributeXmlFile=org.bluetooth.service.generic_attribute.xml) and [Service Changed characteristic](https://www.bluetooth.com/specifications/gatt/viewer?attributeXmlFile=org.bluetooth.characteristic.gatt.se

[2016-10-13 16:56] eriknyquist commented on #231
@bluetooth-mdw just get the latest version from the IDE boards manager.

[2016-10-13 17:26] SidLeung commented on #96
Understood that it would be nice to have the peripheral to cause the Central to flush its cache of stale info.  The above suggestion should be implemented on a customized bases, not a generic function.  For example, if you plug a new device onto an Ethernet, it device will not perform extra activities to cause all the switches and routers on the net to flush and refresh their cache.  It is not wit

[2016-10-13 23:41] noelpaz commented on #96
@sandeepmistry Not sure if we can do this just by making changes in the library and framework source code The 1801 Generic Attribute Service is already added by default but it is empty, so it looks like we are using the default. I experimented on adding that Characteristic and it just caused BLE to not start.

I did some experiments with nrfController on Android 6.0 and even though it has cached d

[2016-10-13 23:58] noelpaz commented on #96
In addition to what @SidLeung  said, one thing to remember about  sketches on Arduino 101 is that even though it may not seem like it, every time you upload a sketch and make changes you are in fact pushing a new FW unto the board not just an app.  And anyone who has updated the FW on their router or BT headset etc, knows that you have to  start fresh to re-configure the settings as well. Restarti

[2016-10-14 00:17] noelpaz commented on #320
@Prof62  - You are correct on your observation. We did fix these API calls on the current github version of corelibs but also we have added BLE Central feautures. You will not get this version using the IDE (1.0.7) and should be treated as in-Development software. You will have to rewrite your sketches a little bit. If you look at the number of sketches you will see there are significantly more an

[2016-10-14 01:56] ouki-wang opened #321 "I can NOT upload bootloader from 1.0.6 to 1.0.7"
java.lang.NullPointerException
	at cc.arduino.packages.uploaders.SerialUploader.burnBootloader(SerialUploader.java:363)
	at processing.app.Editor.lambda$handleBurnBootloader$42(Editor.java:2752)
	at java.lang.Thread.run(Thread.java:745)
Error while burning bootloader.

[2016-10-14 10:01] Prof62 commented on #320
Thanks. I've now installed the latest version as you suggest but can't test it because I can't find locate the download location for a compatible flashpack to update my Genuino 101 firmware. (I also had to open the example files using a text editor but I suspect that is just an artefact of the manual install process)

I apologise for posting what is really a forum type question but I'm posting it

[2016-10-14 13:09] sandeepmistry commented on #96
Hi @noelpaz,

Thanks for trying out my suggestion, I forgot that the Nordic stack includes an empty Generic Attribute service.

Please note, this is the behaviour of the iOS CoreBluetooth stack, so it impacts all iOS apps, just not LightBlue. iOS treats non-presence of the Service Changed Characteristic as a flag to turn on caching. When the Service Changed Characteristic is present it disables ca

[2016-10-14 15:35] don commented on #96
@SidLeung Since this is Arduino I think it's really important that the library does the "right thing" and makes the user's life easier by setting the Service Changed Characteristic. It should be easy for users to create and modify Bluetooth services.

Forcing users to restart Bluetooth on their phone or a custom implementation of Service Changed Characteristic won't be the best experience. I agree

[2016-10-14 17:32] eriknyquist commented on #321
Did you try shutting down the IDE and opening it again?

[2016-10-14 17:36] eriknyquist commented on #320
@Prof62 if you installed 1.0.7, update the BLE firmware this way:

Tools -> Programmer -> Arduino/Genuino 101
Tools -> Burn Bootloader

[2016-10-14 17:57] Prof62 commented on #320
Thanks for the suggestion Erik.

The problem is that I have installed the Core libraries from this github repository following the readme instructions so they are not really 1.0.7. They also do not contain the flashpack which is in the tools directory higher up the tree.

Unfortunately, this means that Burn Bootloader just re-installs the incompatible version.

Is there something else I need to do

[2016-10-14 18:00] bigdinotech commented on #320
If you are trying to just get stuff from GitHub then you will also need to grab the new tools
https://github.com/01org/intel-arduino-tools

[2016-10-14 18:26] SidLeung commented on #96
@sandeepmistry Please provide a BLE Peripheral device that has Service Change Characteristic so that @noelpaz can verify the caching disabling feature on iOS before we should proceed further.

[2016-10-14 18:31] sandeepmistry commented on #96
The easiest for you might be to use [bleno](https://github.com/sandeepmistry/bleno) on an Intel Edison, if you have one handy.

@rexstjohn has a nice configuration guide: http://rexstjohn.com/configure-intel-edison-for-bluetooth-le-smart-development/

[2016-10-14 18:36] SidLeung commented on #96
@sandeepmistry Please provide a BLE Peripheral device that is other than a Maker product that has the Service Change Characteristic feature.  Thanks.

[2016-10-14 18:39] sandeepmistry commented on #96
[TI SensorTag](http://www.ti.com/ww/en/wireless_connectivity/sensortag2015/?INTC=SensorTag&HQS=sensortag)

You might be able to change the services via downgrading or upgrading the firmware.

[2016-10-14 18:41] Prof62 commented on #320
Thanks. Sorry for the noob question but I'm a bit too good at finding the wrong version of things and less good at picking the right one.

I'm assuming that pulling tools and core library is the official way to get the latest development build.

[2016-10-14 18:42] SidLeung commented on #96
@noelpaz Please proceed with the verification.

[2016-10-18 03:00] az51911 opened #322 "Problem with running Bluetooth examples"
Hi everyone, im running ubuntu and my board is functional (ive loading the 1.0.7 library) for basic examples like the blinking LED. I wanted to update to this github repo so I could test out the given Bluetooth examples.

However, when trying to use this updated github repo, I get the following error when trying to test the same example:

Sketch uses 47,716 bytes (30%) of program storage space. Ma

[2016-10-18 16:38] bigdinotech commented on #322
Hi @az51911
If you want to use the update repo for corelibs you will also need to update the tools
https://github.com/01org/intel-arduino-tools

The increased sketch size was due to this https://github.com/01org/corelibs-arduino101/commit/1a5e3f7b2d65cf2b81417f85bd24ca455bdaa1fc
The reason for this change was to increase the amount of SRAM avaialble to the user

[2016-10-18 16:51] az51911 commented on #322
Thank you @bigdinotech , do you know of any more detailed instructions on how to update the tools besides those given on that github page?

Here they are: "
    Download go package from here or using your package manager
    cd into the root folder of this project
    execute

export GOPATH=$PWD
export GOBIN=.
go get -d
go build
"

However, when i cd into the go directory, and run go get -d, this

[2016-10-18 17:40] noelpaz commented on #322
@az51911 . I am assuming you are suing Linux. You need to perform all of this in the intel-arduino-tools/arduino101load folder.

If you did not install go using apt-get you need to add <path where installed go>/bin to your path.
You need to also set GOROOT which is the <path where installed go>.

If you are using mac you need to set GOOS as well

If you have a proxy to get to the internet then you

[2016-10-18 17:46] eriknyquist commented on #322
@bigdinotech that commit shouldn't change the size of the final binary. It's just moving an array from SRAM to flash.

[2016-10-18 17:52] eriknyquist commented on #322
@az51911 the difference in size is just because there is a lot of code in the BLE library. When you include the BLE library you pull it all into your sketch.

[2016-10-18 17:57] noelpaz commented on #322
BLE sketches have always been larger.  30 - 40% is normal.  I just compared a simple LED script to something that involves complicated functions and there is really not that much more difference. The underlying library is big and get's built whether you are using  those features or not.

[2016-10-18 18:21] claudiaAl commented on #322
Hello!  I wasn't sure if I should start a new topic.. but I am attempting to install the new tools so that I can use the most up to date libraries and came across an issue when I try to run 'go get -d'.  My error is: "fatal: unable to access 'https://github.com/mattn/go-shellwords/': Failed to connect to github.com port 443: Timed out" (exit status 128).  @az51911 , did you run across the same iss

[2016-10-18 18:21] az51911 commented on #322
@noelpaz, i ran all the instructions in the folder and they finished, but when I tried to upload the sketch, I still got Starting download script...
!! BLE firmware version is not in sync with CurieBLE library !!.

I'm assuming then that they weren't added to the path correctly? I ran export GOROOT=home/aleksandar I installed go using sudo apt install golang-go, in home/aleksandar, but still nothi

[2016-10-18 18:24] bigdinotech commented on #322
@az51911
did you run the burn bootloader step that updates the ble firmware?

[2016-10-18 18:29] az51911 commented on #322
Yes @bigdinotech , I receieved the message: Done!
Resetting USB to switch back to runtime mode!!!SUCCESS!!!

But then when i switched back to the original programmer, I still received the same error.

[2016-10-18 18:33] eriknyquist commented on #322
what do you mean "switch back to the original programmer?"

You should be doing this;

Select "Tools->Programmer->Arduino/Genuino101"
Select "Tools->Burn Bootloader"

Then when it's done, you can try uploading sketches. No switching required.
Is that what you did?

[2016-10-18 18:35] az51911 commented on #322
I meant the AVRISP mkll, I tried both and neither resulted in a successful uploaded sketch.

[2016-10-18 18:36] eriknyquist commented on #322
AVRISP mkll is for the AVRISP mkll programmer, which you can't be using since it's for AVR devices. You need to select "Tools->Programmer->Arduino101" for burning bootloader.

[2016-10-18 18:52] noelpaz commented on #322
@az51911  - What you selected in the programmer will not have an impact to you uploading the sketch. If you choose the Arduino 101 if only updates a specific portion of the chip.

Having said that are you having problems with the default 1.0.7 to upload a sketch or are you actually trying out the latest version of https://github.com/01org/corelibs-arduino101.

If that is the case the arduino101loa

[2016-10-18 19:42] az51911 commented on #322
@noelpaz you are right, when I put the arduino101load into that folder you specified, I no longer have the error. However...even though it says the sketch has uploaded...the LED isn't blinking.

Sketch uses 48,004 bytes (30%) of program storage space. Maximum is 155,648 bytes.
Starting download script...
Flashing is taking longer than expected
Try pressing MASTER_RESET button
dfu-util: Cannot open

[2016-10-18 21:03] SidLeung commented on #229
Hi, Martin:

One more piece of info you may find interesting.  Intel is on its way to enable user to utilize both cores in the Curie module, namely, the Quark SE and the ARC core.  The project is called Curie Open Developer Kit (CODK).  Inside the kit, you will find a s/w development environment that offers multiple ways to make use of the two Cores.  You may want to take a look at it.

Sid

[2016-10-18 22:36] bluetooth-mdw commented on #229
Thanks Sid, that sounds interesting :-)

[2016-10-19 03:49] noelpaz commented on #322
@az51911 ... If it is the CureiBLE LED example, you have to have a central device like an  Android with BLE Version 5.0 and above and then download the nrfController app. Then using this app, connect to the LED peripheral device you need to write to the characteristic a value other the 0x00 and the the LED will light up. If you write a value of 0x00 then it will turn off. In iOS (4s and above)  Li

[2016-10-19 06:03] doctim77 commented on #322
I am unable to upload a sketch to the board using BLE central mode.  I continue to get the following error:
!! BLE firmware version is not in sync with CurieBLE library !!. I then successfully flash the board, but nonetheless I still cannot upload a sketch and get the same error telling me that the firmware is not in sync.  I have tried this dozens of times with no success.

This is following upda

[2016-10-19 07:29] ouki-wang commented on #321
@eriknyquist
yes，i does not work after open IDE again。i think that bat script's compatibility is not good

[2016-10-19 14:28] facchinm commented on #322
To use the mainline `corelibs-arduino101` core, you need to flash the ble_flashpack_v3 from here https://github.com/01org/corelibs-arduino101/releases/tag/2.0.0 .
This needs to be done once, externally (eg. not using `Burn Bootloader` feature).
It will be integrated once 2.0.0 is released. If you decide to go back to 1.0.7 you need to reflash the "older" ble firmware via `Burn booloader` menu

[2016-10-19 15:17] claudiaAl commented on #322
@facchinm , can you please provide details on how to flash the new ble firmware? I'm new to this and am also attempting to use the most recent code in the repo.  Thanks!

[2016-10-19 15:21] calvinatintel commented on #321
Hi @ouki-wang, there were no firmware changes between 1.0.6 and 1.0.7. Why did you need to burn the bootloader?

[2016-10-20 03:10] ouki-wang commented on #321
@calvinatintel ble_core image.bin is updated。

[2016-10-20 15:46] calvinatintel commented on #321
BLE firmware shipped with 1.0.7 is the same as the factory version. The upcoming 2.0.0 release will change the BLE firmware, so we've shipped the factory version with 1.0.7 as a way to return to the original version. If you're seeing a message that you need to update the firmware, you can completely reset back to the factory version using the [Factory Recovery Flashpack](https://downloadcenter.int

[2016-10-21 19:56] claudiaAl commented on #272
Hey @eriknyquist , my apologies with posting about the EAS doc, I didn't realize it was internal only.  The Curie Module EDS version that I had been using was Rev 0.52 and I received it from a peer.  I'm not sure if there is an updated version for this available or not... a quick search didn't bring anything up for me but I could just be missing it.

[2016-10-21 20:19] eriknyquist commented on #272
OK. Do you have a link to the public version of this document? I don't see anything called EDS in the public docs for the Curie module, or Quark SE.

[2016-10-21 23:34] claudiaAl commented on #272
Hey Erik, I asked the manager that provided me with my copy for the original location of the file and he thought that it came from iRef.  I did a search and was only able to find the data sheet and platform design guide.  I've attached a copy for your reference.. not sure if it is out there anywhere!

[curie-EDS_559322_0-52 copy.pdf](https://github.com/01org/corelibs-arduino101/files/545430/curie-

[2016-10-21 23:52] eriknyquist commented on #272
Closing,couldn't find this discrepancy in any of the currently published documents

[2016-10-21 23:52] #272 closed

[2016-10-24 03:12] vyuke opened #332 "Arduino 101 can use u8g library?"
Hi，i want my oled drive by arduino 101,compilation is successful,connect is ok,but OLED  doesn't work,i don't know why,please help me find the problem,thanks.
my code:

[code]

[2016-10-24 16:55] eriknyquist commented on #332
Hi @vyuke, pleasse read our [guidelines for reportang an issue] (https://github.com/01org/corelibs-arduino101/wiki/Reporting-an-issue)

[2016-10-24 18:15] eriknyquist commented on #322
@az51911 Can you please try the method suggested by @facchinm and let us know if it worked?

[2016-10-24 18:21] az51911 commented on #322
@eriknyquist  Yes I tried it, I was able to load the program (according to the Arduino sketch IDE), but nothing was manifested on the board. So I switched back to 1.0.7 at the moment since that is working with no issues.

[2016-10-24 18:48] eriknyquist commented on #322
OK. Since 2.0.0 is not actually released yet (i.e. you are playing with currently unsupported code), I recommend to close this issue. If you are still having this issue with the release package, then we can re-open it.

[2016-10-24 22:05] #265 closed

[2016-10-24 22:08] #321 closed

[2016-10-24 22:11] #322 closed

[2016-10-24 22:39] eriknyquist commented on #256
closing this, since no activity for a couple of months, and @claudiaAl knows now that this EDS document is old and she shouldn't use it anymore.

[2016-10-24 22:39] #256 closed

[2016-10-25 07:48] agdl opened #334 "analogWrite issue"
Hi, I found a bug in the analogWrite function. Here the sample sketch I used to reproduce the issue:

[code]

Basically if you use a pin as PWM and then you use the `digitalWrite(pin, LOW);` the last PWM value stays on the pin.
Obviously writing `analogWrite(pin, 0);` the issue disappears

[2016-10-25 14:57] oqibidipo commented on #334
See #280.

[2016-10-25 15:15] facchinm commented on #280
@bigdinotech I believe that using a bitmap (in RAM) to keep the pin mux state would solve the issue. Since you got much improvement in RAM usage since 1.0.7 we could use some of this spare memory to avoid this kind of problems (which are very time consuming for people porting AVR libraries). For example, we did this on SAM core https://github.com/arduino/Arduino/commit/d1c65ca8fe4fc0a81f6760cc9abc

[2016-10-25 16:39] eriknyquist commented on #280
Re-opening since @facchinm's last comment sounds like something we should do

[2016-10-27 03:58] vyuke commented on #332
![image](https://cloud.githubusercontent.com/assets/18086671/19754061/9bfbed3c-9c3c-11e6-8b96-e34678d39f87.png)

[2016-10-27 16:37] eriknyquist commented on #332
OK, the image is a start, but I still need some more information. Did you read this https://github.com/01org/corelibs-arduino101/wiki/Reporting-an-issue ? Please read it.

Specifically:

1. Provide an URL for the library you are using (I see multiple incarnations of the u8glib library)
2. Provide an URL for the OLED display you are using, so we can purchase it if we need to
3. Did you know this OL

[2016-10-30 04:22] cvonk opened #338 "Inconsistency between code and documentation regarding Interrupt change"
First and foremost, thanks for introducing Curie to the Arduino world.  To me it sparked interest in using the Curie for more serious projects.

Having said that .. it appears to me that the documentation for the CHANGE interrupt mode is incorrect for Arduino IO4 and IO5.

[WInterrupts.c](https://github.com/01org/corelibs-arduino101/blob/master/cores/arduino/WInterrupts.c#L71-L79) indicates `CHANG

[2016-10-31 12:32] DaisukeUra opened #339 "Serial.print() rounding error"
I think Serial.print() has an error about rounding.

Serial.print(0.95,1) should display "1.0" but real output is "0.0".
Serial.print(0.995,2) and Serial.print(0.9995,3) output "0.00" and "0.000" too.
They should output "1.000" and "1.0000".

[2016-10-31 16:48] eriknyquist commented on #339
Hi @DaisukeUra, thanks for letting us know. I did actually fix this, see https://github.com/01org/corelibs-arduino101/commit/2e56b81a264c8760f095a12f650381b8ea8de831, we just haven't done a new release yet so you won't get the fix by downloading from the Boards Manager.

[2016-10-31 16:51] #339 closed

[2016-10-31 21:58] kitsunami commented on #320
This should be fixed in the next release.

[2016-10-31 22:02] kitsunami commented on #334
Duplicate to #280

[2016-10-31 22:02] #334 closed

[2016-10-31 22:25] SidLeung commented on #254
The upcoming release BLE library allows the creation of Service for both Central and Peripheral mode.  In either mode, the board can be a server or a client.

[2016-11-02 00:42] danlsk opened #341 "IOS ANCS: How to add solicitedServiceUUID?"
@sandeepmistry has done a great job for the nrf BLEPeripheral library that includes remote service , characteristics and solicitedService UUID for IOS ANCS implementation. How can this be called from this Curie Peripheral library?
1. Saving bonding data
2. Setup SolicitedServiceUUID

I suppose porting some of those remote service library would be good.

[2016-11-04 03:06] vyuke commented on #332
yes ,i used this OLED on Arduino uno,is work。this OLED more informations URL is [http://openjumper.cn/12864-oled/](url)  and this OLED is ordinary 12864

[2016-11-04 03:15] vyuke commented on #332
I asked some about u8glig，a man commented me 101 will not work with U8glib. I have to use u8g2 (version 2 of u8glib)
https://github.com/olikraus/U8g2_Arduino
but the OLED does not work too

[2016-11-04 17:32] eriknyquist commented on #332
This library is for AVR only. It requires <avr/pgmspace.h>.

[2016-11-04 17:32] #332 closed

[2016-11-08 21:22] noelpaz commented on #341
We are working with @sandeepmistry  to implement a majority of his API to the CureiBLE library. We will inform you as soon if we have implemented this API. The head of the corelibs-arduino101 master branch does not have this implementation at this time and of course not in the official 1.0.7 official release that is downloadable from the Arduino IDE

[2016-11-16 01:38] noelpaz commented on #341
After reading more about this here https://developer.apple.com/library/content/documentation/CoreBluetooth/Reference/AppleNotificationCenterServiceSpecification/Introduction/Introduction.html, one of the requirements the Service Change Characterisitic is not going to be implemented soon as this requires low level firmware changes to the Nordic BLE stack.

I am closing this for now and maay reopen

[2016-11-16 01:38] #341 closed

[2016-11-16 16:08] sandeepmistry commented on #341
The biggest incremental feature that needs to be added is bonding/pairing support.

There are already plans to support solicited service UUID's and remote services and characteristics.

[2016-11-22 06:51] vigneshjathavara opened #347 "BLE firmware version is not in sync with CurieBLE library"
I replaced the ~/Library/Arduino15/packages/Intel/hardware/arc32/1.0.7/   directory with the code from Github as the readme said. Now whenever I try to upload a sketch, i get the following error:

!! BLE firmware version is not in sync with CurieBLE library !!
* Set Programmer to "Arduino/Genuino 101 Firmware Updater"
* Update it using "Burn Bootloader" menu
An error occurred while uploading the s

[2016-11-22 16:29] claudiaAl commented on #347
If I am not mistaken, this is because you also need to update your BLE firmware if you are wanting to use the latest code in the repository.  You can reference this closed issue [#322](https://github.com/01org/corelibs-arduino101/issues/322) and I think it should solve your problem.  Good luck!

[2016-11-28 22:28] kitsunami commented on #347
Hey, @eriknyquist Please add to the readme: update tools

[2016-11-30 17:21] coloz opened #351 "When to provide HID class"
arduino BLE lib has BLEHIDPeripheral.
to 101,When to provide HID class? i wanto make a imu mouse

[2016-12-01 00:09] eriknyquist commented on #351
For Intel Community Support, product questions, or help troubleshooting, visit ICS: https://communities.intel.com/community/tech/intel-curie

[2016-12-01 00:10] #351 closed

[2016-12-01 07:55] doaaahme opened #352 "rssi measurement with ble in arduino genuino 101"
Hello
How can we measure the rssi of the peripheral board at the central board with ble ?

regards,
Doaa

[2016-12-01 09:09] doaaahme opened #353 "disconnect from peripheral"
Hello

talking about IMUBleCentral & IMUBleNotification from CurieBle examples

why the peripheral board doesn't show that it has been disconnected from the central
the peripheral doesn't appear to see those three commands
        digitalWrite(13, LOW);
        Serial.print("Disconnected from central: ");
        Serial.println(central.address());

it keeps the LED turned on even if we disconnect

[2016-12-01 21:22] eriknyquist commented on #338
@bigdinotech can you please verify this inconsistency

[2016-12-01 21:22] eriknyquist commented on #347
Done. No response from @vigneshjathavara, closing.

[2016-12-01 21:22] #347 closed

[2016-12-01 21:23] eriknyquist commented on #280
Once #355 has been verfied and merged, this issue can be closed.

[2016-12-01 21:28] noelpaz commented on #352
This is not released yet but this is a feature in the upcoming version. It is not in the master branch at the moment.

[2016-12-01 21:29] SidLeung commented on #353
Would you please check on the Central to see if it is stilled "paired" with the board?  If so, the Central has not released the Peripheral yet.

[2016-12-01 21:30] #352 closed

[2016-12-01 21:32] SidLeung commented on #352
Need to clarify here.  The current BLE library does NOT support the Central role.  In other words, a 101 board cannot be put into a Central role.

[2016-12-01 22:00] noelpaz commented on #352
@SidLeung -- This is not 1.0.7 Arduino release but what is currently in master and in the CurieBLE library we have the non release version of central which does not have the ability to query the rssi.

[2016-12-01 22:48] noelpaz commented on #353
hI @doaaahme

Did you just power down the central or called end(0 or disconnect()?

[2016-12-06 11:05] ilanganor opened #354 "Software serial does not work in 1.07"
software serial does not work properly in version 1.07

when connecting it to an actual device it returns "garbage"

the latest working version for the software serial is v1.04

reverting to 1.04 solved the issue

[2016-12-07 12:39] doaaahme commented on #352
Could we know when will that version be released?? the problem is we are working on a big project that needs this information before next January. would it be possible for this version to be released soon?

[2016-12-08 04:59] jimaobian opened #355 "Runtime problem example"
Hi. When we try to use singleton, inherit and customized constructor at the same time this problem will occur. Please see the following example.
You can comment the customized constructor to eliminate this problem
[code]

[2016-12-09 17:50] eriknyquist commented on #355
Hi @jimaobian, can we have a bit more information please? like, for example, 1) what is the expected outcome of your sketch above, and 2) what exactly is "the problem" (what goes wrong) ?

[2016-12-09 21:21] bigdinotech commented on #354
@ilanganor would you happen to have a scope capture of it failing?
Also what baud rate are you using when it fails. Or even better are you able to share your sketch that SoftwareSerial fails?

[2016-12-11 05:51] ilanganor commented on #354
Hello
I do not have a scope capture of the signals.

I am working at 4800 baud rate and this sketch works great with version 1.04, however fails with versions 1.05, 1.06 and 1.07

I also noticed I am not the only one with that problem:

[](https://forum.arduino.cc/index.php?topic=430581.0)

here is my test sketch:

[modem_At.txt](https://github.com/01org/corelibs-arduino101/files/644248/modem_At.t

[2016-12-12 02:49] jimaobian commented on #355
Hi @eriknyquist
Of course.
1. The outcome of the sketch I posted should print "hello" every 100ms.
2. However, if I try to run it, it doesn't print anything.
3. If I comment the constructor of Class test1, it will print "hello" every 100ms.

[2016-12-12 10:47] facchinm commented on #355
Bug confirmed, the sketch works as expected on any other architecture (AVR, SAMD)

[2016-12-12 17:15] eriknyquist commented on #355
Thanks @facchinm and @jimaobian

[2016-12-12 17:16] eriknyquist commented on #355
Assigning to @calvinatintel and @SidLeung to investigate as toolchain issue

[2016-12-14 16:29] nicolocarpignoli opened #357 "Arduino101 'freezes' when shacking it"
Hi, i'm seeing a randomly strange behaviour of the Arduino101. If I don't move the board everything works fine, but when I start shacking and moving constantly the board it randomly gets stucked. This means that you can not see anymore the BLE Arduino device when scanning, and the only way to work again with it it's to restart the board. When facing this issue, the power on the arduino is still ok

[2016-12-14 21:03] noelpaz commented on #353
The reason for this is I think this is an callback context. Our suggestion is to limit code in callbacks and if possible just set certain states and have the loop do the work. Anyway disconnect and close is fixed in the next release.

[2016-12-14 21:03] #353 closed

[2016-12-14 22:19] SidLeung commented on #357
Hello, There...

The sketch provided exercises a large amount of code (libraries) and several h/w features.  It would be helpful to nail down the suspicious area to locate the source of the problem - the divide and conquer strategy.
There are several areas that can be singled out to verify its operation.
1.  Verify if the IMU interrupt mechanism is good.  Comment out the BLE related code.  Use the

[2016-12-15 14:07] nicolocarpignoli commented on #357
The IMU interrupt mechanism is good, I've done that try. The only way that I could got this thing work with my shacking test is with the following code:

[code]

[2016-12-19 18:58] #280 closed

[2016-12-19 22:38] #320 closed

[2016-12-19 22:40] kitsunami commented on #201
Changes to FW going forward will not have this.

[2016-12-19 22:41] #201 closed

[2016-12-22 08:51] doaaahme opened #362 "two ways communication"
Hello
Is that possible to have a two way communication between the peripheral and the central?
also
is that possible for one central to be connected to several peripherals at the same time ?

Regards,
Doaa

[2016-12-22 08:56] doaaahme opened #363 "connect to a specific peripheral"

[2016-12-22 20:00] eriknyquist commented on #357
@nicolocarpignoli, can you do us a favour and tell us what you *changed* to make it work? instead of posting the whole sketch for us to figure out....

[2016-12-22 20:06] nicolocarpignoli commented on #357
this precise part:

[code]

reading in the first step and writing characteristics in the following step made the trick

[2016-12-23 07:50] #363 closed

[2016-12-23 08:54] #362 closed

[2016-12-23 22:52] intel-larry commented on #355
I'm not sure this is really a good example of a singleton design pattern. I think the issue may be related to the newer C++ standards vs the older ones and the enforcement of publicly declared constructors. (have to think about what's going on here...)

[2016-12-27 22:28] claudiaAl opened #365 "Does ServoISR really clear Interrupt Pending flag?"
Hello!  In an attempt to create my own servo ISR that manually sets pins high and low rather than depending on the timer, I decided to go through the existing servoISR code to see how it's done.  I am confused by a line that claims to be clearing a flag:

Servo.cpp

Line 59-60
[code]

Line 113-114
[code]

Here are some definitions:
[code]

Can anyone explain what line 60 in Servo.cpp is really doi

[2016-12-28 22:48] davidbailey1018 commented on #347
Starting download script...
Flashing is taking longer than expected
Try pressing MASTER_RESET button
!! BLE firmware version is not in sync with CurieBLE library !!
* Set Programmer to "Arduino/Genuino 101 Firmware Updater"
* Update it using "Burn Bootloader" menu
An error occurred while uploading the sketch.
i am using windows 7 and Arduino IDE 1.6.11.
how can i upload my code?

[2016-12-29 07:30] SidLeung commented on #347
Hello, There...
The Curie module has a special BLE processor that runs its own code, this is so called as the BLE firmware.  To fully utilize the potential of this processor, an updated of the BLE firmware is needed for this round of the release.
The downloading of the BLE f/w is done using the Arduino IDE.  The IDE will check for the right version of BLE f/w prior to running a sketch and will pro

[2016-12-29 19:37] sandeepmistry opened #366 "CurieBLE: typed characteristic values not initialized to 0"
In v1.0.7 the following sketch would result in a characteristic with value `0`, however in master the characteristic has an empty value (value of length 0).

[code]

[2016-12-29 19:50] sandeepmistry opened #367 "Jira 768 CurieBLE: setAppearance does not work"
In v1.0.7 `blePeripheral.setAppearance(appearance);` was function, however in master is does not - the appearance characteristic value is 0. Note: `blePeripheral.setDeviceName(name)` still works.

[code]

[2016-12-29 19:51] sandeepmistry commented on #367
The same applies to the new v2 API: `BLE.setAppearance(0x1234);`

[2016-12-29 20:00] sandeepmistry opened #368 "CurieBLE: BLE.scan() should scan with duplicate filter"
In https://github.com/01org/corelibs-arduino101/blob/master/libraries/CurieBLE/examples/central/scan/scan.ino

[code]

scans without filter, however I expect it to scan with a duplicate filter.

[2016-12-29 20:03] sandeepmistry opened #369 "CurieBLE: BLE.scan(...) allways scans without duplicate filter"
In https://github.com/01org/corelibs-arduino101/blob/master/libraries/CurieBLE/examples/central/scan/scan.ino:

If I change the `BLE.scan();` line to either `BLE.scan(true);` or `BLE.scan(false);` all scan without duplicates. I expect it to only receive peripheral per Bluetooth address with the duplicate filter enabled.

[2016-12-29 20:08] sandeepmistry opened #370 "CurieBLE: no access to scan response data when scanning"
I think this one is already in JIRA, however I'm opening this for other preview testers to track the progress.

When using the [scan example](https://github.com/01org/corelibs-arduino101/blob/master/libraries/CurieBLE/examples/central/scan/scan.ino) with the my TI SensorTag I'm not able to see the local name it advertises. However, using LightBlue on iOS I can see "CC2650 SensorTag" as the local n

[2016-12-29 20:13] sandeepmistry opened #371 "CurieBLE: cannot discover advertised 16-bit service of SensorTag"
When using the scan example with the my TI SensorTag I'm not able to see the `aa80` service it advertises which is in the advertisement data it advertises. However, using LightBlue on iOS I can see the 0xaa80 service.

[2016-12-29 20:21] sandeepmistry opened #372 "CurieBLE: cannot discover advertised 128-bit service of bleno"
Similar to #371 but I'm using [bleno](https://github.com/sandeepmistry/bleno) to advertise a 128-bit UUID ([test.js](https://github.com/sandeepmistry/bleno/blob/master/test.js)).

The scan example doesn't display the 128-bit UUID (which is in the advertisement data), however LightBlue on iOS does display the advertised 128-bit UUID.

[2016-12-29 20:32] sandeepmistry opened #373 "CurieBLE: Cannot discover all attributes on SensorTag"
I believe this one is in the JIRA system, however I'm opening it for other preview testers to track the issue.

I'm trying to use the [peripheral_explorer example](https://github.com/01org/corelibs-arduino101/blob/master/libraries/CurieBLE/examples/central/peripheral_explorer/peripheral_explorer.ino) with my TI SensorTag, however is fails to discover the attributes:

[code]

[2016-12-29 21:11] claudiaAl commented on #365
Ah makes perfect sense.  Thanks!!

[2016-12-29 21:11] #365 closed

[2016-12-29 21:40] sandeepmistry opened #376 "CurieBLE: BLE.scanForAddress(...) API is not present"
I wanted to update the SensorTag button example to match the API we discussed in November, however the `BLE.scanForAddress(...)` is not present.

[2016-12-29 22:00] sandeepmistry opened #377 "CurieBLE: StandardFirmata BLE does not work."
I'm testing the latest master release with PR https://github.com/firmata/arduino/pull/335.

However, I think the board is crashing - I don't see the 101 advertising using BLE, and the next time I try to load a sketch I have to press the master reset button.

I would expect the sketch to work with @soundanalogous's Node.js test app: https://gist.github.com/soundanalogous/927360b797574ed50e27

[2016-12-29 22:17] sandeepmistry opened #378 "CurieBLE: cannot discover characteristics in 0x1800 and 0x1801 services"
I'm using the peripheral explorer with [bleno's echo example](https://github.com/sandeepmistry/bleno/tree/master/examples/echo), it doesn't report any characteristics in the 0x1800 and 0x1801 services.

Here's the output:

[code]

[2016-12-29 22:19] sandeepmistry opened #379 "CurieBLE: peripheral.deviceName() returns empty String"
I'm using the peripheral explorer with [bleno's echo example](https://github.com/sandeepmistry/bleno/tree/master/examples/echo). `peripheral.deviceName()` return an empty string. I expect it to return `raspberrypi`.

Here's the output:
[code]

Might be related to #378.

[2016-12-29 22:30] sandeepmistry opened #380 "CurieBLE: switchCharacteristic.written() returns incorrect value after first connect"
I'm trying the following sketch:

[code]

When I connect and disconnect from LightBlue on my Mac the output is as follows:

[code]

I do not expect the `LED off` statement, as the central has not written to the characteristic.

[2016-12-30 14:39] sandeepmistry opened #382 "CurieBLE: discovering attributes of connect central fails"
When running the following sketch, and connecting from LightBlue on my Mac, discovering attributes of the connected central fails:

[code]

[2016-12-30 14:52] sandeepmistry opened #383 "CurieBLE: characteristic.read() does not block"
When trying the peripheral explorer example, I removed the `delay(1000);` statement inside the `exploreCharacteristic` as it was not in the original sample sketch we provided. When this was done the characteristic values were not printed to the Serial Monitor:

Before:

[code]

After removing `delay`:

[code]

Once this is fixed, the  `delay(1000);` statement should be removed from the sketch.

[2016-12-30 14:56] sandeepmistry opened #384 "CurieBLE: Characteristic UUID's have incorrect value of 0000"
When using the [pizza example from bleno](https://github.com/sandeepmistry/bleno/tree/master/examples/pizza) on my Mac when the peripheral explorer CurieBLE example, a few characteristics have UUID values of `0000` which is incorrect. Here's the output from the Serial Monitor:

[code]

If I connect to the Mac peripheral using LightBlue on iOS the characteristic UUID's value match what I expect.

[2016-12-30 15:40] sandeepmistry opened #385 "CurieBLE: characteristic.writeInt(...) does not perform write request"
When using the [bleno echo example] on my Raspberry Pi, with the sketch below, `echoCharacteristic.writeInt(i)` returns true, but the write request does not succeed.

[code]

I ran `hcidump` on the Raspberry Pi, and the operation is failing:

[code]

A write request should be sent instead of a write command because the characteristic only has the "write" property on not "write without response".

[2016-12-30 17:31] hulkco opened #387 "ERROR Compile the StandardFirmataBle"
I have this error when updating the latest snapshot:
In file included from /tmp/arduino_build_563639/sketch/bleConfig.h:65:0,
                 from /root/Arduino/libraries/Firmata/examples/StandardFirmataBLE/StandardFirmataBLE.ino:42:
/root/Arduino/libraries/Firmata/utility/BLEStream.h: In member function ‘void BLEStream::end()’:
/root/Arduino/libraries/Firmata/utility/BLEStream.h:121:59: error: c

[2016-12-30 17:34] hulkco commented on #387
Sorry i have need Firmata ble under Test Folder

[2016-12-30 17:35] sandeepmistry commented on #387
I think this issue should be re-opened until the following pull request is merged by the Firmata maintainers: https://github.com/firmata/arduino/pull/335

[2016-12-30 17:42] hulkco commented on #387
I reopen this issue for a request by @sandeepmistry

[2016-12-30 19:21] hulkco opened #388 "ERROR: I can not upload any sketches."
ERROR: I can not upload any sketches.

java.io.IOException: Cannot run program "/root/.arduino15/packages/Intel/tools/arduino101load/1.6.9+1.28/arduino101load/arduino101load": error=2, No such file or directory
	at java.lang.ProcessBuilder.start(ProcessBuilder.java:1048)
	at java.lang.Runtime.exec(Runtime.java:620)
	at java.lang.Runtime.exec(Runtime.java:485)
	at processing.app.helpers.ProcessUtil