[2016-12-30 20:25] eriknyquist commented on #387
Sandeep already filed an issue for this, so I don't know why he asked you to re-open it.

https://github.com/01org/corelibs-arduino101/issues/377

Please follow that one ^^

don't re-open this one.

[2016-12-30 20:25] #387 closed

[2016-12-30 20:53] sandeepmistry commented on #387
@eriknyquist #377 is about the sketch not working after https://github.com/firmata/arduino/pull/335 is applied.

[2016-12-31 00:39] hulkco commented on #388
Yes i update the tools to

[2017-01-01 16:55] hulkco commented on #388
Hello everyone, I already found the solution, without realizing it, download the tools for another platform, so I uploaded suggestions to the README.md file so that the instructions are clearer.
Greetings.

[2017-01-01 16:55] #388 closed

[2017-01-02 21:48] noelpaz commented on #382
I thought that discoverAttributes works only in central mode and not meant for the peripheral to discover central. I am also adding @sgbihu to this and hope he answers. I am still on vacation.

[2017-01-02 21:50] noelpaz commented on #382
It looks like I cannot assign @sgbihu . @eriknyquist can you send him an email to look into this

[2017-01-03 20:32] sandeepmistry commented on #382
@noelpaz as discussed with @SidLeung during the initial calls, both centrals and peripherals can operate a GATT server and GATT client.

[2017-01-04 01:02] sgbihu commented on #382
This is a bug. The program doesn't add the connected central to the profile buffer. And that makes discover failed. The discover can't find it in the buffer.

[2017-01-04 01:18] eriknyquist commented on #388
Hi @hulkco, I don't see a pull request for the README change you mentioned, but we'd be happy to make things clearer in there if you have some suggestions :)

[2017-01-04 01:24] sgbihu commented on #382
Hi @sandeepmistry ,

You can get the fix from https://github.com/sgbihu/corelibs-arduino101. The commit is a8c834a.

Thanks!

[2017-01-04 21:12] packetmax opened #390 "CurieTimer1Interrupt example sketch bugs"
I just got round to getting a couple of 101's going and noticed that the example sketch CurieTimer1Interrupt uses type int to express microsecond multiples. Change both vars oneSecInUsec and time (bad naming choice) to long int and you're good to go.

[2017-01-04 21:43] eriknyquist commented on #390
Looks fine to me.... the function expectes an int

    inline int start(const unsigned int timerPeriodUsec, void (*userCallBack)() = NULL)

and it looks like `time` will always be less than 1000000. Am I missing something?

[2017-01-04 21:51] packetmax commented on #390
Int vars are 2 bytes (1000000 needs 12 bits :). I didn't dig thru the
library headers, but there likely is a version that accepts a long. The
sketch didn't work until I made said changes.

On Wed, Jan 4, 2017 at 4:43 PM, Erik Nyquist <notifications@github.com>
wrote:

--
George Wayne, LLC
Raleigh, NC

[2017-01-04 21:51] packetmax commented on #390
Make that 12 a 20 :).

On Wed, Jan 4, 2017 at 4:51 PM, George Wayne <gwayne@westmont.edu> wrote:

--
George Wayne, LLC
Raleigh, NC

[2017-01-04 22:12] packetmax commented on #390
It's my mistake Erik. I did a println(sizeof(int)) on the 101 and the
answer is 4. I'm not sure what was happening to cause what I saw.
Anyway--you're correct; I am not. Thanks, -g

On Wed, Jan 4, 2017 at 4:43 PM, Erik Nyquist <notifications@github.com>
wrote:

--
George Wayne, LLC
Raleigh, NC

[2017-01-04 22:13] eriknyquist commented on #390
No worries :) Glad you got it working.

FYI, the C standard specifies that an `int` must be *at least* 2 bytes, but on most implementations (including in the Arduino101), it is 4. You can prove it with this sketch:

    int num = 2147483647;

    void setup() {
      Serial.begin(9600);
    }

    void loop() {
      delay(2000);
      Serial.println(num);
    }

[2017-01-04 22:15] eriknyquist commented on #390
Or you can check with `sizeof` like you did! :)

[2017-01-04 22:18] eriknyquist commented on #390
@packetmax your concerns are not unfounded, though. It's not very portable to use an `int` like we are here-- I might change it to `long` anyway :)

[2017-01-04 22:19] packetmax commented on #390
Yeah, I should know better Erik. cheers! -g

On Wed, Jan 4, 2017 at 5:13 PM, Erik Nyquist <notifications@github.com>
wrote:

--
George Wayne, LLC
Raleigh, NC

[2017-01-04 22:53] packetmax commented on #390
Personally I'm a fan of [u]int16_t, [u]int32_t, etc for portability and
just understanding the teleonomic aspects of someone else's code :).
Sometimes explication beats elegance :).

On Wed, Jan 4, 2017 at 5:18 PM, Erik Nyquist <notifications@github.com>
wrote:

--
George Wayne, LLC
Raleigh, NC

[2017-01-04 23:41] eriknyquist commented on #390
As am I. Although the Arduino Community generally prefers the less-scary looking types like `int` and `long int` (even though you'll notice we're not terribly good at conforming to that in all of our libraries!)

[2017-01-04 23:46] #390 closed

[2017-01-05 07:36] sgbihu commented on #377
Hi @sandeepmistry ,

I has shoot the root cause of this issue. The Firmata try to add profile before HW initialized. That makes the program crashed. So I move some process from BLEStream constructor to begin and that makes the program works. I can discover the profile with another 101 board.

The fix commit ID is 10c482f691c19d01aa151eec1fb71beb641e8be0. My github is https://github.com/sgbihu/core

[2017-01-05 19:02] SidLeung commented on #382
Please note Jira ticket, 788, has been created.  A solution has been created for internal review, approval, and testing.  Upon the completion of that process, the solution will be merged to the master, will be in the nightly JSON build, and will post the status here.

[2017-01-06 00:35] SidLeung commented on #377
This issue is logged as Jira #791.

[2017-01-06 00:55] SidLeung commented on #371
Logged as part of Jira 792 and under internal review.

[2017-01-06 00:56] SidLeung commented on #372
Logged as part of Jira 792 and under internal review.

[2017-01-06 00:57] SidLeung commented on #377
This issue is logged as Jira 791.   Solution from Liang under internal review, testing.  Will update status here upon completion.

[2017-01-06 01:16] SidLeung commented on #385
@sandeepmistry Apparently, the same Central sketch, using writeInt(), behaves differently with two different Peripherals.  Am I correct?

[2017-01-06 01:45] SidLeung commented on #385
Logged as Jira 794.

[2017-01-06 01:55] hulkco commented on #388
Hello, I'm new to GitHub, as I uploaded the suggested changes to README, and create the README for intel-arduino-tools, doing so automatically became a FORK, and I thought it would only wait for the supervisor to accept the changes, I do not know , what has happened.

[2017-01-06 02:01] SidLeung commented on #383
The previous release, v1.0.7, BLE implementation employed end-to-end command/reply handshaking for each operation (read, write, etc).  Thus, the overall BLE performance was substantially impacted.  The latest BLE library uses the request/query approach that enables non-blocking operation to improve performance and bandwidth utilization.

To be backward compatible, may need to introduce a bool flag

[2017-01-06 02:12] SidLeung commented on #380
@sandeepmistry Is it possible to use a BLE protocol analyzer to capture the connection activities between the 101 and LiteBlue?  Would like to verify that there is no write operation involved here.

Issue is logged as Jira 796

[2017-01-06 02:27] SidLeung commented on #379
This issue is logged as Jira 770.  This feature is currently not implemented.

@sandeepmistry Would you please provide the reasoning of using deviceName as oppose to localName of a Peripheral?

[2017-01-06 02:40] SidLeung commented on #378
This issue is logged as Jira # &69.

@sandeepmistry Do you deem getting the default Services attributes necessary for the next release?

[2017-01-06 02:48] SidLeung commented on #376
This issue is logged as Jira 797.

[2017-01-06 02:53] SidLeung commented on #373
This issue is logged as Jira 798.

Will be looking into increasing the Heap size to store all Attributes from scanning the SensorTag.

[2017-01-06 04:07] eriknyquist commented on #388
@hulkco if you want to email me a patch, I'd be happy to commit the changes for you this time. For future changes, here is good tutorial on creating Pull Requests https://yangsu.github.io/pull-request-tutorial

[2017-01-06 04:15] hulkco commented on #388
Thanks I will try to make a summary and I will send it to you as soon as possible, in fact, I did a small tutorial in hackster.io [Upgrading the firmware & library of Arduino 101](https://www.hackster.io/Hulkco/upgrading-the-firmware-library-of-arduino-101-4d6b10)

[2017-01-06 21:01] SidLeung commented on #369
This issue is logged as Jira 802.

@sandeepmistry I think touch on this topic before.  The latest Nordic stack does not have readily available support for duplicate filtering.  Will investigating this issue further.

[2017-01-06 22:29] claudiaAl opened #392 "Can I use CurieTimerOne inside of another library?"
Hello!  I am having issues converting my sketch to a library.  Specifically, I am trying to start CurieTimerOne from my library.  In an effort to pinpoint the problem, I took the CurieTimer1Interrupt example and modified it to fit what I am trying to accomplish.  From my example sketch, I am creating an instance of my class, and calling the Initialize() function which in turn calls CurieTimerOne.s

[2017-01-07 00:06] eriknyquist commented on #392
Hi @claudiaAl, we try to keep only defects and feature requests in the Github Issue tracker.
Would you mind re-posting this on arduino.cc ?

https://forum.arduino.cc/index.php?board=103.0

(I hang out there too :))

[2017-01-07 00:16] claudiaAl commented on #392
Yes, no problem, thank you!

http://forum.arduino.cc/index.php?topic=446520.0

[2017-01-07 00:16] #392 closed

[2017-01-07 00:27] eriknyquist commented on #392
OK. For future posts, there is actually a specific Arduino101 section, which the URL in my previous post will take you to :)

[2017-01-07 00:34] SidLeung commented on #366
This issue is logged as Jira 804.

The issue suggests memory allocation error.

[2017-01-07 00:36] claudiaAl commented on #392
I had actually posted it earlier today, but I didn't know there was an Arduino101 section!  Thank you! I'll go ahead and post my link there as well.

[2017-01-07 00:40] eriknyquist commented on #392
No need to cross-post, just wanted to let you know for future posts :)

[2017-01-09 03:05] sgbihu commented on #366
This implementation is same as 1.0.7. I think it is because the value not be initialized. So the length is 0. I don't think this is a bug.

[2017-01-09 03:12] sgbihu commented on #384
Can you describe your test instructions? I suspect the characteristic's UUID are not sub-UUID with services. And that makes the stack return an error. The characteristic's UUID in the below bold text is different with service UUID, then the discover can success. If the other is not same. I think it may have the error you described.

19b1**0000**-e8f2-537e-4f6c-d104768a1214

[2017-01-11 18:23] sandeepmistry commented on #377
Hi @sgbihu,

There are a few concerns about the items you proposed in https://github.com/01org/corelibs-arduino101/issues/377#issuecomment-270582031:

1. It requires a change to the upstream Firmata library. I would prefer we explorer a change to the CurieBLE library itself as other user sketches might follow the same pattern.

2. If a `BLEStream::begin(...)`, `BLEStream::end()`, `BLEStream::begin

[2017-01-11 18:27] sandeepmistry commented on #385
@SidLeung I don't think so, `bleno` might be more strict.

Here's the behaviour I expect:

 * If the characteristic property is "write", a write request should be used by the 101 central
 * If the characteristic property is "write without response" a write command should  be used by the 101 central

To me it seems like a write command is always used, and the 101 peripheral accepts this even if the

[2017-01-11 18:29] sandeepmistry commented on #383
@SidLeung

I'm confused, there was no `read` operation in v1.0.7. So, I expect it to always block.

[2017-01-11 18:30] sandeepmistry commented on #380
@SidLeung I don't have an analyzer on hand, however I can provide the output from the Xcode hardware IO tools packet logger app if you can't reproduce this. I don't expect LightBlue to send a write request, as I don't see this in v1.0.7.

[2017-01-11 18:35] sandeepmistry commented on #379
Since the 0x2a00 characteristic is mandatory by the Core Bluetooth spec, it would be nice to have a convenience API to read the device name. It also allows you to store a longer name in the peripheral incase there is not enough space for the full desired local name to be advertised.

Once #378 is addressed this would be easier.

[2017-01-11 18:36] sandeepmistry commented on #378
@SidLeung I think we can live without it, but it would be nice to help with #379.

[2017-01-11 18:41] sandeepmistry commented on #369
Ok, if this is not supported by the Nordic soft device stack, the current API's are very confusing and we need to change them.

[2017-01-11 18:43] sandeepmistry commented on #366
I think the value is not set in the Nordic GATT table if it is `setValue` is called prior to adding the characteristic/service to `BLE`.

[2017-01-11 18:46] sandeepmistry commented on #384
I think this is specific to bleno on OS X, as OS X has some "secure" characteristics used for hand off with iOS devices.

Test instructions:
1. Obtain a Bluetooth 4.0 capable Mac (I'm using 10.11.x)
2. Install Node.js
3. Make a test directory
4. Run `npm install bleno`
5. `cd node_modules/bleno`
6. Run `node examples/pizza/peripheral.js`

[2017-01-12 04:19] sgbihu commented on #383
The read is for central to read attributes.

[2017-01-12 14:31] doaaahme opened #398 "can't measure the rssi while being connected"
*/
#include <CurieBLE.h>

/*
  This sketch example works with IMUBleNotification.ino

  IMUBleNotification.ino will send notification to this central sketch.
  This sketch will receive the notifications and output the received data in the serial monitor.
  It also illustrates using a non-typed characteristic.
  Set the baud rate to 115200 on the serial monitor to accomodate the speed of constant d

[2017-01-12 23:12] SidLeung commented on #377
Hi, @sandeepmistry

Agree with you that this is not the solution.

The issue actually exposes a problem with the robustness of the BLE library initialization process and we are going to address it (instead of making changes to the 3rd party code).

The cause of the system crash can be traced back to the instantiation of a global object using a constructor that makes BLE API calls at the time when

[2017-01-13 00:58] SidLeung commented on #398
The API, rssi(), is not functional yet with this release.  Will be looking into it.

[2017-01-13 01:07] sgbihu commented on #377
Hi @SidLeung and @sandeepmistry ,

I implement a solution. Please help review again.

Thanks!
-Gaoliang

[2017-01-13 02:50] sgbihu commented on #366
So what result you want to see? From you test code, I don't see where you output the data.

BTW, the characteristic has two API, one is valueSize, another is valueLength. So if you don't set a value, the valueLength always 0.

[2017-01-13 04:28] SidLeung commented on #373
The option of increasing ARC code SRAM size is being considered for the next release.  This is done with the replacement of the TD V1 f/w in the I86 with Zephyr RTOS v1.6

[2017-01-13 10:13] UDOOboard opened #399 "CDCSerial not available after PC reboot or resume from suspend"
Leaving the Arduino 101 connected to the PC (as for an embedded installation), the Serial communication over USB doesn't work properly at reboot or resume from suspend state.
Both in Windows or Linux the COM or tty is shown on reboot, but it doesn't allow you to write data from PC to Arduino101 trought the Serial.

for example using the Serial Event Example:
[code]
At reboot or resume from suspend

[2017-01-13 13:58] sgbihu commented on #384
Hi @sandeepmistry ,

The 0000 UUID is expected after I review your test code. Because the UUID not satisfy the Nordic's stack. It will return unknown UUID and this UUID is 0.
uuid: '13333333-3333-3333-3333-333333333337'
below is characteristics' UUID.
uuid: '13333333-3333-3333-3333-333333330001'
uuid: '13333333-3333-3333-3333-333333330002'
uuid: '13333333-3333-3333-3333-333333330003'

If you chang

[2017-01-17 12:43] viscropst opened #403 "Can developer update the corelibs for CODK-M?"
I fusing the CODK-M to my arduino 101,when I upload the code(with CurieBLE) with arduino 1.8.0 to my arduino 101,it callback the BLE firemware is not match the lib's version.

[2017-01-19 18:19] ajhool opened #408 "Typecast issue when converting example code from .ino to .cpp (CurieBLE)"
Hi, I am having trouble understanding the BLECharacteristic templates, and implementing the .ino example code in .cpp. Specifically, adding a typed BLECharacteristic (eg. BLEUnsignedLongCharacteristic) to a service. I have also reviewed the .cpp code that the Arduino IDE generates, and find that XCode IDE still won't compile it. Using master head of CurieBLE library Code and compiler error below (

[2017-01-20 01:28] sgbihu commented on #380
Hi @sandeepmistry ,

I have found the root cause. I have a question about the written. In the setup function, I found below code.
`  // set the initial value for the characeristic:
  switchCharacteristic.setValue(0);`

If you think this write doesn't need trigger the event, I will change the code. The current code save the state when you call setValue.
I think we need define the written triggered

[2017-01-23 09:37] #403 closed

[2017-01-23 17:59] eriknyquist commented on #408
Hi @ajhool, corelibs-arduino101 is specifically for the Arduino IDE. I've never tried it, but I don't think it will work to just move the library files into Xcode.

At any rate, we need more information to help you;

1) Which compiler flags are being used in Xcode? can you paste them here please?
2) Please describe, in detail, the process you used to move the files into Xcode.

[2017-01-24 14:01] sandeepmistry commented on #366
I expect a value of 0x00, if you look in [BLETypedCharacteristic.h](https://github.com/01org/corelibs-arduino101/blob/master/libraries/CurieBLE/src/BLETypedCharacteristic.h#L136-L143):

[code]

A `memset` + `setValue` is called in the constructor.

[2017-01-24 14:20] sandeepmistry commented on #384
What makes them invalid UUIDs? Other central apps/stacks like LightBlue, nRF Master control panel have no issues with this example.

[2017-01-24 14:23] sandeepmistry commented on #380
That is correct, the v1.0.7 release had this behaviour.

[2017-01-24 21:15] noelpaz commented on #377
Currently testing this.  Do we have to test using the node js app above/

[2017-01-24 21:22] sandeepmistry commented on #377
@noelpaz if possible that would be great, if you can't get it setup for whatever reason I can test it out later.

Once things work, we can ping https://github.com/firmata/arduino/pull/335 to be merged.

[2017-01-25 18:14] noelpaz commented on #382
Tested and works accordingly.

[2017-01-26 14:08] sandeepmistry commented on #380
Another user has reported this on the forum: http://forum.arduino.cc/index.php?topic=443728.msg3085664#msg3085664

[2017-01-26 14:10] sandeepmistry commented on #382
@noelpaz was the fix for this merged into master?

[2017-01-26 14:38] Firni11 opened #409 "CurieBLE: Only get half of supposed advertising packets from ble_scan"
I am currently working on BLE and we are very interested in the nRF Chip which is implemented on the Genuino 101. For our application we are looking for the best BLE Chip to track beacons (We just want to know the beacons address and the RSSI value).
During the last months we compared the onboard BLE Chip of the Raspberry Pi 3 with severel different BLE USB Dongles. For our last comparison we want

[2017-01-27 05:24] LordDanielW opened #413 "Create a Hardware PWM library"
CurieTimerOne is a great software solution to creating a PWM, but it limits the full potential of what could be achieved with the 4 quark hardware PWM's.  Creating a class for this would allow the use of 4 PWM's vice 1 and frequency up to 32MHz vice 100kHz.  I would be willing to create this library, but am currently stuck on how to change the firmware setting from GPIO_SS[10] to PWM[0].  Any help

[2017-01-27 05:44] SidLeung commented on #384
Sandeep:

Is this feature needed for the next official release?

[2017-01-27 13:10] sandeepmistry commented on #384
Yes please.

From my perspective this is an issue/bug not a feature.

[2017-01-27 17:50] bigdinotech commented on #413
@LordDanielW take a look at the code for analogWrite() inside wiring_analog.c
You would see the code for muxing the gpio into pwm and also changing the clock speed.

[2017-01-27 17:58] hahnicity opened #415 "Curie BLE for Edison?"
Hi, my main question is; is there a way to have Curie BLE be functional on the Intel Edison board? I'm an Arduino newb but I'd be happy to help create additional functionality for CurieBLE if it's possible to do so.

[2017-01-30 23:17] kitsunami commented on #181
Unable to duplicate issue.

[2017-01-30 23:17] #181 closed

[2017-01-30 23:45] kitsunami commented on #415
Currently Edison doesn't have this support, but we'll pass this along to the Edison team.

[2017-01-30 23:54] hahnicity commented on #415
Would the obstacle to implementation be hardware related? Or is it a software issue?

[2017-01-31 00:40] SidLeung commented on #415
The BLE stack that runs on the Arduino 101 board is developed for the specific BLE h/w in the Curie SoC.  The stack can be divided into 3 layers:  API, link layer, and the hardware specific BLE stack.  For starter, the Edison BLE h/w is different from the Arduino and that would make the hardware layer not applicable.

Without much understanding of the Edison system, I would think that the Bluetoot

[2017-01-31 01:24] hahnicity commented on #415
OK thank you for the giving me the basics on that!

[2017-01-31 14:14] DomiKoe commented on #398
Hi, are there any updates on this topic?

[2017-01-31 18:20] eriknyquist commented on #413
@LordDanielW in case you don't already have it, the datasheet for the Quark SE C1000 (the SoC inside the Curie Module) may be helpful to you, if you are writing a new library.

http://www.intel.com/content/dam/www/public/us/en/documents/datasheets/quark-c1000-datasheet.pdf

FYI, we do try and use this issue tracker only for software defects. In future, if you could keep discussions like this in th

[2017-02-01 01:19] don opened #420 "CurieBLE: add broadcast property to characteristic"
I was porting some [BLEPeripheral](https://github.com/sandeepmistry/arduino-BLEPeripheral) code to the Arduino 101 and noticed that BLEBroadcast is missing from CurieBLE.

<img width="1337" alt="screen shot 2017-01-30 at 11 14 56 pm" src="https://cloud.githubusercontent.com/assets/3133/22491526/2848988e-e7f2-11e6-9275-2383019de632.png">

I'd like to be able to add the [BLEBroadcast property](https

[2017-02-01 07:46] extrapixel commented on #238
@eriknyquist Situation has improved a lot! One can now stably talk to the i2c devices. However:

The devices work the same on all Arduinos, except the 101.

There are still problems when scanning the bus - seems asking for an address that isn't there breaks things. I have only tried with the devices listed in OP. While it might be a problem of the devices, it only shows on the 101 (and Edison) - w

[2017-02-01 07:51] LordDanielW commented on #413
@bigdinotech Thank you so much, I have been looking everywhere for that.

@eriknyquist  I have the datasheet, and am using the forums.  Neither of those had a solution to this problem.  I believe this issue tracker is meant for software defects and suggested features.  If this is not the case, please update the Support & Issues  part of readme on this repository.

I believe the best way to impleme

[2017-02-01 08:06] PaulStoffregen commented on #413
Years ago, after much public discussion, @cmaglie decided the Arduino API would someday add analogWriteFrequency(pin, frequency).  So far, it seems I'm the only one who's ever implemented this for any board.  Perhaps it's too far in the past, now long forgotten?  But even if something different is now decided, I would hope this can be done with Cristian and the rest of the Arduino Team's consent t

[2017-02-01 09:44] Firni11 commented on #409
Hi
Up to now I have researched on github for similar issues and I found out that my problem has something to do with the scan response (which has its own issue). I added the changes from that solution and now I get the right amount of packets.
Sorry for wasting your time.

[2017-02-01 18:26] LordDanielW commented on #413
@PaulStoffregen, it looks like bigdinotech implemented that exact function in the latest beta of arduino 101.  Thanks again for all the help.

[2017-02-01 18:26] #413 closed

[2017-02-01 22:48] SidLeung commented on #420
Hi, Don:

I have not use the broadcast() API before in the previous library.  However, I have used the BLENotify option in a Characteristic in one of my Peripheral sketches.  To notify the connected Central for data ready, my sketch just need to use the setValue() API to set the local buffer with the data.  The BLE library takes care of the notification process.  There is no specific API to call t

[2017-02-01 22:57] drmpf opened #422 "Arduino 101 EEPROM.h included more than once produces compile errors"
If you
#include <EEPROM.h>
in more then one file, e.g. in the main sketch and in a library file or another .ino file
Then the compiler exits with errors like

Arduino15\packages\Intel\hardware\arc32\1.0.7\libraries\EEPROM\src/EEPROM.h:38: multiple definition of `CurieClear()'

due to EEPROM.h have method code in the header file.

Moving the methods to a EEPROM.cpp file and declaring them at the to

[2017-02-01 23:30] eriknyquist commented on #422
@drmpf, you are correct, the way to fix this is to put only the function declarations in the header file, and make a new .cpp file for the actual definitions.

The include guards will then work as expected. Thanks for pointing this out, we'll fix it soon :)

[2017-02-01 23:46] intel-larry commented on #422
Agree - just ran into this yesterday trying to compile the Arducam code. Was just about to write an issue on it. drmpf is correct.

[2017-02-02 12:17] murikill opened #424 "CurieTimerOne: PWM on two channels/pins"
How can I use two PWM channels with CurieTimeOne library with the same frequency?

Thanks in advance

[2017-02-02 22:02] don commented on #420
@SidLeung BLENotify requires a connection between the client and the server.

BLEBroadcast allows me to send data without a connection. I created a [demo sketch](https://gist.github.com/don/536d9f1d605d9bfffcd99b5716a72cb4) for you. I ran it on a RFduino, but it'll work on RedBear Nano or other boards supported by [BLEPeripheral](https://github.com/sandeepmistry/arduino-BLEPeripheral#compatible-ha

[2017-02-02 22:24] SidLeung commented on #420
Have created a Jira ticket internally to look into BLE broadcasting in the 101 stack.  Will post any result here.

[2017-02-02 22:32] don commented on #420
@SidLeung thanks!

[2017-02-02 22:46] eriknyquist commented on #422
Fixed in https://github.com/01org/corelibs-arduino101/pull/425

[2017-02-02 22:48] eriknyquist commented on #424
Hi @murikill, we do our best to discuss only software defects & feature requests in the Issue Tracker here.

If you have questions about how to use the library, there is a nice community forum here which a lot of people use: https://forum.arduino.cc/index.php?board=103.0

[2017-02-02 22:48] #424 closed

[2017-02-02 23:05] murikill commented on #424
Thanks for reply. The question was exactly IF is possible to use the library with two independent timers.

[2017-02-03 10:47] fmntf commented on #399
@kitsunami is there a release scheduled to get this bug fixed?

[2017-02-03 12:05] paultanner commented on #354
Also failing when I use 1.04 (softwareSerial on pins 3 and 4).
Do these pins support softwareSerial?

[2017-02-04 01:27] sgbihu commented on #366
All typed characteristic are called this constructor. That's why I don't think the code has bug.

[2017-02-06 22:54] acaballero opened #428 "CurieBLE: Won't advertise when initiatizing multiple services"
Hello,
I'm trying to create two services, a standard battery service and a custom one. When I create only the custom service, everyting goes right, but If I create two, the device won't even announce itself.

I'm doing like this:

[code]

Looking at the BLEPeripheral code, it seems that it only takes in account one service. Is it like it seems?

Thanks in advance!

[2017-02-06 23:46] kitsunami commented on #398
This is not scheduled to be released in our next update.. it may be considered for future updates later this year.

[2017-02-06 23:48] kitsunami commented on #399
@bigdinotech Can you first try this on an Uno?

[2017-02-06 23:50] #415 closed

[2017-02-07 00:13] fmntf commented on #399
I tried it on Uno, it works fine.

[2017-02-07 00:58] noelpaz commented on #428
There is a limitation in the total number of attributes characteristics, descriptors as well as services, although I think that you should not fail with what you have more. I am not seeing the whole code are there more services and characteristics? Any the begin function should return a true or false and if it return falls it should return false. Can you include the whole code so I could replicate

[2017-02-07 01:55] don commented on #96
@SidLeung Anything I can do to help move this along?

I ran into this issue again last week during a class where the students were using the Arduino 101. We incrementally build services so there are a lot of changes. It a students forget to turn Bluetooth off and on on their iPhones between sketches, they get old cached results. It adds a lot more confusion while they're trying to learn.

[2017-02-07 07:22] SidLeung commented on #96
Did an initial investigation into the BLE stack with the team, could not find a definitive answer whether this feature is supported.  It could be a build option for the construction of the stack itself.  Will need to schedule resources for further investigation.  Will keep you posted with progress.

[2017-02-07 13:40] sandeepmistry commented on #409
@kitsunami @SidLeung any reason for closing this?

I think we should re-open it until scan responses are support by the library.

[2017-02-07 13:47] sandeepmistry commented on #366
There's definitely an issue with setting characteristic values before adding them.

[code]

This sketch can also be used to reproduce, I expected the test characteristic to have a value of "hello" but it's empty when I read the value.

[2017-02-07 16:02] SidLeung commented on #409
As per the author, the issue seems to be resolved and, thus, closed.

[2017-02-07 17:19] tigoe commented on #96
I'd definitely like to see it pushed up in the priority stack. I agree with Don, it matters a lot when working with students, and since we intend the 101 to be a learning board, they are the primary audience. When it doesn't work as expected, they turn to simpler BLE boards.

I've run into it several times on OSX, and never found a good solution. My guess is because the service name doesn't get st

[2017-02-07 18:48] SidLeung commented on #96
We had a meeting with Sandeep this morning and he gave us some pointers to check out.  It may be part of the BLE stack initialization process that we missed.  Will look into this.

[2017-02-07 20:30] SidLeung commented on #409
This issue could be related to the processing of the Scan Response Data message, [https://github.com/01org/corelibs-arduino101/issues/370](url)

Reopen this issue until #370 is addressed.

[2017-02-07 22:12] SidLeung commented on #376
Resolution has been approved, tested, and merged to main trunk.  Will be in the next nightly build JSON.

[2017-02-08 00:55] sgbihu commented on #366
I have duplicated this bug. And have solution now.

[2017-02-08 02:08] SidLeung commented on #428
There is a limitation on the number of Characteristic can be added.  This is due to memory constraint.  However, we will review this restriction before the next release, especially in the case of Peripheral.

[2017-02-08 07:49] acaballero commented on #428
It's working now. I was confused about 'setAdvertisedServiceUuid', and it turns out it's supposed to be called only once, as it assings the *main* service Uuid associated with the peripheral. You can later add more services following the correct order, which is:

service
   characteristic
      [descriptor, ...]
   [characteristic,..]
[service, ....]

Doing like that, the device announces all the

[2017-02-08 07:49] #428 closed

[2017-02-08 13:34] jimaobian opened #432 "CurieIMU with interrupt changes local variables in other function."
It is really an odd issue.
As shown in the loop function. All the value in test array should equal to sumX. However sometimes it will not be true. This problem doesn't always happen. Its ratio is about 40%.

I'm not sure whether it is a good idea to get acceleration value in interrupt context. But in theory, interrupt may not change the local variables in other function.

![untitled 14](https://cl

[2017-02-08 19:06] eriknyquist commented on #432
Thanks for reporting, @jimaobian. Can you give me an idea of how long you had the sketch running, in order to see "This should never happen"?

[2017-02-08 19:07] noelpaz commented on #385
I think this is related to 414 https://github.com/01org/corelibs-arduino101/pull/414

If you look at the screen capture from the namlyzer  then this is already fixed

[2017-02-08 19:20] eriknyquist commented on #408
@ajhool ping, can you provide us with that information?

[2017-02-08 20:43] eriknyquist commented on #432
I've been running it for 2 hours, nothing yet. I'll leave it overnight.

[2017-02-08 21:21] SidLeung commented on #432
@jimaobian

You are correct.  Interrupt context could not impact the background context.  Before going into this subject, a minor suggestion first:  It is a good practice to configure the interrupt event and its call back handler prior to kicking off the operation.  The suggested changes are,

  CurieIMU.interrupts(CURIE_IMU_DATA_READY);
  CurieIMU.attachInterrupt(interruptIMU);
  CurieIMU.begin()

[2017-02-08 21:30] SidLeung commented on #383
Resolution passed code review, system testing, and merged to main trunk.  Will be in the next nightly JSON build.

[2017-02-08 21:35] #380 closed

[2017-02-08 23:02] SidLeung commented on #380
Resolution to this issue has passed code review, system testing, and merge to the main trunk.  Will be available in the next nightly JSON build.

[2017-02-08 23:54] SidLeung commented on #377
Code mods passed code review, system testing, and emerged to main trunk.  Will be available in the next nightly build.

[2017-02-09 00:51] eriknyquist commented on #432
@jimaobian Everything still running correctly for me after 6 hours.... have not yet seen the message

[2017-02-09 03:03] noelpaz commented on #428
Yes correct in 1.0.7 , you have to add the characteristics below the service and characteristic descriptors below the characteristics. It's a herirarchy

[2017-02-09 03:03] jimaobian commented on #432
@eriknyquist Try to upload this sketch many times or just reset it. It happens to me once every two or three tries. For this example, this issue seems only happening at the beginning. And I have another big example, which will always trigger it.
[code]

[2017-02-09 03:12] jimaobian commented on #432
@SidLeung Awesome! Your code solve my problem :). Many thanks.
[code]
Continue to wait for the fix of the interrupt issue.

[2017-02-09 03:56] jimaobian commented on #432
Updated:
Here is the reason why the short example only show the "This should never happen" at the beginning:
The print "Hello" code in loop is not running every 0.5s. It blocks after 2s or 3s. Here is the code.
[code]

Change the order like the following will not help, it also prevents the loop function from running:
[code]

[2017-02-09 11:46] jimaobian commented on #432
Update to the latest version deal with the problem.
Thank you.

[2017-02-09 11:46] #432 closed

[2017-02-09 15:32] extrapixel commented on #238
@kitsunami would you mind re-opening this?

[2017-02-09 18:08] SidLeung commented on #432
@jimaobian ,

My apology for giving out poor advise and hopefully did not confuse more people.  The  CurieIMU::begin needs to be called prior to attaching interrupts and event handler.  My fault for advising the reverse order.  If you take a quick look at begin, you will find that it completes the construction of the CurieIMU object (with resources allocation) rather then just kicking off the IMU

[2017-02-09 21:04] #422 closed

[2017-02-10 18:22] SidLeung commented on #380
@sandeepmistry , resolution is available in nightly build starting on 2/9/2017,

http://mkfs.ndg.intel.com/json/public/package_public-07.4_index.json

[2017-02-10 18:23] SidLeung commented on #385
@sandeepmistry , resolution is available in nightly build starting on 2/9/2017,

http://mkfs.ndg.intel.com/json/public/package_public-07.4_index.json

[2017-02-10 18:23] SidLeung commented on #376
@sandeepmistry , resolution is available in nightly build starting on 2/9/2017,

http://mkfs.ndg.intel.com/json/public/package_public-07.4_index.json

[2017-02-13 01:04] sgbihu commented on #420
@don
I test your code on CurieBLE lib. Just change the include head file, the program can works.

Please change this line
#include <BLEPeripheral.h>
as
#include <CurieBLE.h>

The sketch can works.

[2017-02-13 17:04] extrapixel commented on #238
@eriknyquist btw the hardware i'm having trouble with is the stuff i sent you - should be able to replicate

[2017-02-13 18:50] piroozn commented on #238
@eriknyquist and @PaulStoffregen I found the issue with I2C performance issue before and reported it. I remember it was a fix delay in a readbyte and writebyte. For test, I removed it and Arduino 101 sketch using I2C display start running much faster than Uno specially by using @bigdinotech setclock implementation. Before change, it was 10 times slower because someone just used a delay after every

[2017-02-13 18:56] PaulStoffregen commented on #238
Are you expecting anything from me?  I sent the [test board I made](https://github.com/01org/corelibs-arduino101/issues/166#issuecomment-229851730) to Erik Nyquist several months ago.  I do not have it any more, nor to I need it back.  At this time all my dev cycles are going into a USB host library, so there's probably not much I can realistically do to help at this time.  Sorry.

[2017-02-13 20:04] SidLeung commented on #420
@don , is it possible to use your sketch as an example as part of the coreLibs release?  If so, please add an licensing header and we will pull it into the next release.  Thanks.

[2017-02-14 21:16] calvinatintel commented on #420
Hi @don. Thank you for your contribution. We love your sample code and have created a PR https://github.com/01org/corelibs-arduino101/pull/437 with it. We need your written approval that we can include your code in our package, in the form of a software license. Arduino 101 CoreLibs is distributed under LGPLv2.1+ license and you can choose any software license that is compatible with LGPLv2.1+. Ac

[2017-02-15 15:08] uomodellamansarda opened #441 "How does auto-calibration work in this specific case? Why the offset can be assumed to be linear?"
How does auto-calibration work in this specific case? This is not very clear to me.
  Why the offset can be assumed to be linear?
  Is there any reference stating that it is safe to assume a linear offset for 1 axis calibration?

The CurieIMUgetAccelerometerOffset reference says that the sensitivity is 3,9 mg.

I have asked on StackOverflow [here](http://stackoverflow.com/questions/42118941/how-do

[2017-02-15 18:51] eriknyquist commented on #441
@uomodellamansarda I'm not sure offhand, as I didn't write this code myself, but I imagine the datasheet for the BMI160 will have the answer you're looking for

http://www.mouser.com/ds/2/783/BST-BMI160-DS000-07-786474.pdf

[2017-02-15 18:53] eriknyquist commented on #441
Oh, and for any future questions you have, the Arduino 101 forum is a good place to go, a lot of people hang out there so you should get pretty quick responses :)

https://forum.arduino.cc/index.php?board=103.0

[2017-02-17 18:21] sandeepmistry commented on #380
I'm still seeing this issue with the `build2_16_2017.json` release @SidLeung provided me. Output on Serial monitor after uploading the sketch above and connecting to the 101 using LightBlue on my Mac:

[code]

[2017-02-17 19:45] sandeepmistry commented on #380
Ok, there was a mix up with the JSON file, I have the incorrect version installed. This has been fixed.

[2017-02-17 19:59] sandeepmistry commented on #376
This looks good, the API is in the JSON @SidLeung provided and works.

[2017-02-17 19:59] #376 closed

[2017-02-17 20:34] sandeepmistry commented on #377
There's still something up with this, if I test with the instructions in https://github.com/01org/corelibs-arduino101/issues/377#issue-198075106 it doesn't work connecting from my Mac using Node.js

Debug wise with `#define BLE_SERIAL_DEBUG` enabled in `BLEStream.h` I just see:

[code]

[2017-02-17 21:08] sandeepmistry opened #444 "CurieBLE: BLEPeripheral::connected() always returns false"
Observed while debugging: https://github.com/01org/corelibs-arduino101/issues/377#issuecomment-280759093

[code]

if i connect from a central, "connected" is never printed.

[2017-02-17 21:19] sandeepmistry opened #445 "CurieBLE: Deprecated BLEConnected and BLEDisconnected events not triggered"
While testing the v1.0.7 LED callback example (https://github.com/01org/corelibs-arduino101/blob/1.0.7/libraries/CurieBLE/examples/CallbackLED/CallbackLED.ino), I noticed the BLEConnected and BLEDisconnected events are not being trigged.

[2017-02-17 21:25] sandeepmistry commented on #385
I'm still experiencing this issue:

HCI dump capture snippet from Raspberry Pi:

[code]

[2017-02-18 01:10] russmcinnis commented on #380
I tested this with recent corelibs releases and don't see the issues with mac light blue as the central and running that sketch on a 101.

[2017-02-18 14:58] kgillespieanaren opened #446 "CurieBLE: Adding more than 6 characteristics to a service causes device to crash when attempting to advertise"
It appears there is an issue when you add more than 6 characteristics to a single service in the CurieBLE driver with version 2.0.0 RC4.

The device never begins to advertise and appears to hang when calling BLE.advertise();

Removing the 7th characteristic from service will allow the device to continue to work.

Using Arduino101 board and version 2.0.0 RC4 of the Intel Curie Arduino SDK libs.

[2017-02-18 15:09] kgillespieanaren commented on #446
`
#include <CurieBLE.h>
#include "CurieTimerOne.h"

#ifndef INTERVAL_TIMER
#define INTERVAL_TIMER 1000
#endif

static bool intervalFireOff = false;

BLEService CloudPrimaryService("bfe433cf-6b5e-4368-abab-b0a59666a402");
BLECharacteristic CloudCredentials("bfe433cf-6b5e-4368-abab-b0a59666a403", BLERead | BLEWrite, 64);
BLECharacteristic CloudNotify("bfe433cf-6b5e-4368-abab-b0a59666a404", BLERead |

[2017-02-18 15:10] kgillespieanaren commented on #446
[charTest.ino.zip](https://github.com/01org/corelibs-arduino101/files/785124/charTest.ino.zip)

In this example I have commented out the line

PrimaryService.addCharacteristic(Function6Characteristic);

If you uncomment it then this project will no longer run, and the Arduino101 won't advertise.

[2017-02-18 16:08] sgbihu commented on #377
Hi @sandeep,

I don't have access to get the nodejs example, can you share it to me?

Thanks!

[2017-02-19 23:39] SidLeung commented on #446
Please note that the current memory arrangement can only provided 8 KB of HEAP for the entire system.  In addition, the malloc() does not maximize the usage of the HEAP.  This issue is under investigation and proposed solutions are under testing.  At the mean time, the number of Characteristic is limited.

[2017-02-20 01:41] sgbihu commented on #445
Fixed

[2017-02-20 01:41] sgbihu commented on #444
Fixed.

[2017-02-20 15:17] kgillespieanaren commented on #446
Is there anyway to configure the heap to have more than 8KB allocated for a project?

[2017-02-21 03:57] SidLeung commented on #446
The allocation of ARC memory is controlled by the firmware running on the x86 core.  To re-arrange the allocation needs an upgrade to the firmware.

[2017-02-21 09:03] uomodellamansarda commented on #441
I posted on the forum too, [in the Sensors section ](https://forum.arduino.cc/index.php?topic=456595.0)
I don't know if is the correct section or is better in Arduino 101, i will not create duplicate.
But no one still answered.
Thanks :)

[2017-02-21 14:08] sandeepmistry commented on #446
@SidLeung is there are way to prevent the hanging?

[2017-02-21 14:52] sandeepmistry commented on #377
@sgbihu it's the Github gist link in the first comment: https://github.com/01org/corelibs-arduino101/issues/377#issue-198075106

[2017-02-21 16:26] sandeepmistry commented on #96
Here's a related blog post as discussed: https://punchthrough.com/blog/posts/attribute-caching-in-ble-advantages-and-pitfalls

[2017-02-21 18:14] SidLeung commented on #385
@sandeepmistry , can this failure be duplicated with iOS devices?  Thanks.

[2017-02-21 18:33] sandeepmistry commented on #385
@SidLeung with iOS everything is fine, see last block of comment https://github.com/01org/corelibs-arduino101/issues/385#issue-198161320

[code]

[2017-02-21 18:36] SidLeung commented on #385
@sandeepmistry , we need to use Raspberry Pi to see the issue then.  @russmcinnis , @noelpaz .

[2017-02-21 18:50] russmcinnis commented on #385
I will grab a raspberry pi and try to reproduce this and get some scanner traces.

[2017-02-21 18:58] tigoe commented on #96
Thanks, that was helpful to understand the problem better.

[2017-02-21 23:05] kitsunami commented on #446
There is no solution to prevent the hanging at this time, but can be considered for future investigation/improvements.

[2017-02-21 23:12] kitsunami commented on #151
@russmcinnis Can you verify if this is fixed in Castor or prior?

[2017-02-21 23:18] kitsunami commented on #229
In reference to Sidney's comment, you can find the software complete solution here: www.intel.com/curieodk

[2017-02-21 23:18] #229 closed

[2017-02-21 23:20] #215 closed

[2017-02-21 23:21] kitsunami commented on #231
The information for updating to the latest BLE FW is here: http://forum.arduino.cc/index.php?topic=443728.0

Can you please retest @bluetooth-mdw  ?

[2017-02-21 23:24] kitsunami commented on #254
Hi @bluetooth-mdw, can you retest with the latest, found her: http://forum.arduino.cc/index.php?topic=443728.0 ?

[2017-02-21 23:26] kitsunami commented on #268
Can you please retest this on the latest release found her: http://forum.arduino.cc/index.php?topic=443728.0 , @ccoulton

[2017-02-21 23:28] kitsunami commented on #270
@facchinm can you take a look at this and update the webpage if needed?

[2017-02-21 23:58] russmcinnis commented on #151
I was able to see this all working back in August without any issues when it was assigned to me. If we got the correct processor sketch it was working. Because of some other issues I think this issue was left open. The latest activity was January 30, 2017

We had an issue once with a string/number conversion(dtostrf()) later which would cause jitter (Sept. 7, 2016). That was quickly fixed. Then Er

[2017-02-22 00:32] sgbihu commented on #385
Hi @sandeepmistry ,

Can you share the raspberry pi's executing code? I want take a look.

Thanks!

[2017-02-22 01:06] SidLeung commented on #444
Jira ticket 857 is assigned to track this issue.

[2017-02-22 01:23] SidLeung commented on #445
This issue is tracked by Jira ticket 858.

[2017-02-22 08:16] facchinm commented on #270
Thanks for reporting, fixed :slightly_smiling_face:

[2017-02-22 13:46] lorenzoromagnoli opened #449 "cannot define size of characteristic"
I'mt trying to create a characteristic that should store 3bytes.

I couldn't find a proper documentation but in the source code of the library I found this

[code]

I tried using the third parameter when I create the characteristic but it does not compile throwing this error

[code]

Here is my complete code for reference:

[code]

[2017-02-22 14:08] sandeepmistry commented on #449
Hey @lorenzoromagnoli,

Instead of:

[code]

use the untyped BLECharacteristic:

[code]

The Heart rate monitor example seems like something you might be interested in: https://www.arduino.cc/en/Tutorial/Genuino101CurieBLEHeartRateMonitor

[2017-02-22 15:08] sandeepmistry commented on #385
Hi @sgbihu,

Here are some instructions:

1. Install Node.js
2. Make test directory and `cd` into it.
3. Run `sudo apt-get install bluetooth bluez libbluetooth-dev libudev-dev`
4. Stop `bluetoothd`: `sudo systemctl stop bluetooth`
5. Power up the Bluetooth adapter manually: `sudo hciconfig hci0 up`
6. Run `npm install bleno`
7. Run example: `sudo node_modules/bleno/examples/echo/main.js`

[2017-02-22 18:55] russmcinnis commented on #444
We ran a round of BAT tests along with some manual things that require close timing and everything passes. The test sketch here is showing connected when running against nRF on Android phone. So it looks like the return value has been fixed.

[2017-02-22 19:11] russmcinnis commented on #445
Confirmed that this is working with PR447 using the sketch linked here. Also ran basic BAT tests along with some manual testing.

[2017-02-22 19:26] eriknyquist commented on #441
Well, the short answer is, I do not know the answer to your question. You could try having your post moved to the rduino101 section, I suspect you may get more responses then.

This issue tracker is for reporting software defects, so I'm going to close this issue.

[2017-02-22 19:26] #441 closed

[2017-02-23 01:31] lorenzoromagnoli commented on #449
Alright, this was my fault!
Now it compiles, but the `color_Characteristic.written()` method never returns true when I send new values.

Moreover, apparently I cannot print the`color_Characteristic.value()`.
When I do
[code]
I get a compiling error saying that

[code]

What I'm trying to do is to send an array with 3bytes to describe the colour of a led lamp. Unfortunately I couldn't find any tuto

[2017-02-23 02:06] lorenzoromagnoli commented on #449
Did a bit more of research and food a Tutorial doing what I was trying to achieve.

https://create.arduino.cc/projecthub/gov/voronoi101-light-your-lamp-a22a9e?ref=search&ref_id=ble%20lamp&offset=0

I solved adding an event handler for when the characteristic gets written
[code]
and the following function to parse the received data.

[code]
I think this could be a very helpful starting point for an

[2017-02-23 10:25] akash73 commented on #449
thanks @lorenzoromagnoli
tutorial added.

[2017-02-23 21:31] kgillespieanaren opened #456 "CurieBLE: Large characteristics (64 bytes) crash board when attempting to write to them"
It appears that I am unable to write to a characteristic that is 64 bytes long.

Any attempts to write to the characteristic seems to crash the board. I know that with BLE it's required for the communication to chunk the writing. My app works with another BLE chip set but doesn't work with the Curie any hints?

BLECharacteristic credentials("bfe433cf-6b5e-4368-abab-b0a59666a403", BLERead | BLEWrit

[2017-02-24 06:10] lorenzoromagnoli commented on #449
I put together some code to create an app that talks to the 101 via BLE.
[Ionic2 Arduino BLE test](https://github.com/lorenzoromagnoli/Ionic2_arduino_BLE_test)

[2017-02-24 09:13] SidLeung commented on #368
Track by Jira 802

[2017-02-24 14:41] sandeepmistry commented on #449
@lorenzoromagnoli nice work!

We should be able to simplify things:

[code]

to:

[code]

[2017-02-24 22:03] eriknyquist commented on #150
Latest update is a bit more flexible that my first attempt. This will be in the next release.
https://github.com/01org/corelibs-arduino101/commit/ee08a03b21d5c141020b328974c2392a8484dfa9

[2017-02-24 22:03] #150 closed

[2017-02-24 22:09] eriknyquist commented on #151
@kitsunami please understand that this issue has been fixed, we have the right sketch code for this tutorial to be updated. However, we can't change the public tutorial on arduino.cc until the next corelibs release is available in the IDE, since the sketch code wouldn't compile otherwise.

Since this ticket is specifically regarding that public tutorial not working, I am not going to close this un

[2017-02-24 22:56] kitsunami commented on #151
To be verified after Deneb release.

[2017-02-24 22:58] kitsunami commented on #186
Relates to #412

[2017-02-24 23:02] #270 closed

[2017-02-24 23:03] eriknyquist commented on #238
This issue was specifically opened for different reasons (library being unreliable); please open a new issue if the bus_scan sketch is broken, since it is distinctly different.

Also, I tried running the bus_scan sketch using the latest from Github, and I didn't see the problem you described, everything was working fine, even with no devices attached.

I'm closing this-- feel fre to open a new iss

[2017-02-24 23:04] kitsunami commented on #354
@bigdinotech , can you list the speeds that are supported?

[2017-02-24 23:09] kitsunami commented on #366
Addressed by #433 .

[2017-02-24 23:10] kitsunami commented on #368
Addressed by #457

[2017-02-24 23:11] kitsunami commented on #369
Addressed by #457

[2017-02-24 23:12] kitsunami commented on #370
Addressed by #402

[2017-02-24 23:13] kitsunami commented on #371
Addressed by PR #450

[2017-02-24 23:14] kitsunami commented on #372
Addressed by #450

[2017-02-24 23:23] kitsunami commented on #377
@SidLeung Can you evaluate if this is multiple tickets, and open new issues as needed?

[2017-02-24 23:26] kitsunami commented on #382
This was addressed in #410

[2017-02-24 23:28] #408 closed

[2017-02-24 23:33] #420 closed

[2017-02-24 23:53] ccoulton commented on #268
Will do when I make it back into the office

[2017-02-27 02:22] sgbihu commented on #456
Which API you used? I test with .writeValue, it doesn't crash. So can you share your test sketches?

[2017-02-27 03:29] bluetooth-mdw commented on #254
I will but it might be a while before I can schedule this. Thanks for the update.

[2017-02-27 05:42] lorenzoromagnoli commented on #449
nice

On Fri, Feb 24, 2017 at 10:41 PM Sandeep Mistry <notifications@github.com>
wrote:

[2017-02-27 06:11] SidLeung commented on #456
@sgbihu , please share your sketch here for comparison.  Thanks.

[2017-02-27 12:54] kgillespieanaren commented on #456
This would be a write coming from the central not internal on the embedded device it's self. Yes .writeValue works, write with response from a central device to the Curie over BLE does not.

I will send my example but there isn't much to it.

[2017-02-27 14:45] sgbihu commented on #456
My test key code is:

`unsigned char test_1[64];
credentials.writeValue(test_1, sizeof(test_1));`

By the way, the stack only send out the 20 Bytes. Because the BLE protocol has this limitation. You'd better not use 64 Bytes.

[2017-02-27 16:44] kgillespieanaren commented on #456
So the Curie BLE stack doesn't handle long writes? There are methods in many BLE stacks, Android and iOS both support, to send what is know as a long write, sometime queued writes, your data is automatically chunk-ed into 20 bytes segments.

As far as I know the central sends a begin reliable write message, and then call write characteristics for as many 20 bytes segments as it needs then the peri

[2017-02-27 18:20] eriknyquist commented on #238
@extrapixel Yes, of course I've tried your hardware. Although last Friday, I just grabbed some other I2C shield that happened to be on my desk (we have a lot of I2C test shields and devices lying around...). Let me dig out your tentacle shields and try them.

Have YOU tried the latest code? The reason I ask is because, on the date when you posted your comment about this problem, I went to investig

[2017-02-27 18:59] eriknyquist commented on #238
Using your tentacle mini shield, with the pH and RTD sensors attached, the bus scan sketch gives the following output. Only shows one device, which doesn't seem right, however it looks pretty different from the output you showed...

    Start I2C Bus Scan from 1 to 127.....
    address: 1        	address: 2        	address: 3        	address: 4
    address: 5        	address: 6        	address: 7

[2017-02-27 19:04] PaulStoffregen commented on #238
I just did another quick test.  I can confirm the **Wire library is not working reliably on Arduino 101**.

I tested with the [Teensy Prop Shield](https://www.pjrc.com/store/prop_shield.html), which you can also [get from Sparkfun](https://www.sparkfun.com/products/13995) or [from Adafruit](https://www.adafruit.com/products/3085) if you wish to reproduce these results.  I connected 4 wires between

[2017-02-27 19:18] eriknyquist commented on #238
Thanks @PaulStoffregen, I can definitely see this behaviour with the devices I'm using as well (photo attached). Also seems to consistently find nothing on the very first iteration.
![20170227_110847](https://cloud.githubusercontent.com/assets/6616775/23375614/cda0e944-fcdd-11e6-80d8-5b67e033b81c.jpg)

Since the bus scanning is implemented entirely in the example sketch, I will start by looking fo

[2017-02-27 19:24] PaulStoffregen commented on #238
Maybe worth mentioning again this scanner sketch works on Arduino Zero and every other Arduino board which supports Wire.  It's been widely used for at least 5 years.  The sketch also doesn't do anything particularly special.  It merely calls the Wire library functions.

I'm going to go out on a limb here and suggest this scanner sketch is almost certainly not the cause of the problem!

[2017-02-27 19:30] eriknyquist commented on #238
@PaulStoffregen, agreed, I am mistaken. I've been using the bus-scan sketch included with the IDE, which appears to have been written specially for 101 (not sure why, though). I will use the scanner sketch from the Arduino PLayground from now on....

[2017-02-27 19:49] extrapixel commented on #238
thanks guys for getting back to this. @eriknyquist , I'm on official 1.8.1 everything up-to-date, but no dev versions. My test code was based on the included bus scan example included in the IDE. I changed it to run continuously and to print the return value of endTransmission().

I'm rigging things up now and adapt the Playground scanner to demonstrate the issue. @eriknyquist , you can also explo

[2017-02-27 19:57] PaulStoffregen commented on #238
If you make any interesting improvements to the Arduino Playground scanner, I'd be curious to hear.

[My version](https://github.com/PaulStoffregen/Wire/blob/master/examples/Scanner/Scanner.ino) (used in the test above) has a list of the commonly used I2C chips, but otherwise it's basically the same as the Playground sketch.

[2017-02-27 19:59] eriknyquist commented on #238
@extrapixel are you using the latest snapshot of this repository?  There have been an awful lot of fixes since 1.0.7--- this I2C problem you describe DOES still occur on the latest, however there are some other fixes you definitely want (like that fix for proper alignment of the .data section, which can manifest itself in horrible and unexpected ways!)

[2017-02-27 21:17] extrapixel commented on #238
here's some adapted code of @PaulStoffregen - just meant to explore the scanning issue. You can adjust the range to scan via startAddress / stopAddress.

[code]

My devices are at 54 and 55. It behaves very differently depending on the scan range. For me, it mostly follows this rule: if the previous address has NO device, the next scan will not detect a device, even if it is there. If the previous

[2017-02-27 23:59] russmcinnis commented on #445
this works with PR 455 system tests and tested for seeing connects and disconnects. Looks good.

[2017-02-28 16:53] sandeepmistry commented on #456
Hi @kgillespieanaren,

It would be great if you can share a minimal sketch that can be used by us to reproduce the issue. As well as steps that we can use to reproduce the issue.

@SidLeung @sgbihu Last time I checked, iOS tries to negotiate an MTU of 158 bytes, need to see if the CurieBLE accepts this but it might fallback to the minimum MTU of 23 bytes, which will trigger the long or reliable wr

[2017-02-28 18:18] eriknyquist commented on #238
@extrapixel thanks for that detailed information- I can confirm I've seen the exact same behaviour with all the devices I've tried. Also, the return value from endTransmission is oddly inconsistent when scanning an address... I'm seeing a repeating pattern of three return values; 12, 2, 2 .......

I can figure out where those individual return codes are coming from, but why the return value is alt

[2017-02-28 18:32] extrapixel commented on #238
I'm sorry, that code that produced output in my earlier comments was only temporary and i have no saved copy of it. It was not the output of the code I posted.

I can confirm: With the newly posted code (stripped down version of @PaulStoffregen 's Scanner) I also get patterns of 12, 2, 2 and an occasional 11. In case of 11, all of the devices will be 11... just to go back to 12 , 2 in the next ite

[2017-02-28 18:53] PaulStoffregen commented on #238
The Wire library has used these same 5 return codes for many, many years.  While most Arduino sketches ignore it, or look for only 0 vs non-zero, returning anything else risks Arduino compatibility.

[2017-03-01 13:40] kgillespieanaren commented on #456
[longWriteTest.zip](https://github.com/01org/corelibs-arduino101/files/810854/longWriteTest.zip)

In this example we keep printing the I'm alive message on an interval. Once we attempt to write to the characteristic with UUID "bfe433cf-6b5e-4368-abab-b0a59666a403" with any length of data the device stops responding, BLE disconnects and the "I'm alive!" message stops displaying over UART.

Expected

[2017-03-01 18:25] SidLeung commented on #384
Jira ticket 793 with PR #451 are created for addressing this issue.

[2017-03-01 18:39] SidLeung commented on #409
The support for Scan Response Data req/rep will be in the next release.  PR #412 and PR #458 address this issue.

[2017-03-01 22:14] SidLeung commented on #382
PR #410 addresses this issue.

[2017-03-02 02:34] noelpaz commented on #377
I tested using the instructiosn from sandeep and using ble-firmata-test.js  and it looks like this is working. Here is the log from the mode.js application.

[BLE-firmata.txt](https://github.com/01org/corelibs-arduino101/files/812605/BLE-firmata.txt)
[Corelibs_Issue_377.zip](https://github.com/01org/corelibs-arduino101/files/812611/Corelibs_Issue_377.zip)

Steps:
I created a JSON based on PR-411 (

[2017-03-02 02:47] noelpaz commented on #377
I forgot to make the edits to utility/BLEStream.h so I did that and got the same result. Here is the log
[BLE-firmata_with_DEBUD_BLE-Strem.log.txt](https://github.com/01org/corelibs-arduino101/files/812624/BLE-firmata_with_DEBUD_BLE-Strem.log.txt)

[2017-03-02 03:12] soundanalogous commented on #377
It looks like it crashes silently right here:

[code]

If successful you would see something like the following printed to the console shortly afterwards:

[code]

[per these lines](https://gist.github.com/soundanalogous/927360b797574ed50e27#file-ble-firmata-test-js-L26-L30)

I'll take a look at it this weekend to see if I can determine what the issue may be. The node.js script can also be fussy a

[2017-03-02 03:33] soundanalogous commented on #377
A reply is never received from the board via Firmata.

[2017-03-02 05:08] sgbihu commented on #377
Can you post some serial command and expected response here? In this way, I can use other device to simulate the process.

[2017-03-02 05:55] SidLeung commented on #377
@soundanalogous ,

Per Sandeep's observation, he noted above that,

Is the debug flag needed to be set in order to determine if there is any reply?

[2017-03-02 07:17] sgbihu commented on #456
Find the root cause and give the solution.

[2017-03-02 07:54] SidLeung commented on #456
Jira 868 was created to track this issue.

[2017-03-02 13:14] soundanalogous commented on #377
The debug flag is not necessary.

[2017-03-02 14:03] kgillespieanaren commented on #456
I just gave you fix @SidLeung and it does correct the crashing issue with the curie. Although as explained before it appears to be limited to 20 bytes. Odd behavior though when I write the following sting

`123456789012345678901234567890`

and then read it back I get

`12345678901234567890"`

The trailing quotation mark is pretty interesting, also that the Android device thinks it's getting 21 byt

[2017-03-02 16:43] noelpaz commented on #377
Thanks. We were under the impression that if you see only these lines

BLEStream::received(F9)
BLEStream::received(F079F7)

That it has failed.

I have 2 logs one with the debug on set on BLEStream.h

Sandeep said that the BLE is not advertising as the symptom. Now with this new script what is actually not working. Is it our library or the script which is suppose to be unstable at times or the fir

[2017-03-02 16:52] noelpaz commented on #377
@soundanalogous . I did not wire the components last night as per the comments in the  cript but I will do so this morning and tun it again. All I wanted to test was if your node js script can connect and it did so and explored the peripheral which I thought was that was needed. Could it be the reason why? Also How should we be running the potentiometer and what is the spec for that potentiometer

[2017-03-02 20:01] sandeepmistry commented on #377
I'll try this out with the v1.0.7 release shortly and repeat back on the expected results.

[2017-03-02 20:21] sandeepmistry commented on #377
Here's what I get with v1.0.7
[code]

Which lines up with the following statements in the JS:

[code]

[2017-03-02 20:22] soundanalogous commented on #377
Yep that is the expected output :)

[2017-03-02 21:34] sandeepmistry commented on #444
I tested with Github master d818a3a5fa1ede20004487ffc5c95e6008b59a8d, this is fixed. Closing.

[2017-03-02 21:34] #444 closed

[2017-03-02 21:39] sandeepmistry commented on #377
This works for me with the Github master version of the core (d818a3a5fa1ede20004487ffc5c95e6008b59a8d) now. Closing.

[2017-03-02 21:39] #377 closed

[2017-03-03 01:22] sgbihu commented on #456
Hi @kgillespieanaren ,

In my test, I don't find the issue you described except some dirty value. The dirty value doesn't be cleared in the constructor.

I test on IOS with nRF Connect. I try to write "1234", and read again, it will back 64bytes include the write value. Because the curie BLE only response the real length for long characteristic.

So can you post your test environment. I try to dup

[2017-03-03 13:21] kgillespieanaren commented on #456
@sgbihu

I get the same result when I read back as well, I can see up to the 20th byte written correctly and then the rest is garbage, I just had to tell my app to print all data not just null terminated string data. So I do get the 64 bytes back from the read, but only 20 bytes of it matches what I sent during the write request. So I don't think we are seeing anything different.

So I guess my qu

[2017-03-03 20:29] SidLeung commented on #385
Jira 860 is created to track this issue.

[2017-03-03 22:29] SidLeung commented on #456
PR #463 addresses the long write issue. If the reading is proved to be incorrect, another ticket will be open to track it.

[2017-03-04 00:51] SidLeung commented on #456
A Jira ticket, 871, is opened to track the written data size issue.

[2017-03-04 01:19] eriknyquist commented on #355
Still trying to figure out what's wrong here-- I had hoped it was symptom of a bug that was fixed here https://github.com/01org/corelibs-arduino101/commit/d6c68f26914bf9508e8b76081d383a5cd432c7b6,
but unfortunately not. I should be able to work on this some more next week, I'll post any new information here

[2017-03-06 22:07] #449 closed

[2017-03-07 13:54] sandeepmistry commented on #96
@SidLeung do you have any updates on this?

[2017-03-07 17:11] SidLeung commented on #96
This feature will not be in the upcoming release, Deneb.   It is being considered for the CoreLibs release after the x86 firmware upgrade.

[2017-03-08 03:53] #186 closed

[2017-03-13 21:59] #268 closed

[2017-03-13 22:00] #254 closed

[2017-03-13 22:02] #231 closed

[2017-03-14 21:15] SidLeung commented on #409
The support for BLE Scan Respond Data request and reply is in the release 2.0.1 and, thus, closing out this PR.

[2017-03-14 21:15] #409 closed

[2017-03-15 10:59] mjs513 commented on #151
@eriknyquist and @PaulStoffregen (FYI).  See this post on FIFO implementation.  [https://forum.arduino.cc/index.php?topic=462729.0](https://forum.arduino.cc/index.php?topic=462729.0)

[2017-03-15 14:42] sandeepmistry opened #473 "LED not cleared after loading a blank sketch"
This occurred while testing with the 2.0.1 rc1 JSON.

1) Load sketch to turn LED on:

[code]

2) LED is on.

3) Load blank sketch:

[code]

4) LED remains on.

After step 3) I expect the LED to be off as the sketch is empty.

[2017-03-15 14:53] sandeepmistry commented on #366
I'm still seeing the issue with the sample sketch from https://github.com/01org/corelibs-arduino101/issues/366#issue-198057880

Here's a screenshot from LightBlue on my Mac:

<img width="1154" alt="screen shot 2017-03-15 at 10 52 08 am" src="https://cloud.githubusercontent.com/assets/1163840/23954394/8f9d26de-096d-11e7-9f14-fc571151b2f6.png">

I would expect to see a value of `0x00` in LightBlue i

[2017-03-15 15:03] sandeepmistry commented on #372
I've tested this with the v2.0.1 RC1 release, and I see the correct behaviour. Closing.

[2017-03-15 15:03] #372 closed

[2017-03-15 15:07] sandeepmistry commented on #371
I've tested this with the v2.0.1 RC1 release, and I see the correct behaviour. Closing.

[code]

[2017-03-15 15:07] #371 closed

[2017-03-15 15:08] mjs513 opened #474 "tinyTile Support"
Have a couple of questions on support for the tinyTile.
1. Does any have a complete pin mapping for the tinyTile.
2. Are all pins supported by the Arduino 101 library.  I am really interested in the BMU160 ability to have an external sensor attached.

Thanks
Mike

[2017-03-15 15:17] sandeepmistry commented on #382
I'm still seeing this issue with the sketch from https://github.com/01org/corelibs-arduino101/issues/382#issue-198154723 and my Mac running macOS 10.12.3.

The Serial monitor displays the following when I connect from LightBlue on my Mac:

[code]

Here's a screenshot from the PacketLogger app, I don't see any incoming attribute discovery requests either:

<img width="1312" alt="screen shot 2017-03

[2017-03-15 15:27] sandeepmistry commented on #384
Testing with the 2.0.1 RC1 release, this looks good now. Closing.

[code]

[2017-03-15 15:27] #384 closed

[2017-03-15 15:31] sandeepmistry commented on #445
Tested again with the 2.0.1 RC1 release, this now works as expected. Closing.

[code]

[2017-03-15 15:31] #445 closed

[2017-03-15 15:39] sandeepmistry commented on #383
Testing with the 2.0.1 RC1 release, this is now fixed. Closing.

[code]

[2017-03-15 15:39] #383 closed

[2017-03-15 15:49] sandeepmistry commented on #385
This still occurs with the 2.0.1 RC1 preview.

<img width="1201" alt="screen shot 2017-03-15 at 11 44 34 am" src="https://cloud.githubusercontent.com/assets/1163840/23957302/6b6f0f2c-0975-11e7-8f47-f1c426fee529.png">

[2017-03-15 16:13] sandeepmistry commented on #369
I've tested this with the 2.0.1 RC1 release, now a duplicate filter is present. Closing.

[2017-03-15 16:13] #369 closed

[2017-03-15 16:26] sandeepmistry commented on #368
This is a bit better with the 2.0.1 RC1 release, however the logic to enable the duplicate filtering is inverted.

I've submitted PR #476 to address this.

[2017-03-15 16:37] sandeepmistry commented on #370
I've tested this with the 2.0.1 RC 1 things are a bit better. However, the results are a bit strange if I call `BLE.scan()` with the change from PR #476.

[code]

I expect to see the following for my TI SensorTag:

[code]

However, the fields for my Dropcam and SensorTag are mixed up. I also only have one Dropcam but the local name is seen multiple time.

[2017-03-15 19:39] sandeepmistry opened #478 "CurieBLE: descriptor.read() does not block"
Similar to #383 but for descriptor.

I would like to remove the `delay(1000);` statements from the peripheral_explorer example. So, expect ` descriptor.read()` to behave like `characteristic.read()` and block.

[2017-03-15 19:54] sandeepmistry opened #479 "CurieBLE: Discover attributes fails with macOS + bleno test.js app"
When I run the peripheral explorer example against my macOS 10.12.3 Mac running the test.js example of bleno, the attribute discovery fails. Testing against Raspberry Pi is fine.

[code]

I've attached a screenshot of the PacketLogger app:

<img width="1312" alt="screen shot 2017-03-15 at 3 51 04 pm" src="https://cloud.githubusercontent.com/assets/1163840/23968013/9131bfd0-0997-11e7-8336-84416058d

[2017-03-16 00:47] sgbihu commented on #366
I think this is communication issue. The current implementation is not give the data until sketch set the value. So you mean the read response always get the characteristic's size.  Does below understand is correct?
char return 1 Byte
short return 2Bytes
string return the actual size that characteristic allocated. Like size is 16, string value is "Hello", the returned length is 16.

[2017-03-16 01:46] sgbihu commented on #382
Hi @sandeepmistry ,
I have test those two sketches https://github.com/01org/corelibs-arduino101/tree/master/libraries/CurieBLE/examples/test/discoveratperipheral and https://github.com/01org/corelibs-arduino101/tree/master/libraries/CurieBLE/examples/test/profileatcentral. They doesn't have problem.

So I want to confirm your does your light blue has profiles? Please tell me the setups if you have

[2017-03-16 06:20] sgbihu commented on #370
Hi @sandeepmistry ,

I have test the scan sketch with latest code. The test result like this:

[code]

Their has 2 type ADVs. The first type is because the scan response not coming and the local name are in the scan response. If the buffer doesn't override, the followed available will return full of ADV data.

Can you capture the ADV data about the device that MAC address is C8:69:CD:41:84:A2? I'm

[2017-03-16 07:39] SidLeung commented on #370
@sgbihu @russmcinnis @noelpaz, please perform the scan test with multiple boards with long LocalName so that Scan Response Data will be used.  Please check the correct MAC address to the LocalName detected.  Please use unique LocalName for each board.  Please use Ellisys to capture the traffic too.

[2017-03-16 16:08] sandeepmistry commented on #479
This seems to be a duplicate of #373.

If I remove the last 2 characteristics the bleno test.js app adds, things are fine:

[code]

Note the `ffffffff-ffff-ffff-ffff-fffffffffff4` and `ffffffff-ffff-ffff-ffff-fffffffffff5` characteristics from the origin test.js file have been removed.

So, it appears to be a memory limitation.

[2017-03-16 16:13] russmcinnis commented on #370
I can reproduce this issue. This seems similar to the issue where scanForName() is returning the name of the previous device scanned. So I am seeing these errors. Sometimes the local name is not returned which causes some of the errors in my test. I will hook up Ellisys when I get it.
B0:B4:48:C8:5F:03 PASS
84:68:3E:03:4C:3C Error local name: CC2650 SensorTag not correct for 84:68:3E:03:4C:3C
84:6

[2017-03-16 18:26] SidLeung commented on #366
@sandeepmistry , would like to clarify the expectation of the test result.  The Characteristic in the above sketch,

BLEUnsignedCharCharacteristic switchCharacteristic("19B10001-E8F2-537E-4F6C-D104768A1214"

had not been written to and was read.  Is there a reason to expect a length other than 0?  Understood the value of the characteristic should be 0 upon initialization but that should not be an

[2017-03-16 19:39] sandeepmistry commented on #382
I tried this again today with Github master and the 2.0.1 RC JSON. The sketch I provided works with both macOS and iOS.

Not exactly sure why it was failing yesterday, it could be that the GATT server on the Mac had too many attributes like https://github.com/01org/corelibs-arduino101/issues/479#issuecomment-287106847.

I'll close this for now, and re-open if I see it again.

[2017-03-16 19:39] #382 closed

[2017-03-16 20:14] sandeepmistry commented on #366
@SidLeung this was the behaviour of the v1.0.7 release - all type characteristic type had values initialized to 0 (with now 0 length), for example:

 * byte, unsigned char, char: 0x00
 * short, unsigned short: 0x0000
 * int, unsigned int: 0x00000000

To re-iterate it's important for backwards compatibility. See #480 for a proposed fix.

#480 should also correct the behaviours when `characteristic.

[2017-03-16 21:13] SidLeung commented on #366
@sandeepmistry , risk of being repetitive here, upon the Characteristic initialization.  A Read of a characteristic will result in:

1. The value of the Characteristic is always 0.
2. The length of the Characteristic is the sizeof( CharacteristicType ).

[2017-03-16 21:13] sandeepmistry commented on #366
That is correct.

[2017-03-16 21:55] SidLeung commented on #366
Thank you and tracked by Jira 886.

[2017-03-16 22:12] bigdinotech commented on #473
@sandeepmistry I was able to reproduce but only if extend the delay for when the pin state is HIGH.
Basically its just keeping the state it was at before it was rebooted.
I should have a fix soon.

[2017-03-16 23:30] SidLeung commented on #473
Tracked by Jira 892.

[2017-03-17 01:18] SidLeung commented on #370
Tracked by Jira 893.

[2017-03-17 01:42] SidLeung commented on #478
Tracked by Jira 890.

[2017-03-17 01:49] SidLeung commented on #366
@sandeepmistry , please refer to the following conversation,

https://github.com/01org/corelibs-arduino101/issues/456#issuecomment-283950966

This user was not happy with the fact that the read() always return the sizeof (characteristicType) which, in his case, was 64 byte, a string array of char.

Isn't that is what #480?

[2017-03-20 20:04] kitsunami commented on #474
#1. The tinyTILE product page provides a pin map PDF under their documents section:
https://www.element14.com/tinyTILE

[2017-03-20 21:10] mjs513 commented on #474
I will stand corrected. You are correct those are the standard pins. What are the labels for the test pads on the front and bottom of the board and the through holes. See discussion between me and @sidleung on the tinytile re adding a magnetometer.

Thank you

[2017-03-20 21:25] SidLeung commented on #474
Ha-ah!  At least someone remembers me...  Am so flattered.  Unfortunately, whatever I said before was done my evil twin brother.

However, on the more serious side of things...

Looks like you're looking for the PAD layout on the back of tinyTILE.  Did check out the link provided above and it does not include the backside of the board (too boring, wouldn't you say).  @kitsunami , would you be kind

[2017-03-20 21:34] sandeepmistry commented on #366
@SidLeung I would say https://github.com/01org/corelibs-arduino101/issues/456#issuecomment-283950966 is unrelated to this issue, as a typed characteristic is not used.

[2017-03-20 21:38] SidLeung commented on #366
Agreed.  Typed Characteristic was not used in this case.  However, should the return length be the size of the buffer defined by the Characteristic just like in the case of a typed characteristic?

[2017-03-20 21:40] sandeepmistry commented on #366
The size should be fixed for typed characteristics only.

[2017-03-20 21:52] mjs513 commented on #474
@sidleung and @kitsunmi. The pdf doesn't show the back side of the board. Only shows the edge pins.

@SIDLEUNG Already have the api and the register mapping. :).  Got the fifo working with the curieimu would be nice to have it working a magnetometer :).  Also already have a tinytile in hand.

[2017-03-21 01:35] mjs513 opened #485 "QUESTION: nRF51822 2.4GHz Radio Supported?"
I asked this question on the forum but have no answer so I figured I would add it here. While I was looking at getting some info on the tinyTile I came across that the nRF5188.2 which supposedly is on the Arduino101 also supports not only the BLE protocol stack but also a 2.4GHz protocol stacks.  I believe it uses the Gazelle protocol stack? Is there any plans to turn on this capability?

[2017-03-21 15:52] sandeepmistry opened #486 "Pins should default to input mode on sketch start"
To keep track of the initial discussion from https://github.com/01org/corelibs-arduino101/pull/483#issuecomment-287908181

Are all the pins in input mode on sketch start? That's the default behaviour of AVR boards like the Uno and we should aim for the same for the 101.

For example, the SAMD core for boards like the Zero and MKR1000 has the following:

[code]

https://github.com/arduino/ArduinoCo

[2017-03-21 19:08] SidLeung commented on #485
Hi, @mjs513 ,

Gazell is Nordic's proprietary wireless protocol that can run on the nRF51822 SoC.  There is no plan to support this feature in the Arduino 101 platform.

[2017-03-21 19:56] mjs513 commented on #485
Hi @SidLeung, again.

Thanks for getting back to me.  It would have been a great addition to the Arduino 101 platform.  haven't seen it anywhere else.

thanks
Mike

[2017-03-21 19:56] #485 closed

[2017-03-21 21:27] russmcinnis commented on #478
We have system tested, but not unit tested yet.

[2017-03-21 21:35] russmcinnis commented on #478
I was expecting the delay(1000) to be removed from peripheral_explorer.ino so this needs an update.
// read the descriptor value
  descriptor.read();
  delay(1000);

[2017-03-22 01:34] SidLeung commented on #368
Please note that PR #476 is superseded by the follow PR,

https://jira.ndg.intel.com/browse/ATLEDGE-896

[2017-03-22 05:08] bdavis721 opened #492 "Add arduino 101 board into LinuxArm download to be able to upload sketches from raspberry pi"

[2017-03-22 05:22] SidLeung commented on #492
@bdavis721 ,

Would like to know if you were asking a question.

[2017-03-22 05:56] bdavis721 commented on #492
Sorry about the confusing issue. I wanted the ability to add the intel curie boards into the arduino ide for the Linux Arm operating systems because I have an arduino 101 that I want to upload sketches to from a raspberry pi 3 but I cannot download that board in the board manager because the "tool arc-elf32" is not available for my os.

[2017-03-22 06:44] SidLeung commented on #492
Let me if this is what you want to do:
1.  You want to use your Raspberry Pi as the computing platform that is running a Linux/ARM OS.
2.  Install the Arduino IDE on that platform so that,
3.  You can upload sketches to your Arduino 101 board.

Please note that the Arduino IDE runs on Ubuntu 14.04 OS.  Not sure if that is the OS you have on your Raspberry Pi.  If not, that would be the first issue

[2017-03-22 06:51] bdavis721 commented on #492
Yes that is what I want to do. I was able to install the most up to date arduino IDE on the pi. I am running Raspbian Jessie but when I go to install the curie board on the IDE i get an error saying "tool arc-elf32 is not available for my os." I've been checking around and the closest thing to a solution I found was here http://forum.arduino.cc/index.php?topic=428145.0 but I dont know what steps t

[2017-03-22 16:35] SidLeung commented on #492
Ok...  This is something the IDE folks may help.  You may have to manually the tool chain.

[2017-03-22 16:49] bdavis721 commented on #492
I need help manually configuring the tool chain please.

[2017-03-22 21:42] noelpaz commented on #385
Testing this now  using the sketch from Sandeep and the bleno echo example. it looks like it is working. Will also run this on the Elisyss BLE Analyzer.

![image](https://cloud.githubusercontent.com/assets/9592868/24221970/bd29349e-0f0d-11e7-995c-6bb5f80545c7.png)

[2017-03-22 23:53] #366 closed

[2017-03-23 00:13] noelpaz commented on #385
Note that in MacOS running bleno. Simply killing the node js app will not kill the bluetooth connection. You need to kill the underlying Mac BT layer by turning BT off.

This is the  capture from the Elisyss Analyzer

![image](https://cloud.githubusercontent.com/assets/9592868/24226289/dd4893f4-0f22-11e7-9cec-e051f24bcfa2.png)

[2017-03-23 01:16] #385 closed

[2017-03-23 08:51] facchinm commented on #492
@SidLeung if you are going to merge https://github.com/01org/corelibs-arduino101/pull/475, the only tool not yet packaged for ARM Linux will be the toolchain, indeed.
Since there are no instructions anywhere about where the sources are I guessed they were generated by the official ARC toolchain (https://github.com/foss-for-synopsys-dwc-arc-processors/toolchain) but I'm not 100% sure. Could you con

[2017-03-23 19:37] khanning opened #495 "Device locks up using CurieIMU"
While testing the new 2.0.0/2.0.1 corelibs I have encountered a bug using the Curie IMU module. With the 101 in peripheral mode, if a BLE characteristic is written to from an external central device while using the IMU, the device will occasionally lock up requiring a reset.

I put together a simple test case by modifying the led example sketch to read from the IMU periodically. You can use the in

[2017-03-23 20:01] eriknyquist commented on #495
Thanks @khanning, we'll take a look.

Side Note: you don't need to handle the timing of CurieIMU reads, anymore-- there is a dataReady() method you can use now, e.g.

    CurieIMU.dataReady(ACCEL) // returns true if a new accel sample is available
    CurieIMU.dataReady(GYRO)  // returns true if a new accel sample is available
    CurieIMU.dataReady(ACCEL | GYRO) // returns true if both are availa

[2017-03-23 20:21] russmcinnis commented on #495
I was able to reproduce the issue using your peripheral sketch running with an Arduino101 central

[2017-03-24 12:58] khanning commented on #495
@eriknyquist @russmcinnis thanks for confirming the issue and for the note on the dataReady() method. Please let me know if there is anything else I can do to help with the issue.

[2017-03-24 16:18] russmcinnis commented on #495
works with the dataReady() but we can still reproduce it with the change. I will see what Erik thinks.

[2017-03-24 16:39] SidLeung commented on #495
@russmcinnis

Did you observe any BLE advertisement prior to the lock up?  You may need the Ellisys to monitor this...
If you can't see any Adv Data packets, you may want to modify the sketch to have control over when the IMU starts.  Let see how the two modules affect each other.  Thanks.

[2017-03-24 18:19] sandeepmistry commented on #473
This looks good now with the 2.0.2 RC JSON @SidLeung provided me. Closing.

[2017-03-24 18:19] #473 closed

[2017-03-24 18:25] sandeepmistry commented on #366
This looks good now with the 2.0.2 RC JSON @SidLeung provided me.

[2017-03-24 18:33] sandeepmistry commented on #385
This looks good now with the 2.0.2 RC JSON @SidLeung provided me on my Mac.

However, my sketch is filtering based on the local name, and it doesn't work with the Raspberry Pi, I'll open a separate issue shortly on this.

[code]

[2017-03-24 18:46] sandeepmistry commented on #368
This looks good now with the 2.0.2 RC JSON @SidLeung provided me. Closing

The scan.ino example only reports discovered peripherals once as expected and the scan_callback.ino example reports every advertisement.

However, as @SidLeung mentioned `BLE.scan()` does not report the scan response as I expected. I'll open a separate issue to discuss this.

[2017-03-24 18:46] #368 closed

[2017-03-24 18:49] sandeepmistry commented on #370
This looks better now with the 2.0.2 RC JSON @SidLeung provided me.

However, as I mentioned in #385 and #368, when `BLE.scan()` is called, I'm not getting the scan response data. I will leave this issue open until this is resolved. (I believe we discussed post-Deneb?)

[2017-03-24 18:57] sandeepmistry commented on #478
This looks good now with the 2.0.2 RC JSON @SidLeung provided me. Closing.

I'll open a small to remove the `delay(1000);`'s in the `peripheral_explorer.ino` as @russmcinnis mentioned above.

Here's the result from running again bleno's test.js on a Raspberry Pi (I had to mod the sketch to scan with duplicates as mentioned in #370):

[code]

[2017-03-24 18:57] #478 closed

[2017-03-24 19:18] sandeepmistry opened #497 "CurieBLE: SensorTag example no longer works out of the box"
As discussed in https://github.com/01org/corelibs-arduino101/issues/370#issuecomment-289112547 when `BLE.scan()` is called no scan response is processed currently.

This causes the `central/sensortag_button.ino` example to not work as it checks the local name of peripherals and the SensorTag puts on the local name in the scan response.

Maybe we need a short term fix to the example?

[2017-03-27 08:44] facchinm commented on #492
Attached you can find the (unstripped) toolchain for armv7 targeting arc32. It was compiled from the aforementioned repository with `/build-all.sh --no-uclibc  --no-pdf` . It is completely untested so don't use it for anything critical :smile:
Link: https://mega.nz/#!8xJ2gZqJ!nf8-ZkfEJDNYEMQsbEZUKwL40AixmCh3hdbSTex7iTw

[2017-03-27 16:33] bdavis721 commented on #492
Thanks, I'm working on my senior design project and it would be critical so I think I will wait until they update it with a stable version for all my hobbies.

[2017-03-27 16:59] facchinm commented on #492
If you could test it and give us a feedback it would surely speedup the process :wink:

[2017-03-27 20:36] carlosperate opened #503 "BLE chip firmware source code"
Hi all,

As far as I understand, there is an internal nRF51822 core providing the BLE capabilities. I'm having a hard time locating the source code for this microcontroller. Is this available in this repository or somewhere else?

[2017-03-27 21:29] bigdinotech commented on #486
https://github.com/01org/corelibs-arduino101/commit/6b33e736a7ba9c5038c1a14fb7e6fb5bc099be71

[2017-03-27 21:29] #486 closed

[2017-03-27 23:39] #497 closed

[2017-03-27 23:59] russmcinnis commented on #497
this feature appears to work with PR500 (tested with PR475 + PR500)

[2017-03-28 09:22] jimaobian opened #507 "BLE.connected() always return false."
Here is the code. It always return false, even BLE is connected.

corelib Version: 2.0.1-RC2

[code]

[2017-03-28 11:06] PaulStoffregen commented on #238
Just curious if this issue was ever investigated?

I've been working on Teensy's Wire library recently.  It's remarkably difficult to properly handle all possible cases that can happen with multi-master systems and recovery from all possible cases of electrical corruption on the data signals.

[2017-03-28 16:51] russmcinnis commented on #474
Hey Mike, We do use some of the backside signals and have mapped them to pin numbers. I am working with somebody so we can get you something. We have a silkscreen image of the TPB point with numbers also which we use for soldering or pogo pin contacts.

[2017-03-28 17:03] SidLeung commented on #474
I ping Kit on this issue a week ago.  I know that the backside of the silkscreen is available on BaseCamp.  I was asking her permission to forward the info.  Will ping on her again.

[2017-03-28 18:50] SidLeung opened #508 "Define functional requirements for BLE.scan() to process duplicated Peripherals."
The BLE.scan API is (in v 2.0.2) capable of filtering out duplicated detected Peripherals.  The fact that Advertisement data of a Peripheral may be presented in one or multiple packets (Adv Data and Scan Response Data).  Thus, this ticket is to clarify the requirements of the scan() API on how to process the Adv info from different kinds of Peripheral.

[2017-03-28 18:52] SidLeung commented on #508
Capturing a discussion on this issue here,

https://github.com/01org/corelibs-arduino101/pull/500#discussion_r108316928

[2017-03-28 18:53] SidLeung commented on #508
@sandeepmistry @sgbihu , please present your suggestions/requests for change here.

[2017-03-28 18:59] mjs513 commented on #474
Hi @russmcinnis / @SidLeung thanks for the update. I was thinking about the pogo pin contacts as well to get access.

[2017-03-29 01:10] solidcloudio opened #509 "Latest Code Fails to compile"
Regardless of the script I try to compile I get:

exec: "C:\\Users\\xxx\\AppData\\Local\\Arduino15\\packages\\Intel\\tools\\arduino101load\\1.6.9+1.28/arduino101load": file does not exist
Error compiling for board Arduino/Genuino 101.

This folder does exist however.  Any ideas?

[2017-03-29 01:19] sgbihu commented on #508
The scan request will send out after the central see the advertising. So the scan response will be got in an expected time. The implementation can add a delay to return new device. I have implement a solution here https://github.com/01org/corelibs-arduino101/pull/502

[2017-03-29 01:21] SidLeung commented on #509
Would you happen to download the JSON here,

https://basecamp.com/2546761/projects/7617309/messages/67770509#comment_515044686

[2017-03-29 02:39] cnlg opened #511 "Curie can not compile function itoa ()"
**Sample code**

`
#include <stdlib.h> 　　
#include <stdio.h>

int number = -10;
char *string = "test";

void setup() {
  Serial.begin(115200);
  while(!Serial);
  Serial.println("*************Itoa test**************");
  itoa(number,string,10);

}

void loop() {
  Serial.println("*************Result**************");
  Serial.println(string);
  while(1);

}
`

**Run the above procedure to get the r

[2017-03-29 02:39] cnlg commented on #511
Curie can not compile function itoa ()

[2017-03-29 13:21] sandeepmistry commented on #497
This is working for me now with the 2.0.1-rc2.1 JSON @yashaswini-hanji provided us.

[2017-03-29 13:23] sandeepmistry commented on #370
This is working for me now with the 2.0.1-rc2.1 JSON @yashaswini-hanji provided us. Closing.

There's still an edge case where a peripheral would be be reported, see https://github.com/01org/corelibs-arduino101/pull/500#discussion_r108316928. However, @SidLeung has opened #508 to track this. It's also not a very common edge case from my experience with BLE.

[2017-03-29 13:23] #370 closed

[2017-03-29 13:36] agdl opened #512 "udev rules"
On the Arduino [GS page](https://www.arduino.cc/en/guide/arduino101) we have:

[code]

anyway in the new core release the /scripts path seems to not exist

[2017-03-29 13:40] agdl commented on #512
I'm using the 2.0.1 RC2.1 JSON on ubuntu

[2017-03-29 15:00] agdl commented on #446
I have a sketch arranged like this:
[code]

That was working on 1.0.7

Now I can see only the services 0x1800 and 0x1801 and not mine.

Tested on 2.0.1

[2017-03-29 15:27] sandeepmistry commented on #512
cc/ @facchinm

[2017-03-29 15:38] solidcloudio commented on #509
Huh?  Basecamp link?

[2017-03-29 15:40] facchinm commented on #512
Correct, the rules were part of the `arduino101loader` package. I'm for moving them into the core; could it be a solution?

[2017-03-29 15:47] sandeepmistry commented on #509
You will need to update the tools required by installing the pre-release Arduino 101 core with this JSON in the IDE preferences and installing "Intel test" in the board manager:

https://github.com/01org/corelibs-arduino101/releases/download/2.0.1-RC2.1/package_public_2.0.1-rc2.1_index.json

[2017-03-29 15:52] extrapixel commented on #238
@eriknyquist any progress on this? Is there something I can do to help?

[2017-03-29 16:29] eriknyquist commented on #238
Sorry, I'm not able to work on this right now.

[2017-03-29 16:38] eriknyquist commented on #511
`itoa()` compiles just fine. The actual warning from the compiler is

[code]

In C++, string literals are always const, which the warning above hints at. Try using an array instead:

[code]

[2017-03-29 16:53] sandeepmistry opened #516 "CurieBLE: characteristic.read() reports success when peripheral responds with error"
Testing with the 2.0.1RC2.1 JSON:

Arduino sketch:

[code]

Node.js bleno test app:

[code]

`characteristic.read()` is return true even though the GATT read request fails. I expect it to return false to indicate failure.

Packet Logger trace:

<img width="1312" alt="screen shot 2017-03-29 at 12 47 43 pm" src="https://cloud.githubusercontent.com/assets/1163840/24466364/9ee5b248-147e-11e7-89f7-8d00

[2017-03-29 16:56] sandeepmistry opened #517 "CurieBLE: characteristic.writeInt(...) reports success when peripheral responds with error"
Similar to #516, but for write requests. We should also see if the same applies to `characteristic.subscribe()`.

Testing with the 2.0.1RC2.1 JSON:

Arduino sketch:

[code]

Node.js bleno test app:

[code]

`characteristic.writeInt(42)` is return true even though the GATT write request fails. I expect it to return false to indicate failure.

Packet Logger trace:

<img width="1312" alt="screen shot

[2017-03-29 23:10] noelpaz commented on #516
@sandeepmistry The bleno peripheral node.js app is returning as below. I do not see the string for RESULT_UNLIKELY_ERROR Doesn't this mean success?  Anyway I will be also firing up our BLE sniffer and update or add another comment.

[code]

[2017-03-29 23:40] noelpaz commented on #516
@SidLeung  It looks like it is confirmed, We are not reporting the error packet by the Peripheral

![image](https://cloud.githubusercontent.com/assets/9592868/24481302/3b4b60a0-149e-11e7-9bbe-9dc97cad043a.png)

[2017-03-29 23:41] noelpaz commented on #516
[Issue516.zip](https://github.com/01org/corelibs-arduino101/files/880652/Issue516.zip)

Analyzer files attached.

[2017-03-29 23:53] noelpaz commented on #517
Issue confirmed:

[issue517.zip](https://github.com/01org/corelibs-arduino101/files/880666/issue517.zip)

![image](https://cloud.githubusercontent.com/assets/9592868/24481597/2ffbb37e-14a0-11e7-9118-eb2578965f49.png)

[2017-03-30 01:38] cnlg commented on #511
thanks ! @eriknyquist

[2017-03-30 08:25] #512 closed

[2017-03-30 13:03] sandeepmistry commented on #516
@noelpaz in case it's not clear, `RESULT_UNLIKELY_ERROR` is a constant mapped to the GATT error code 0x0e.

Other bleno constants include:
[code]

[2017-03-30 22:37] #511 closed

[2017-03-31 18:42] russmcinnis commented on #495
@khanning @eriknyquist @SidLeung I have the test running with the Ellisys scanning. I am using our latest corelibs and I haven't been able to reproduce the failure. It was failing within a few minutes last week on previous corelibs. I will let this run for a while longer and report back.

[2017-03-31 19:32] russmcinnis commented on #495
tracked by jira 906

[2017-04-01 21:54] solidcloudio commented on #509
Hmmm, that doesnt exist.  I still can't seem to get the latest stuff to compile

[2017-04-03 12:58] sandeepmistry commented on #507
@SidLeung has anyone from the Intel team looked into this?

[2017-04-04 14:59] SidLeung commented on #503
Closing this PR with no further questions.

[2017-04-04 14:59] #503 closed

[2017-04-04 15:53] carlosperate commented on #503
Sorry for the late reply, must have missed it from my notifications.
Is there any reason the BLE server source code could not be provided? Even if the soft device is not included.

[2017-04-04 16:08] SidLeung commented on #503
As you may be aware of the fact that the BLE server code is not a standalone entity developed by Intel.  To open source the entire stack would require substantial resources to sort out the licensing, logistic issues with various modules.  We simply do not have that kind of resources at the moment.

[2017-04-04 18:00] SidLeung commented on #479
I believe this issue should be addressed with Deneb.

[2017-04-04 20:41] kitsunami commented on #474
Hi @mjs513 !
I've reached out to element14 to see if they can update their product documents to support your request.
Since this is their product, I recommend using their product forum (https://www.element14.com/tinyTILE) to interact with them directly.

[2017-04-04 23:12] SidLeung commented on #474
@mjs513

Element 14 was made aware of the situation that you were looking for the backside silk screen by @kitsunami.  They will update their documentation accordingly.  No timeline given though.

[2017-04-04 23:28] mjs513 commented on #474
@SidLeung and @kitsunami

Thank you for letting me know that you informed element14 about the documentation issue.  Not really sure what the big deal is that you can not post it if you have it and you can not share.  And this took two weeks to let me know that I should contact element14.

@SidLeung seriously though thanks for your help in getting sorted out.  By the way where are you from - intel,

[2017-04-04 23:28] #474 closed

[2017-04-05 00:33] sgbihu commented on #507
That's expected. Because your code use BLE object. The BLE object is used to manage the local device. So the code always return false.

In your code, you need get the connected device and use this BLEDevice object to call connected method.

[code]

[2017-04-05 00:40] sandeepmistry commented on #507
@sgbihu I disagree with this expected behaviour.

The original spec we discussed had:

[code]

So I expect `BLE.connected()` to return true is a central is connected, when the 101 is in peripheral mode.

[2017-04-05 01:36] sgbihu commented on #507
Hi @sandeepmistry ,

I disagree with your option too.
1. The BLE can work in central mode and peripheral mode  at same time.
2. The connected means the device connected to the BLE (Local device). So the BLE can't connect to itself. Only peer device allow to call this.

So I think your op

[2017-04-05 01:42] sandeepmistry commented on #507
The `BLE` instance of `BLEDevice` represents the local BLE device, so`BLE.connected()` should return if the local device is connected to a central.

[2017-04-05 01:50] sgbihu commented on #507
Another scenario is the BLE is work in central mode. Does it return true if peripheral connected to it?

If return true. Does this API can adapt here? If not, why peripheral and central don't have same behavior?

[2017-04-05 08:20] jimaobian opened #526 "Upload Problem: touching COM with 1200 baud rate cannot reset all the board on Windows 7."
Hi,
Our customer, a teacher, bought a bunch of Arduino 101 from us. However About half of Arduino 101 fail to upload the sketch through the computer in his school (Windows 7), while another half can work properly. By the way all the computers can upload sketches to Arduino Uno.

The other interesting thing is his own laptop with windows 10 can always upload successfully.

After remote assistance w

[2017-04-05 08:48] jimaobian commented on #507
@sgbihu Hi, for my view `BLE.connected()` should be true whichever BLE is in central mode or in peripheral mode as they are actually "connected". Just keep the API simple, which can meets more users.

For the ambiguous about the the connection state of central mode and peripheral mode at same time.
I think it is a minor requirement. And users can use api like yours to get the different connection

[2017-04-05 09:48] facchinm commented on #509
@solidcloudio the problem is 99% related with an antivirus which recognizes `arduino101load` as a threat. Reinstall the latest core and whitelist the file and you should be ok

[2017-04-05 13:34] sandeepmistry commented on #507
I agree with @jimaobian's comment above.

[2017-04-05 13:53] sandeepmistry commented on #479
@SidLeung this still happens with Deneb:

[code]

I believe it is memory related and with be resolved in Bootes.

[2017-04-06 17:39] carlosperate commented on #503
That's a pity, I was hoping it wasn't an arduous task, but I do understand. Thanks for your prompt replies.

[2017-04-06 17:46] SidLeung commented on #503
If you take a quick peek at the Nordic site with regard to their SDK, it may provide a better understanding of the situation I was talking about.  May be, if you could identify what your needs with the Nordic stack, we might be able to help in other ways.

[2017-04-06 17:57] carlosperate commented on #503
The licensing of the SDK v13 http://developer.nordicsemi.com/nRF5_SDK/nRF5_SDK_v13.x.x/doc/13.0.0/licenses.html seems to be a lot more simpler, but being relatively new I assume the server code will probably be using an older version.
I believe the newer version of the 101 core will support central mode, so I assume it must be using the s130 or s132 soft device? If that's the case maybe this new v

[2017-04-06 18:00] carlosperate commented on #503
Nevermind about the v13, just noticed it does not support nRF51.

[2017-04-06 18:09] SidLeung commented on #503
@carlosperate

Please note that we made use of the BLE stack, a binary image, from Nordic to implement that BLE protocol.  There is no access to the underneath SoC h/w.  You would have to explore other sources to see if that is feasible.

[2017-04-06 18:43] carlosperate commented on #503
That's why I was hoping to see the code, I wasn't quite sure how an internal core like this would be configured.
In normal nRF51 micros the radio registers are located at `0x40001000` and then just needed to access the registers without the need for any soft device present ([nrf51.h#L297-L366](https://github.com/ARMmbed/mbed-os/blob/729ef153076ea9db4a9c9f81e90076960e035213/features/FEATURE_BLE/tar

[2017-04-06 19:00] SidLeung commented on #503
@carlosperate
The BLE server code employs the API's offered by the Nordic Soft Device.  To access the underneath h/w directly would have made our server code not portable (reusable) any more, that's deemed undesirable.  How does the Soft Device accesses the underneath h/w is beyond our scope of visibility.

[2017-04-06 19:07] carlosperate commented on #503
Fair enough, thanks @SidLeung !

[2017-04-06 21:11] SidLeung commented on #507
Folks:

Would like to summarize the discussion in a conclusive manner and to identify tasks to bring fruitful results,

1. First, pardon me for being repetitive, would like to clarify the terminology used.  The class BLEDevice can be instantiated as a local device or a remote device.  A local device is the default global object, BLE, instantiated in the CurieBLE library.  A remote device is a devi

[2017-04-07 13:36] danlsk commented on #341
May I ask if there is any plan for this in 2017?

[2017-04-07 15:37] SidLeung commented on #341
There is no immediate plan to support the "bonding and pairing" feature in the CurieBLE library.

[2017-04-07 17:08] SidLeung commented on #507
@sandeepmistry

I can see one major obstacle to my proposed changes to the BLEDevice class - the class definition is released to the public.  There are sketches using this definition.  If some of the methods are moved (re-classified) to the derived classes, these sketches will fail to compile.
The proposed hierarchical class structure is a logical description of the class interaction and classifie

[2017-04-07 20:25] sandeepmistry commented on #507
@SidLeung I propose we go with a more simpler change like PR #528 in the short term.

The class diagram you proposed makes sense logically, however I don't think we need a major refactor now. Although, some users might want to call `BLE.hasService(....)` to see if the local device has the desired service.

We'll find out soon, when the CurieBLE reference on the Arduino site is updated for the new

[2017-04-07 21:51] SidLeung commented on #507
@sandeepmistry Thank you for understanding the dilemma I was pondering upon - refactoring a public facing definition or document the operating condition for each method.  Apparently, this is an unfortunate choice of the lesser evil.
I lean towards the refactoring of the BLEDevice class due to the fact that the instances we ran into as we were developing our comprehensive test scripts for the BLE s

[2017-04-10 04:33] Pachicito commented on #112
Why? Why is I2C slave not supported on the 101?

[2017-04-10 05:18] SidLeung commented on #112
The I2C hardware interfaces originate from the ARC core (the processor used by the Arduino platform) of the Curie SoC only support Master mode.  Please refer to the Curie data sheet for more details.

[2017-04-10 14:04] facchinm commented on #507
Hi @SidLeung ,
I can understand your concerns, but the APIs make a lot of sense in the BLE world, where a device (`BLEDevice` in this case, in fact "the object") can change role.
The remove-vs-local behaviour reflects this duality; of course some functions can't be used on the remote (or makes no sense on the local since you already have that info available as a variable).
In the non-embedded worl

[2017-04-10 18:33] solidcloudio opened #530 "Nordic Firmware?"
Where can we get the Nordic BLE firmware?

[2017-04-10 18:46] SidLeung commented on #530
Please refer to this link for info,

https://github.com/01org/corelibs-arduino101/issues/503#issuecomment-292271565

[2017-04-11 06:00] NikhilDevgire commented on #96
Hi guys,
I am also running through the same issue. I have also added the possible solution mentioned by @don in questions.

below is the image of services discovery which is clearly showing the addition of service change characteristic in GATT profile.

![services_beam](https://cloud.githubusercontent.com/assets/8206943/24894723/d8ef034c-1ea9-11e7-8d1e-70eff98f3faf.jpeg)

After implementing above

[2017-04-11 13:42] chartle2 commented on #341
I would very much appreciate this feature as well. Hopefully it can be added to the plan in the not so distant future.

[2017-04-11 16:26] sandeepmistry commented on #479
This looks good now with the Bootes pre-release JSON:

[code]

[2017-04-11 16:48] sandeepmistry commented on #373
This looks good now with the Bootes pre-release:

[code]

I ran the peripheral explorer example with a TI SensorTag.

[2017-04-12 08:39] vshymanskyy opened #531 "BLESubscribed, BLEUnsubscribed Event Handlers are not called"
For example, in following scenario (Nordic UART Service implementation):
[code]

[2017-04-12 14:00] sandeepmistry commented on #531
@vshymanskyy thanks for the excellent issue report! I've confirmed the issue on my board using the sketch you provided.

@SidLeung can something at Intel look into this please?

[2017-04-12 19:04] russmcinnis commented on #531
I reproduced the results using another 101 as the central and the sketch in this issue is not seeing the subscribe/unsubscribe events.

[2017-04-12 19:29] russmcinnis commented on #531
tracked by jira 913

[2017-04-12 20:31] SidLeung commented on #509
Closing this issue with no further inputs.

[2017-04-12 20:31] #509 closed

[2017-04-15 18:48] solidcloudio commented on #446
Seeing this same problem..    Sample script that fails:

`
#include <CurieBLE.h>

#define DEVICE_NAME "TestDevice"

#define SERVICE_UUID          ("f513d9a0-6cd5-4ed6-b98c-b67ce98f0cz4")

#define CHAR_UUID_1                 ("f513d9a1-6cd5-4ed6-b98c-b67ce98f0cz4")
#define CHAR_UUID_2                 ("f513d9a2-6cd5-4ed6-b98c-b67ce98f0cz4")
#define CHAR_UUID_3                 ("f513d9a3-6cd5-4ed6-b

[2017-04-15 20:30] solidcloudio commented on #509
2.0.2 is working other than the BLE more than 6-7 attributes issue

[2017-04-15 20:30] #530 closed

[2017-04-15 22:57] solidcloudio commented on #446
I wouldn't say this is an "Enhancement" but rather a bug..

[2017-04-17 18:38] bigdinotech commented on #526
@jimaobian First thing I would suggest is to try out the latest core-libs release.

My next suggestion is to make sure they are picking the correct serial port on the Arduino IDE, I myself have made this mistake several times.

Has your customer tried a board that was not working on one computer on a computer that was working? Also the other way around a known working board on a non working comput

[2017-04-18 04:08] jimaobian commented on #526
@bigdinotech
Hi, the board package is 1.0.7 at that time. Not yet test 2.0.2.

The serial port is rightly selected. I even manually change the COM port number at device manager, also use CoolTerm to connect it with 1200 baud.

The board did not work on one computer(all Windows 7 PCs in his school), while on a computer(window 10 PC of his own) it worked.

It does enumerate as a serial port and the

[2017-04-18 04:35] BallscrewBob commented on #526
I can confirm this issue also on Arduino CREATE under win 7 x64 pro. ( Which should be using the latest cores AFAIK )
As per OP the port enumerates correctly.
Using 1.0.6 package in the desktop IDE (1.8.2) and same issue.
Did the 2.0 update and that went through just fine with no reported issues.
Problem persists.

Usually throw "AnalogReadSerial" or std "blink" examples at boards to double check

[2017-04-18 14:51] facchinm commented on #526
Hi everyone, let's try to reorder the information a bit:
- some windows 7 PCs are unable to correctly perform the "1200bps touch" on the serial port.
- by moving the same 101 boards on another PC, the problem disappears.

In fact, the USB-to-serial communication is handled by the x86 firmware, which takes care of issuing a reboot once it receives this "command".  This is why "Timed Wakeup" doesn't

[2017-04-18 15:11] BallscrewBob commented on #526
NO usb 3.0 as I am aware of that issue.
I dont have my server available for tests right now (Win 8 to 10 available via that) and only have a dual boot XP / Vista test box that is live. with IDE's 1.6.5 r5 / 1.6.12 / 1.8.1 / 1.8.2.

Just as a side test I grabbed the hourly IDE and ran that.
Apart from having to use master reset each time as it instructs then that appears to be working fine.

Not su

[2017-04-18 16:06] BallscrewBob commented on #526
Brought my server back online (Server 2012) so windows 8/0 /8.1 base.
No issues with CREATE.
No issues with IDE 1.8.2.

From that I can only surmise that it is a windows 7 specific issue.

[2017-04-18 18:12] SidLeung commented on #373
@sandeepmistry, Would you please close this issue if the code is satisfactory.

[2017-04-18 18:12] SidLeung commented on #479
@sandeepmistry Would you please close the issue if the code is satisfactory.

[2017-04-19 08:49] jimaobian commented on #526
Hi, @facchinm, Thanks for the summery and explanation of the sleep mode. It is more clear now.
The most interesting thing is
* The windows 7 PCs, which are unable to correctly perform the "1200bps touch" on the serial port, can correctly perform it using another Arduino 101.

I agree with the way you target the issue. Logically there are two types of issues that can cause this problem.
* Windows i

[2017-04-19 18:59] aitorhh commented on #495
I have been checking this issue and the workaround I have found is to use **interruptions**. Unfortunately, it's not suitable for my case.

The arduino sketch and test can be found at: [imu_ble.ino](https://gist.github.com/aitorhh/e3298a38ca25d41cf34114dd90236056)

I have also try to read the IMU values surrounded by `noInterrupts()` and `interrups()` but no luck.

Hope this information rings a be

[2017-04-24 03:36] cnlg opened #535 "Visual Studio plugin vMicro download 101 code is failed"
Hello,
I used Arduino IDE 1.8.2 to download 101 code is OK, but I used the visual studio plugin vMicro to download 101 code failed, however, before a certain version was ok.
Download failed tips:
Visual Micro free version. CTRL + click for secure purchase http://www.visualmicro.com/page/shop.aspx
Uploading 'CuireAntbo' to 'Arduino / Genuino 101' using 'COM3'
Starting download script ...
Exec: not

[2017-04-24 06:53] #535 closed

[2017-04-25 00:10] novashah commented on #373
Closing issue as resolved.

[2017-04-25 00:10] #373 closed

[2017-04-25 00:11] novashah commented on #479
Closing issue as resolved.

[2017-04-25 00:11] #479 closed

[2017-04-25 07:03] jimaobian opened #536 "FOTA support on Arduino 101?"
Hi,
Is there any plan or roadmap that Arduino 101 will support FOTA? It seems that the hardware of the Arduino 101 can support it and it will be a delicious feature.

Thanks

[2017-04-25 07:26] SidLeung commented on #536
Hello,

There is no plan to support Firmware Over The Air at this point.  That said, however, we would be providing the basic tools to build such a feature.  Namely, we are planning to release a version of the BLE firmware that has high bandwidth performance so that large data object can be transferred at the maximum speed BLE can offer.

[2017-04-25 11:36] jimaobian commented on #536
Thanks for your fast reply!

It's indeed a pity. I would highly recommend to develop it. It is perhaps the last step that Arduino 101 can be adopted into real products.

I have to say the BLE library is great. It is far more easy than developing with nrf51822. The PME library is awesome, especially the document of "DrawingInTheAir" example. After reading it, there is no need to read the long and b

[2017-04-25 21:48] novashah commented on #517
@sandeepmistry Please review and close.

[2017-04-25 21:53] novashah commented on #508
Fixed and Merged.

[2017-04-25 21:53] #508 closed

[2017-04-26 23:23] SidLeung commented on #96
A Jira ticket was created to track this issue, Jira-484.

[2017-04-27 15:00] aitorhh commented on #495
I did some more experiments with IMU and BLE (I think similar problem happens with PME involved), but anyway, here are some ?conclusions?:
* `noInterrups()`/`interrupts()` **helps to** postpone the crash

[Here](https://gist.github.com/aitorhh/e3298a38ca25d41cf34114dd90236056) is the code I used for the testing, arduino sketch and nodejs script.

Sampling control with `setAccelerometerRate()/setGy

[2017-05-01 16:27] russmcinnis commented on #96
Using LightBlue on a mac book, the local name as well as service and characteristics show the changes to button LED values so if this is a good test it appears the issue is resolved. @SidLeung

[2017-05-01 17:06] tigoe commented on #96
Agreed, it seems to be working properly now. Strangely enough, the BLE change didn't take effect until I did "burn bootloader" to Zephyr twice. The first time adjusted the serial problem, but the BLE problem persisted. Then when I saw @russmcinnis' note I tried burning bootloader again, and that made the BLE problem go away. It seems like the first "burn bootload" changed the RTOS, and the second

[2017-05-01 17:25] sandeepmistry commented on #96
@russmcinnis macOS doesn't cache like iOS does. Would you be able to re-test with iOS?

[2017-05-01 22:50] russmcinnis commented on #96
Thanks Sandeep. I tested with an iPad and it was updating local name to BtnLED and the proper characteristics.

[2017-05-02 08:11] coloz opened #537 "Serial output data will be stuck"
Run the example Gyro,serial output data will be stuck.
Time is uncertain, but after a while will be stuck

[2017-05-02 14:37] sandeepmistry commented on #96
@russmcinnis I'm still seeing the issue with my iPhone running iOS 10.3.1 and 2.0.2 of the 101 core.

Steps I ran:

 1. Load Battery monitor peripheral example.
2. Connect with LightBlue iOS app, battery service and characteristic shown.
3. Disconnect LightBlue
4. Load LED peripheral example sketch.
5. Connect with LightBlue iOS app, battery service and characteristic **still** shown. I would expe

[2017-05-02 14:42] sandeepmistry commented on #517
Hi @novashah,

I believe this is still an issue, since PR #518 (or an equivalent) has not been merged in.

[2017-05-02 15:28] sandeepmistry commented on #96
There was a misunderstanding here, @russmcinnis was testing with PR #534 in his recent comments above. I was testing with the 2.0.2 release.

[2017-05-02 19:18] SidLeung commented on #537
Please specify if you were using a pre-release version of the Corelibs that you take from a Pull Request here.

[2017-05-02 21:42] novashah commented on #536
This is not on our roadmap yet.  BLE needs to stablize and then be optimized.

[2017-05-02 22:20] russmcinnis commented on #531
The event handlers are being called. Jira 913 has been updated and resolved. This is not released yet.

[2017-05-02 22:32] russmcinnis commented on #507
https://jira.ndg.intel.com/browse/ATLEDGE-857
I think this is addressed by PR454 and jira 857 and it was closed. I think we can close this issue @SidLeung

[2017-05-02 22:35] russmcinnis commented on #367
@SidLeung this is resolved by the V4.2 testing and the jira 768 is resolved.

[2017-05-02 22:38] russmcinnis commented on #446
We are going to investigate the limits of characteristics when we have V4.2 stabilized.

[2017-05-02 22:39] russmcinnis commented on #378
PR534 has resolved this issue using BLE V4.2,  not released yet. The jira is resolved.

[2017-05-02 22:43] russmcinnis commented on #456
@SidLeung jira 871 mentions that PR463 fixes this issue.

[2017-05-02 22:44] solidcloudio commented on #446
Great, thanks.  Let me know if you need help testing

Sent from my iPhone

[2017-05-04 23:27] SidLeung commented on #495
Hi, @khanning,

Would you please try out this pre-release version of Corelibs with your setup?  We tested the JSON using the setup described above and it was operational.  This is the link to the pre-release JSON,

    https://downloads.arduino.cc/packages/package_staging_index.json

Please use the latest Arduino IDE with the above JSON.  When you upload a sketch the first time with this JSON, you

[2017-05-05 03:11] coloz commented on #537
version 2.0.2
example CurieIMU>Gryo
I tried to replace the usb cable, replace other 101 board, replace the PC\Mac, the problem still exists

[2017-05-05 08:20] lorenzoromagnoli commented on #495
I'm having the same issue with a similar setup using BLE + IMU.
I tried updating core-libs to 2.1.0 but I haven't seen big improvements; after a while, the 101 hangs and have to reset.

Here my code for reference:
[code]

[2017-05-05 16:35] khanning commented on #495
Hi @SidLeung,

I just tried the 2.1.0 corelibs with the latest Arduino IDE (1.8.2) and the device still locked up within a few minutes using the [led.ino](https://gist.github.com/khanning/13b144c7acfdcf5dbd268a5fd0084ec3) and [ledtest.js](https://gist.github.com/khanning/fdac3f7a1b25a8b289641fc89dbbb1c2) scripts above.

I did receive the message about the core being updated when I uploaded the led

[2017-05-06 21:13] abelsm2 opened #539 "BMI160 setTapDetectionThreshold typo"
In line 821 of CurieIMU.cpp
[code]

I believe the 2500 should be 250 instead.

https://github.com/01org/corelibs-arduino101/blob/master/libraries/CurieIMU/src/CurieIMU.cpp#L821

[2017-05-08 19:48] eriknyquist commented on #537
Try this fix
https://github.com/01org/corelibs-arduino101/pull/540

[2017-05-10 13:55] russmcinnis commented on #531
Will re-test when merged for Elnath.

[2017-05-10 13:58] russmcinnis commented on #507
Will re-test when merged for Elnath.

[2017-05-10 13:59] russmcinnis commented on #367
Will re-test when merged for Elnath

[2017-05-11 13:25] sandeepmistry opened #543 "CurieBLE: advertising doesn't work with longer local names"
Observed by @CarlaMSedze and @rodriguezcarlos from the Arduino CTC team in Malmo.

[code]

We expect this sketch to work. As with 2.0.2 both the advertisement data and scan response are supported. I think we should be able to support local name values up to 20 characters ....

[2017-05-11 15:24] sandeepmistry commented on #543
Sorry, the sketch to reproduce is actually:

[code]

[2017-05-11 19:22] hgflas opened #545 "disconnect after sending Notifications"
Hello everybody,

I'm just trying to send messages from the Arduino to an Android client via BLE. For this I use the library CurieBLE version 2.0.

To send as many packages as possible, I use notifications. The goal is to generate as much throughput as possible. However, the Arduino always disconnected after a few notifications, if the connection interval is greater than 12. What can be the reason

[2017-05-11 19:22] sandeepmistry commented on #545
Hi @hgflas,

Could you please provide a full sketch for this issue. Thanks.

[2017-05-11 19:26] hgflas commented on #545
[code]

[2017-05-12 06:53] ElliotMebane commented on #420
EddystoneURL sample with Curie 2.0.2:
https://github.com/ElliotMebane/Arduino/tree/master/EddystoneURL_Arduino101

[2017-05-17 15:19] russmcinnis commented on #531
testing other BLE issues, this will be re-tested when we get something final for Elnath.

[2017-05-17 15:20] russmcinnis commented on #507
testing other BLE issues. Will retest for Elnath release.

[2017-05-17 15:21] russmcinnis commented on #367
still working on other BLE issues so we will re-confirm for final Elnath release.

[2017-05-18 07:50] jimaobian opened #550 ""package_public-2.1.0-rc1_index.json" does not include ble_core.bin version 2.1.0"
When burning bootloader, the following error occurs:
[code]

[2017-05-18 08:06] jimaobian opened #551 "Serial print not properly works on 2.1.0 rc1"
Try "Accelerometer" example in "CurieIMU" library.
It does not get the proper result.

![screen shot 2017-05-18 at 16 03 13](https://cloud.githubusercontent.com/assets/3905677/26192252/825483b6-3be3-11e7-937f-993c62240f8d.png)

[2017-05-18 21:38] yashaswini-hanji commented on #550
Please note that, this is a pre-release for our internal testing. Respective ble_core.bin and quark.bin will be manually placed in Arduino15/packages/Intel/tools/arduino101load/2.0.0/firmwares/2.1.0 during test. Kindly, do not use this tag till we have a official release. Currently we are testing the new features and will have a official release in few days. Thanks!

[2017-05-18 21:38] yashaswini-hanji commented on #551
Please note that, this is a pre-release for our internal testing. Respective ble_core.bin and quark.bin will be manually placed in Arduino15/packages/Intel/tools/arduino101load/2.0.0/firmwares/2.1.0 during test. Kindly, do not use this tag till we have a official release. Currently we are testing the new features and will have a official release in few days. Thanks!

[2017-05-18 21:40] eriknyquist commented on #550
Or at least, if you do play with it, save the bug reports for the official release :)

[2017-05-18 21:47] yashaswini-hanji commented on #550
This is not a bug :).. It is looking for ble_core.bin in 2.1.0 directory. Since it is not official release we have not updated aruino101load tool yet.

[2017-05-19 06:53] jimaobian commented on #551
Hi, take it easy. I know this is a pre-release version. I just played with it as the new version owns more RAM. And I found this issue. Hope to be helpful.

BTW, I'm using the ble_core.bin and quark.bin here: https://github.com/facchinm/arduino101load/tree/master/firmwares/2.1.0

[2017-05-19 06:59] jimaobian commented on #550
@eriknyquist 👌, got it.

[2017-05-19 06:59] #550 closed

[2017-05-19 20:37] janunezc commented on #398
Hi, any news on this one?

[2017-05-22 20:02] RobertAtomic opened #554 "BLEBoolCharacteristic missing from BLETypedCharacteristics.cpp"
BLEBoolCharacteristic is defined in BLETypedCharacteristics.h, but not implemented in BLETypedCharacteristics.cpp.  This causes link errors when building if BLEBoolCharacteristic is used.

[2017-05-22 20:12] d1runberg commented on #531
Any news on this?

[2017-05-22 21:09] SidLeung commented on #531
Issue duplicated, failure determined, correction implemented, and it is in the pipeline for official release.

[2017-05-26 22:25] SidLeung commented on #398
Please note that RSSI information is not available once connection is established and, thus, it is beyond the scope of the BLE stack implementation.

[2017-05-28 08:18] hgflas opened #555 "Enable debug interface on Serail1"
Hello together,

I would like to enable the debug interface. I have a ftdi USB to TTL adapter connected to rx and tx and the adapter connected to a usb port.

After that I have executed all the steps described under "Enable debug interface on Serail1"

How do I get the log file now? If I initialize Serial1 and open the monitor at the appropriate com port nothing happens.

My code looks like this:

[2017-05-30 14:54] russmcinnis commented on #531
Will retest for the official release.

[2017-06-01 21:31] novashah commented on #545
@sandeepmistry Please reply, thanks!

[2017-06-01 21:33] #536 closed

[2017-06-02 21:36] bigdinotech commented on #555
@hbisby can you describe how you are connecting to your host PC?
how is the FTDI cable wired and what settings are you using for your serial terminal application

[2017-06-06 18:38] russmcinnis commented on #531
will test when bootes/elnath released.

[2017-06-07 16:58] blayzew opened #556 "BLE interrupt during motion sensor read causes crash/hang"
From what I can tell when BLE receives a message and sends an interrupt during a call to the motion sensor read it causes the sketch to crash/hang. When interrupts are disabled around the motion sensor read it works without a problem.

This is in reference to the post I made on the Arduino forums. It contains the code to reproduce the issue.
https://forum.arduino.cc/index.php?topic=481379.0

If yo

[2017-06-13 08:13] sgbihu commented on #555
@hgflas ,

To output debug info to the Serial1, you can connect the USB-UART's RX to digital Pin1, GND to GND. And then try to output something to Serial1 to see what output in your console, like minicom in Linux.
`void setup() {
  Serial.begin(9600);    // initialize serial communication
  Serial1.begin(115200);
  // log_init();  // This line is not necessary.
  Serial1.println("Test for Serial1"

[2017-06-22 10:08] karthikeyanprakash opened #557 "SoftwareSerial does not work properly"
I have tried using Pin 2 and # as software serial to communicate to ESP8266 (AT commands). Unfortunately, the code works properly on UNO but not on 101. I just edited the basic software serial example provided with Lib.

[2017-06-22 16:38] bigdinotech commented on #557
Hi @karthikeyanprakash
what baud rate/s are you using?

[2017-06-22 16:51] karthikeyanprakash commented on #557
@bigdinotech  I am using 9600. The issue is with some of the W10 devices. While it works perfectly with other.

[2017-06-28 12:24] ronald245 commented on #238
any progress on this? i'm running into problems where data is nacked

[2017-07-03 10:37] b100bf commented on #446
I cannot advertise more than 7 characteristics even in separate services. I think there is a memory limitation.
If i'll use 16bit UUIDs instead of 128bit, will it allow more characteristics, or does it only a short representation?

[2017-07-18 07:54] MorseDK opened #560 "HX711 Breakout board doesnt work on 2.0.2"
Hello All

I have a build, where i use an HX711 breakout board. After the updating to core 2.0.2, my 101's (tested on several) doesn't seem able to communicate with it. I have tried several different libraries, all with the same result. Now i just went back to 1.0.7, and everything worked fine right off the bat. So it seems that there are some sort of regression.
Sadly i am not myself skilled enou

[2017-07-31 23:40] chock commented on #492
@facchinm I'm willing to test your compiled toolchain on raspberry pi.  I've downloaded it and extracted it but I'm not sure where the files should be placed or how my environment should be modified so the IDE can find it.  Would you be able to provide any direction on this?

[2017-08-01 07:35] facchinm commented on #492
Hi @chock ,
the procedure should be:
* install Arduino101 core via Board manager
* the installer should complain about "no suitable tool found for arc32-gcc-..."
* extract the toolchain wherever you want (for example, `/opt/arc32-gcc`
* modify `~/.arduino15/packages/Intel/hardware/arc32/2.0.2/platform.txt` , line `compiler.path=` to point to the folder you extracted (for example `/opt/arc32-gcc/bi

[2017-08-01 22:57] chock commented on #492
Here is where I am
installed Arduino 1.8.3 IDE
(removed all existing ~/.arduino and ~/.arduino15 directories from previous experimenting)
with Arduino 101 connected, start IDE
using Board manager attempt to install the "Intel Curie Boards by Intel...." package
at this point I get a java backtrace in the IDE message window

[code]

[2017-08-02 08:13] facchinm commented on #492
Ah, right, the IDE cleans up the folders if the installation fails due to missing tools (I forgot about it...).
So, the updated procedure should be:
* find where your sketchbook is (usually $HOME/Arduino)
* cd in it and create a couple of directories (`mkdir -p hardware/arduino101`)
* enter that directory
* clone the 101 git repo there (`git clone https://github.com/01org/corelibs-arduino101.git`)

[2017-08-03 00:41] chock commented on #492
I followed your excellent instructions and I have the board loaded properly but the compiler is choking with errors.  I enabled verbose logs and recompiled and I have include the logs in the attached text file.  There are whitespace warnings at the beginning which I can ignore but the linker is failing due to an apparent architecture mismatch.

Any ideas?

[compile-errors.txt](https://github.com/0

[2017-08-03 01:32] chock commented on #492
I noticed in my errors that I posted above that it was linking with the arc700 libraries instead of the quarkse_em ones.  I tried to find what was causing that but could not so I renamed the arc700 directories in the 2 referenced locations and symlinked arc700 to quarkse_em (big hack) and recompiled.  That seems to have resolved that issue.

Now it fails at the very end during the link:

[code]

[2017-08-03 07:47] facchinm commented on #492
Found it: the problem looks due to newlib not being at the correct revision (see https://jira.zephyrproject.org/browse/SDK-17 ). I'll recompile the toolchain without arc700 support, checking out the correct revision and report back.

[2017-08-03 16:42] #537 closed

[2017-08-03 17:25] bigdinotech commented on #539
resolved with 6d3c39d3f36807bf02ef1fc01cdc31395d31a3b8

[2017-08-03 17:25] #539 closed

[2017-08-06 22:30] rlewkowicz opened #563 "Bluetooth emulating an HID device"
So this is probably not the right place for this, but I have no idea where else you would go to try to get traction on an idea. I could be missing it, or looking for the wrong thing, but I see a number of unresolved requests on the internet to use the 101 to do keyboard input as an hid device. I'm pretty surprised that this is not available out of the box. I have found some half baked 3rd party li

[2017-08-07 09:53] facchinm commented on #492
Hi @chock ,
I recompile the toolchain from Intel tag (2016.03 for reference) and there it is:
https://mega.nz/#!J9hmQapQ!OQigBXt7dCobduMZfLGpoYDqBCBtybmhbki7BRouhBk

It should run on any version of RPi since it's compiled for ARMv6 (instead than the previous one which was ARMv7).

[2017-08-07 23:01] chock commented on #492
Hi @facchinm  -
Thank you for recompiling the toolchain for me to try.  Unfortunately, I'm still getting that link error with this new version.  Please see below when you have a moment:

[code]

[2017-08-08 10:22] facchinm commented on #492
Right, I've been able to test it and reproduced the same error.
Here's the toolchain (hopefully final) with `-mno-sdata` flag added by default. https://mega.nz/#!N4hmmCjZ!JpNPOJnH7ryJ22zYZeKv6JKikDr0BWzNsxRW3b-puj4

I tested it on a RPi 2 and it works just good :smile:
Just for reference, I'm pasting here the process:

[code]

[2017-08-09 01:27] chock commented on #492
@facchinm -
Success!

I had to adjust my platform.txt so it could find dfu-util and I could not get arduino101load to write to /dev/ttyACM0 unless I was root.  It would scroll timeout messages if I tried to upload as a non-root user.  I researched this and tried adjusting permissions on the device but I think it's more complicated than that so I ultimately prefaced the call to arduino101load with

[2017-08-12 12:43] Gerriko commented on #557
I'm having problems too. The software serial RX receives data but the TX pin does not work. I have tried the example given in CurieSoftwareSerial and TX does not work. I have tried digital pins 2 - 12, nothing. I have tried baud rate 9600 and 38400. I have tried to write just 1 byte to TX pin and receive nothing on the other end - I note that in the library only a write method exists so not sure h

[2017-08-14 16:12] bigdinotech commented on #557
Hi @Gerriko ,
Can you try https://github.com/01org/corelibs-arduino101/commit/c794c47abf9864af34b768f46f0792991f12a649

[2017-08-15 10:50] Gerriko commented on #557
Yes, I can try it. But before I start messing with my Curie SoftwareSerial.cpp file please provide some brief instruction on how to get the required amended version of cpp file or am I to cut and paste fix myself. Not clear on GitHub page as only see a unified view of change.

[2017-08-15 12:56] mxwang101 commented on #517
@noelpaz :+1: Cloud you please tell me what kinds of tools you used for to Packet Logger trace? I have same problem, but no tools to trace it. Thanks

[2017-08-16 15:25] tamirmha opened #565 "Arduino 101 / Arduino 101 stuck after uploading code"
have an arduino 101 and after i added to my project an EEPROM Get/Put its worked for 1 minute and after this the device stucked and didn't response anymore and the computer doesnt recognize it any more ( i disconnected from the usb, tried the master reset, tried to downgrade for older version the ide and the drivers).
i tried before to write the only to the eeprom and its worked fine
i have win7 6

[2017-08-16 16:28] bigdinotech commented on #565
Hi @tamirmha ,
Can you try to reflash the firmware.
Tools-> Burn Bootloader
Make sure that the programmer selected is Arduino/Genuino 101 Firmware Updater"

[2017-08-16 17:02] tamirmha commented on #565
Hello Bigdinotech,
the computer doesn't recognize the device any more and the port didn't appear also.
i tried this and its didnt work. its give the following message:
"Starting download script...
Flashing is taking longer than expected
Try pressing MASTER_RESET button
ERROR: Timed out waiting for Arduino 101 on COM7
Error while burning bootloader."

[2017-08-16 17:26] #557 closed

[2017-08-16 17:28] bigdinotech commented on #354
fixed by
https://github.com/01org/corelibs-arduino101/commit/c794c47abf9864af34b768f46f0792991f12a649

[2017-08-16 17:28] #354 closed

[2017-08-20 10:07] crfrancis opened #568 "Sketch where Read characteristics don't work"
I've attached a sketch, which is a cut-down version of one I'm working on. It sets one service with 5 characteristics: one write, 2 notify and 2 read. The write and notify ones work as expected, but not the reads.
If I upload this to a fresh Arduino 101, with the "101 Firmware Updater" programmer, it flashes the new firmware (with the 2.0.2 board manager). Then with LightBlue on the iPhone I can s

[2017-08-20 17:10] crfrancis commented on #568
I've been working on this issue for weeks now, but today made a breakthrough, with a reproducible cause.

It's the analogRead() which is to blame. I tried all 6 pins and the result is the same. Reading the characteristic doesn't work.

But if you comment out the call to readLaserVoltage() in the example I posted, the problem goes away.

cheers,
Richard

[2017-08-30 22:31] kitsunami opened #569 "Modify bootloader behaviour similar to Leonardo/Micro"
As an Arduino 101 end-user, I would like the bootloader behavior to be similar to the Leonardo/Micro...

the long boot time has been worked around in the IDE serial monitor a long time ago.
Anyway, I believe the proposal was to implement a behaviour similar to Leonardo/Micro:
boot "directly" to sketch (if there is no magic number in RAM, bootloader launches the sketch after 0.5seconds)
if 1200bps

[2017-08-30 22:36] kitsunami opened #570 "I2S interface sample size configuration issue"
I2S Controller did not take the sample size configuration. The only sample size it is supporting is 32 bit right now.

Master/Slave | Transmit/Receive | Comments
-- | -- | --
Master | Transmit | Curie drives the I2S in 32 bit sample size only.
  |   | Have not found a Slave device that could not take 32 bit sample size.
Master | Receive | Could not find a transmitter that operates in Slave mode to

[2017-08-30 22:38] kitsunami commented on #570
Streaming audio sample via DMA to the I2S Controller ran into underrun condition which resulted in glitching the I2S Serial Clock. The I2S output was connected to an amplifier to drive a pair of speakers. Due to the glitching of the I2S clock, the audio output was distorted.

[2017-08-30 22:39] kitsunami commented on #570
Indeed, the emptying of the I2S FIFO causes the I2S h/w interface to go into error mode and resetting the h/w module is required thereafter. As a consequent, the physical I2S connection is disrupted and the target device(s) has to re-sync on the following transaction. This process causes the losing of data samples.
The DMA streaming implementation eliminated the disruption of the I2S connection.

[2017-09-02 12:23] alext-mkrs commented on #367
I'm also interested in a fix for this one. Any plans for a release?

[2017-09-11 09:47] FatMax88 commented on #492
Just flagging my interest on this topic.  I'm struggling with the above info but will persist.
FYI, I'm running a Raspberry Pi 3B with Raspbian 9.1 (stretch) and Linux Arm Arduino IDE 1.8.4.

[2017-09-11 10:58] fsherratt opened #572 "CurieBLE hang when a notify subscribed device moves out of range."
When I set my Arduino101 up as a peripheral and subscribed to notifications from it the Arduino hangs when the central devices moves out of range and a GATT timeout event occurs. It hangs when either the devices moves back in range or after ~25 seconds.

When not subscribed the Arduino times out when out of range and disconnect from the Arduino when it comes back in range as expected.

This is usi

[2017-09-11 14:37] coloz opened #573 "where is 2.2.0 quark.bin"
want to use 2.2.0, but no quark.bin

[2017-09-12 05:03] jimaobian commented on #573
You can try this
https://github.com/01org/CODK-M

[2017-09-12 15:38] #573 closed

[2017-09-12 15:41] coloz opened #574 "2.2.0 run Serial Event example is error"
and tx\rx led is lighting

[2017-09-22 19:09] foxed-in opened #575 "BLE valueLength() on a peripheral is always returning 64"
With long writes from a device to the 101:  I noticed that valueLength is always returning 64. It is necessary to get the correct length of data to keep from reading garbage at the end. I haven't seen any crashing though. I will attach the peripheral sketch used. I was using nRF connect to send text "0123456789". Ellisys shows "0123456789" in the traces.

This is the output from the serial termina

[2017-09-22 19:10] foxed-in commented on #575
#include <CurieBLE.h>
#include "CurieTimerOne.h"

#ifndef INTERVAL_TIMER
#define INTERVAL_TIMER 1000
#endif

static bool intervalFireOff = false;

BLEService CloudPrimaryService("bfe433cf-6b5e-4368-abab-b0a59666a402");
BLECharacteristic CloudCredentials("bfe433cf-6b5e-4368-abab-b0a59666a403", BLERead | BLEWrite, 64);
BLECharacteristic CloudNotify("bfe433cf-6b5e-4368-abab-b0a59666a404", BLERead | B

[2017-10-21 18:12] kompost opened #576 "setConnectionInterval"
The method **setConnectionInterval(min, max)**, seems not to work? I have tried with numerous intervals, but none of them are being set. I understand that the device acts as a slave, and the master always decides on connection parameters.

But if I inspect the devices PPCP (Peripheral Preffered Connection Parameters) they are set as 0xFF-FF, in other words not been set. Why is that?
![ppcp](https:

[2017-10-24 20:47] vshymanskyy commented on #531
Any updates?

[2017-10-24 20:54] russmcinnis commented on #531
Maybe Dino can provide info
@bigdinotech

[2017-10-30 21:03] vshymanskyy commented on #531
@bigdinotech hey are there any news?

[2017-11-03 13:20] crfrancis commented on #568
Here is an update to the sketch which demonstrates the problem. It has 37 lines. Using, for example, LightBlue on an iPhone reveals the problem.
Commenting out line 35
`laserVolts = analogRead(VOLTS_PIN);  // try commentinng out this line
`
will stop the error.

cheers,
Richard

[2017-11-10 18:20] vshymanskyy commented on #531
ping ping ping ))

[2017-11-20 07:09] DengkeDu opened #578 "Why the connection breaks when I write the servo?"
I want to control the servo motor's angle through bluetooth connection on android app.
It is ok for control the led on and off:

[code]
But when I control the servo motor, the connection was break:

[code]

Why the writing for servo motor breaks the BLE connnection?

[2017-12-15 18:14] fhackenberger commented on #492
If you're just interested in flashing on the Raspberry Pi (after building the firmware on your dev machine), here's some code you can follow:

Build your project on your dev machine, following [Arduino CLI](https://github.com/arduino/Arduino/blob/master/build/shared/manpage.adoc) docs.
[code]
Abort the flashing process, the binary is now in `build/Energymanagement.ino.bin`

Get dfu-util on the Ras

[2017-12-15 23:56] gtabbut1 opened #579 "CMD"
How do I resolve this error: "exec: "cmd": executable file not found in $PATH"

[2017-12-21 16:42] vshymanskyy commented on #531
Guys, what's the plan?

[2017-12-28 23:23] vshymanskyy opened #580 "Is Arduino101 abandoned?"
I am (and the whole Blynk Community is) waiting for a rather simple issue to be fixed: https://github.com/arduino/ArduinoCore-arc32/issues/531.
We're waiting since April. Is Arduino101 abandoned?

[2017-12-30 22:03] #563 closed

[2017-12-31 10:09] eriknyquist commented on #580
I cannot say what Intel has decided to do with arduino101 (because I do not know), but I can say that I and everyone else who worked on arduino101 has been laid off. We all work elsewhere now.

[2018-01-02 18:51] fgaetani opened #581 "Limited refresh rate for notify characteristics"
Hi, I found a problem in curieBLE library with the subscribe at notify characteristics. My goal is to read with a 50Hz refresh rate the value of a characteristic updated at 50Hz through a BLE device. There are not problem in notify, but in subscribe, because through other bluetooth devices I can read easly the data at 50Hz. The maximum limit detected is 20Hz, the value is updated every 50ms consta

[2018-01-07 20:26] vshymanskyy commented on #580
@eriknyquist Thank you for your work, anyway. It was a promising device among makers at least ;)

[2018-01-08 15:39] eriknyquist commented on #580
it was a fun ride, I'm not complaining :) also, I've seen no announcements that Intel is cancelling Arduino101, it might still live on. Of course someone else has to get up to speed so threads might just be silent for a while (just speculating here, don't take that for an official update....)

[2018-01-08 17:03] foxed-in commented on #580
Check out the new home (URL) for this repo!

[2018-01-08 17:05] vshymanskyy commented on #580
@foxed-in could you elaborate?

[2018-01-19 13:20] Raffprta opened #582 "Error compiling for board Arduino/Genuino 101."
When I follow the instructions on how to import this project into the Arduino15 directory I get "Error compiling for board Arduino/Genuino 101." after the compilation stage. Are there any details on how to import/modify this project and have it successfully compile using the Arduino IDE?

[2018-01-19 13:26] facchinm commented on #582
Hi @Raffprta ,
could you paste the **verbose** output of the compilation process?

[2018-01-19 13:54] Raffprta commented on #582
C:\Program Files (x86)\Arduino\arduino-builder -dump-prefs -logger=machine -hardware C:\Program Files (x86)\Arduino\hardware -hardware C:\Users\b3026320\AppData\Local\Arduino15\packages -tools C:\Program Files (x86)\Arduino\tools-builder -tools C:\Program Files (x86)\Arduino\hardware\tools\avr -tools C:\Users\b3026320\AppData\Local\Arduino15\packages -built-in-libraries C:\Program Files (x86)\Ardu

[2018-01-19 14:13] facchinm commented on #582
The error is about upload, not compilation. You need an updated version of `arduino101load` which has not been shipped yet. You can grab the latest binary from [here](http://downloads.arduino.cc/tools/arduino101load-2.2.2-windows_386.tar.bz2) and extract it in `C:\Users\b3026320\AppData\Local\Arduino15\packages\Intel\tools\arduino101load\2.0.1/` (replacing `arduino101load.exe` binary)

[2018-01-19 14:16] Raffprta commented on #582
Perfect, that resolves the issue, thank you :)

[2018-01-19 14:16] #582 closed

[2018-01-26 06:21] don opened #583 "Peripheral not connectable when broadcasting characteristic value"
Issue #420 added support for broadcasting a characteristic value. This works now, however I'm not able to connect to the peripheral. (Sample code below.)

nRF Connect (Samsung S8 with Android 7.0) has a connect button but the connection always fails.
nRF Connect (iPhone 7 with iOS 11.2.5) reports the peripheral is not connectable.

![not-connectable](https://user-images.githubusercontent.com/3133/

[2018-02-09 00:23] per1234 opened #584 "Incorrect capitalization of true in CurieIMU documentation"
The Boolean literal `true` is incorrectly capitalized "True" in the following reference pages:
- https://www.arduino.cc/en/Reference/CurieIMUgetInterruptStatus
- https://www.arduino.cc/en/Reference/CurieIMUmotionDetected
- https://www.arduino.cc/en/Reference/CurieIMUshockDetected
- https://www.arduino.cc/en/Reference/CurieIMUstepsDetected
- https://www.arduino.cc/en/Reference/CurieIMUtapDetected

[2018-02-12 09:31] facchinm commented on #584
@kengdahl can you take a look?

[2018-03-22 14:08] kengdahl commented on #584
@facchinm Sure.

[2018-03-26 08:59] kengdahl commented on #584
Done

[2018-03-26 09:01] #584 closed

[2018-05-15 21:11] wldevries commented on #580
It seems the board is very well supported by the [Zephyr project](http://docs.zephyrproject.org/boards/x86/arduino_101/doc/board.html), a real-time OS by the Linux foundation. It'll probably be more involved to create stuff but the documentations looks good.

I can't really make heads or tails of this repository, because there are no build scripts and it's unclear what runs on the ARC chip and wha

[2018-05-15 22:10] PaulStoffregen commented on #580
From your comments, I'm guessing you've never used the Arduino software?

To build this repository, you do the same as any other of Arduino's boards.  From the Arduino software, you click Tools > Boards > Boards_Manager.  Then from the list of board packages to install, select "Intel Curie (32-bit) Boards".  Wait for a moment while the software downloads and installs this repository and the relate

[2018-05-16 07:29] wldevries commented on #580
Thanks for the explanation @PaulStoffregen , however I do know my way around the Aruino software. I was just wondering how to build this repository. Browsing through the release notes it seems it is built on Zephyr and from the name of the repository I guess everything here is destined for the Arc core. Since all source code is just packed in a zip in the release it is probably used as a library b

[2018-05-16 08:12] PaulStoffregen commented on #580
If teenagers all over the world can figure out how to run Arduino, successfully compiling and uploading code to their Arduino boards, I'm pretty sure you can too.

[2018-06-07 08:28] Juanma24- commented on #580
https://hackaday.com/2017/07/25/the-end-of-arduino-101-intel-leaves-maker-market/

[2018-06-12 09:01] ThierryGo1 commented on #495
Hello Khanning,
Have you found solution about this bug ??
Because i need to discuss with IMU at a long time.
TU

[2018-06-20 23:31] naumann opened #586 "some EEPROM.CPP ERROR"
Hi!

the library works perfectly, my code also, but just #include <ESP_EEPROM.h> and the error as below:
OBS: with EEPROM library works too, but I need long words.
thank you in advance!
André Naumann

Arduino: 1.8.5 (Windows Store 1.8.10.0) (Windows 10), Placa:"WeMos D1 R1, 80 MHz, 4M (1M SPIFFS), v2 Lower Memory, Disabled, TLS_MEM, Only Sketch, 921600"

Archiving built core (caching) in: C:\Users

[2018-06-21 07:18] facchinm commented on #586
Hi @naumann ,
I think you are posting to the wrong repository :slightly_smiling_face: The correct one is https://github.com/esp8266/Arduino . Thanks!

[2018-06-21 07:18] #586 closed

[2018-07-16 21:23] PaulStoffregen opened #587 "SPI.beginTransaction allows SPISettings faster than 8 MHz"
The SPI port on Arduino 101 does not properly receive MISO input when the clock is configured faster than 8 MHz.  However, SPI.beginTransaction() does not properly limit the speed to 8 MHz when a program attempts to configure higher clock speeds.

I added a workaround in my work on the Ethernet library.
https://github.com/PaulStoffregen/Ethernet/commit/d7155e132c15823c7314e545bf2ae39ee1c27a75

I u

[2018-08-02 20:57] jarne14 opened #589 "Cannot discover attributes"
Hi,
Working with CurieBLE (version 2.0.0) on my Intel Curie Nano Board (version 2.0.2), I'm trying to use SensortagButton from "CurieBLE->Central" samples on Arduino IDE 1.8.5.
I managed to scan my device, print advertised service, connect, but when it comes to discover attributes it fails.

[code]

In rare cases, discoverAttributes() returns true, but no service is found, no characteristic either

[2018-08-23 14:28] lemio opened #590 "Limited error messages, when selecting the wrong COM port"
Hey,

Right now on the Arduino 101 it doesn't give the suggestion to change the COM port when selecting the wrong one. It would be better if it was replaced by this text

Current text:
[code]

Better text:
`Couldn't find a Board on the selected port. Check that you have the correct port selected.  If it is correct, try pressing the board's reset button after initiating the upload.`

As on this pag

[2018-09-04 04:38] JAICHANGPARK opened #591 "How to using UART ISR ?"
HI THERE~

I'd like to using uart interrupt in my code

any have example code ? or method?

[2018-09-07 20:15] AnthonyFaubert commented on #589
I'm having a very similar issue. I'm trying to connect to Vector 3 cycling power pedals, but it's never able to discover attributes.
Output from PeripheralExplorer example that was modified to not check the localName:
[code]
I've heard that the CurieBLE library can only handle devices with about 8 characteristics total. Checking with nRF app, this device has a total of 18 characteristics.
Doing so

[2018-09-10 12:44] JAICHANGPARK opened #592 "[Urgent][Stuck Problem] BLE setValue in callback function!"
Hi There

Now , I'm using curie nano board
my ble program is using callback function.

[code]

- where syncChar
[code]

My problem code parts is number 3
Cuire board is stuck in for statement

How to solved this problem?

regards

[2018-10-13 13:39] PiotrDabkowski commented on #495
For the record the solution:

    noInterrupts();
    CurieIMU.readMotionSensor(aix, aiy, aiz, gix, giy, giz);
    interrupts();

seems to work for me - I have not observed a single crash for ~1h and I am using 800Hz IMU update frequency. I am using it for a quadcopter so I hope it does not crash mid-air (especially that the PWM output stays the same!).

[2018-10-24 06:05] Timothdev opened #593 "Can't send BLE data less than 25ms?"
I am using Intel Curie's Tiny Tile.
I have been trying to send Acceleration data at 10ms. I could send at 25 ms.
When the characteristic is updated at less than 25ms it get hanged in my nrf connect app.
[code]

[2018-10-24 06:17] Timothdev opened #594 "Crashing when three or more characteristics are updated every 30ms?"
Intel Curie's Tiny-Tile board crashes when three or more characteristics are updated every 30ms.
[code]

[2018-10-24 12:20] Timothdev commented on #593
Hi! @sandeepmistry
Can you please point out the mistake in the above code?

[2018-10-26 05:45] Timothdev commented on #594
Hi! @facchinm, can you please point out the mistake in the above code?

[2018-11-04 22:37] Timothdev commented on #545
Hi @hgflas ,
Did you solve it?

[2018-11-08 05:53] Timothdev commented on #594
Hi all, the problem was that the client connection interval was not aligned with the server.
There is an example code give by @sgbihu. This solved the problem.
https://github.com/arduino/ArduinoCore-arc32/commit/bb5b7b4939e3e486d012298b7a7b831c17eb2877

[2018-11-08 05:55] Timothdev commented on #593
Updating the connection interval of the client, solved the problem.
This example code solved the problem.
https://github.com/arduino/ArduinoCore-arc32/commit/bb5b7b4939e3e486d012298b7a7b831c17eb2877

[2018-11-08 05:55] #593 closed

[2019-03-28 17:19] MRusnak1 opened #596 "CurieBLE - BLECommon dosen't existe .."
"Arduino: 1.8.9 (Windows Store 1.8.21.0) (Windows 10), Board: "Arduino Mega ADK"

In file included from C:\Users\User\Documents\Arduino\libraries\CurieBLE\src/CurieBLE.h:33:0,

                 from C:\Users\User\Documents\Arduino\libraries\CurieBLE\src/BLECharacteristic.h:23,

                 from C:\Users\User\Desktop\26-03-BLE_central.ino\26-03-BLE_central.ino.ino:3:

C:\Users\User\Documents\A

[2019-03-29 08:11] facchinm commented on #596
Hi @MRusnak1 ,
you need to select `Arduino/Genuino 101` as a target board when using CurieBLE library; right now you are selecting `Mega ADK` :wink:

[2019-03-29 08:11] #596 closed

[2019-04-02 16:06] MRusnak1 commented on #596
Hi
Did you know some library whit the same work mode?
I have two boards, but bout of them are mega xD

Enviado do Correio para Windows 10

De: Martino Facchin
Enviado: 29 de março de 2019 08:11
Para: arduino/ArduinoCore-arc32
Cc: MRusnak1; Mention
Assunto: Re: [arduino/ArduinoCore-arc32] CurieBLE - BLECommon dosen't existe.. (#596)

Hi @MRusnak1 ,
you need to select Arduino/Genuino 101 as a target

[2019-04-09 16:25] MRusnak1 opened #597 "CurieBLE for HM-11"
hi guys, someone know ble library identical do curie ble?
because i'm working with arduino mega and the current library just work with arduino 101..
basically i need to configure my services and characteristics on master to read the slave data
thanks

[2020-03-15 04:54] IeiuniumLux commented on #565
Will this ever be fixed?

[2020-03-15 22:42] IeiuniumLux commented on #399
Will this ever be released?

[2020-03-19 22:27] PaulStoffregen commented on #565
Who do you imagine will work on this problem?

Intel discontinued the chip.  Arduino no longer sells this board.  Intel reassigned or laid off all the developers who worked on the software.

Seems extremely unlikely any lingering issues with Arduino 101 or Intel Curie will ever be fixed.

[2020-05-29 00:19] AmanuelEphrem commented on #565
If you are having uploading issues, I have a fix that helped me. Upload your code to your board and press the master reset every 3-4 seconds. I know it is jankey, but it worked for me :)

[2020-08-01 18:13] limitedAtonement commented on #526
Maybe we can close this one unless @jimaobian has anything to add?

[2020-08-02 00:58] BallscrewBob commented on #526
All done here with it and not seen issue put through forum either so probably dealt with a looooong time ago.

[2020-11-11 13:30] Rafmigz commented on #565
Hi! I also have an Arduino 101 when I upload a code, the Arduino will have a sound of disconnecting USB and connecting sound, until an error will appear: "ERROR: Timed out waiting for Arduino 101 on COM6" is there a fix on this? Thanks!

[2020-11-13 01:26] eriknyquist commented on #565
@Rafmigz  @IeiuniumLux @tamirmha

My apologies for never responding to this thread-- I had these emails tucked away in an old gmail filter because, well, I don't work at Intel anymore, as Paul said :P

Everything @PaulStoffregen said is correct, and because of this I think it is very unlikely that any further development or bug fixing will happen for this repository. This is only speculation of co

[2020-11-16 10:02] Rafmigz commented on #565
Hi! I was really persistent to look for ways on how to fix the Arduino/Genuino 101 Timeout Error, I searched different threads and read a lot of suggestions on how to fix the error, but still all failed, I know some of the 101 users already bricked their 101 or other just left it behind.

We are all aware that the Arduino 101 is already discontinued and even support is already stopped, Hence this

[2020-11-19 17:54] Shlumpith commented on #565
I tried to use the solution Rafmigz was able to find. When I ran the driver setup wizard it was able to install the intel drivers but not the libusb drivers. I still cant upload code to the board yet, as it will still wait on the device. Any ideas on how to fix this?
![image](https://user-images.githubusercontent.com/74732409/99704343-435aff80-2a66-11eb-9e52-e4e931e567c1.png)
^ image of the dipnst

[2020-11-27 06:45] Rafmigz commented on #565
Hmmm, seems another problem, try to do it in other computer, as I tried mine for 4 computers and everything seems to work well with the fix.

or try to re install the driver again.

Thanks!

Rafmigz

[2020-12-03 17:05] ryantm opened #599 "Should extra_flags be empty in platform.txt?"
In my continuous integration pipeline, I was using the arduino-cli to compile an Arduino library example for the Intel:arc32:arduino_101 like:

[code]

The `IN_CI` define is supposed to let me modify my code example if I'm compiling in the CI.

However, I get this error message:

[code]

If I add in the [cpp.extra_flags](https://github.com/arduino/ArduinoCore-arc32/blob/00f50b3f231cee5f5bf1c9395e2

[2020-12-03 17:23] matthijskooijman commented on #599
See https://github.com/arduino/arduino-cli/issues/846 for some related discussion.

[2020-12-12 16:17] lokanath467 opened #601 "SoftwareSerial core library"
I am working on Arduino Uno board but i recently encountered a problem while using SoftwareSerial module. Data sending to ESp8266-01 over Tx was successful but reading back data from esp8266-01 to Arduino Uno over Rx was giving me garbage  Is it SerialSoftware module problem?. Please help me reading data properly.
![image](https://user-images.githubusercontent.com/15817014/101989112-25c73180-3cc4-

[2021-01-07 11:08] Syntrice commented on #565
I can confirm this worked for me. Finally glad to have a fix!

[2021-01-13 09:40] Yasu31 commented on #565
@Rafmigz 's solution worked, thank you! Leaving a step-by-step memo of how I resolved it, for future reference...
1. disconnect the Arduino 101 if it is connected (not sure if this is necessary, but just in case to prevent if Windows decides to automatically install drivers)
1. uninstall the **Intel Curie Boards** from the Arduino Boards Manager
2. restart Windows into the boot options menu. I use

[2021-02-26 16:54] wldevries commented on #580
@PaulStoffregen no need to be pedantic. I was not asking how to build a sketch, but how to build the firmware for the 101 board.

[2021-03-18 02:03] wengweng675 commented on #565
how to uninstall the intel curie board

[2021-03-18 20:44] PaulStoffregen commented on #565
@per1234 - Perhaps the Arduino 101 retired product page should be updated with a link to this github issue?

https://github.com/arduino/Arduino

The "Getting Started" section on the Overview tab seems like an ideal place to mention how Windows users should install the unsigned driver.

[2021-09-15 05:36] ssilverman opened #602 "IPAddress missing definition of operator!=()"
This was already fixed in ArduinoCore-API:
* https://github.com/arduino/Arduino/issues/7336
* https://github.com/arduino/ArduinoCore-API/commit/d5ae3faba1d69500f920c57b2afac59021831278

[2022-08-28 19:13] trenskow commented on #582
If I wanted to download the latest version (2.2.2), but for Mac, then what's the URL? The one you posted four years ago is for Windows.

Edit: Took a wild guess and found it [here](http://downloads.arduino.cc/tools/arduino101load-2.2.2-darwin_amd64.tar.bz2).

[2022-08-28 19:22] trenskow opened #603 "When I try to upload a simple sketch to the Arduino 101, I get the following error on Mac M1 (macOS Monterey)"
[code]

[2022-09-17 00:08] Karmageddonium commented on #578
Hi there.. 2022. Have u got a solution? Have the same problem. Thx